<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" (click)="close()" >&times;</button>
			<h4 class="modal-title">{{title || 'Confirm'}}</h4>
		</div>
		<div class="modal-body">
			<div class="alert alert-success alert-dismissible" *ngIf="success_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
				<p>{{success_message}}</p>
			</div>
			<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
				<p>{{error_message}}</p>
			</div>
			<form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="name">What is your goal?</label><br>
					<textarea type="goal" id="goal"  value="{{goal}}" formControlName="goal" rows="6" cols="78"></textarea>
				</div>
				<div class="row" *ngIf="create">
				<div class="col-md-8">
					<input type="checkbox" id="box-1" (change)="atabs()">
					<label for="box-1">Do you want to set date for this goal?</label>										
				</div>
				</div><br>
				<div class="row" *ngIf="time">
					<div class="col-md-6">
						<div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)">
						<span class="form-control uneditable-input"  name="daterange" >
							{{ mainInput.start | date:'M/dd/y' }} 
						</span>
						<span class="input-group-btn">
							<a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
						</span>
					</div>
					</div>						
				</div>
				<br>	
				<button type="submit" [disabled]="!Form.valid" class="btn btn-primary pull-right">{{button}}</button>
				<a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>			
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>


