.today{
	font-size:13px;
	color: #ddd;
}
.yesterday{
	font-size:13px;
	color: #ddd;
}
.last{
	font-size:13px;
	color: #ddd;
}
.curser{
	cursor:pointer;
}
.notif-size{
	font-size: 14px;
}
.mark-all{
	font-size: 13px;
	color: #999;
	cursor:pointer;
}

main-header .sidebar-toggle {
	padding: 0 !important;
}

a{
	color: #fff;
}

.bar {
	min-height: 50px;
    background-color: #3c8dbc;
}

a.sidebar-toggle::before{
	color: #fff;
}

.hidden-xs{
	font-size: 10pt;
}

.navbar-nav > .user-menu .user-image {
    width: 24px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    float: none !important;
    display: none;
}


.m-l-5px {
	margin-right: 15px;
}

.dropdown-item{
	padding:0;
}
.main-header .logo {
    height: 53px !important;
}