  <div class="content-wrapper">

  <section class="content-header">
    <h1>
      Notification List
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/notification-list">Notification</a></li>
      <li class="active">List</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11" *ngIf="markAllVal">
        <button class="btn btn-primary pull-left" (click)="markAll()"><i class="fa fa-check-square-o"></i> Mark all as read</button>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="col-md-4">
            <label>Date range:</label>
            <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
              <i class="fa fa-calendar"></i>&nbsp;
              <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

    			<table class="table align-center" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
    				<thead>
    					<tr>
                <th>Date</th>
    					  <th>Name</th>
    					  <th>Description</th>
    					</tr>
    				</thead>
    				<tbody>
    					<ng-container *ngFor="let x of notif">
    						<ng-container *ngIf="x.seen == 0">
    							<tr class="unseen" (click)="viewNotif(x)">
                   <td>{{x.created_at | date:"MMMM d, y h:mm a"}}</td>
                   <td *ngIf="x.name != null">{{x.name}}</td>
                   <td *ngIf="x.name == null">{{x.user_name}}</td>
    			         <td>{{x.title}}</td>
    							</tr>
    						</ng-container>
    						<ng-container *ngIf="x.seen != 0">
    							<tr class="cur" (click)="viewNotif(x)">
    			         <td>{{x.created_at | date:"MMMM d, y h:mm a"}}</td>
                   <td *ngIf="x.name != null">{{x.name}}</td>
                   <td *ngIf="x.name == null">{{x.user_name}}</td>
    			         <td>{{x.title}}</td>
    							</tr>
    						</ng-container>
    					</ng-container>
    				</tbody>
    			</table>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->



