<div class="content-wrapper">
	<section class="content-header">
		<h1>
			Question List <br/>
			<small>Question tables</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="../admin/category-list">Category</a></li>
			<li><a href="../admin/sub-category-list">Sub Category</a></li>
			<li class="active">List</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
				<a class="btn btn-info pull-left" (click)="addModal()">Add Question</a>
			</div>
		</div><br/>
		<div class="row">
			<div class="col-xs-12 col-lg-12 col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Question List</h3>
					</div>
					<div class="box-body">
						<table datatable [dtTrigger]="dtTrigger" class="row-border hover">
							<thead>
								<tr>
									<th>Question</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let x of question">
									<td>{{x.text}}</td>
									<td>
										<i class="fa fa-pencil" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="editModal(x.id)"></i>&nbsp;
										<i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="archiveQuestion(x.id)"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>