<div class="content-wrapper">   
   <section class="content-header">
      <h1>
         Memo List <br/>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">Dashboard</a></li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
         <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
            <a class="btn btn-info pull-left" (click)="addModal()">Add Memo</a>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
                  <div class="col-md-2">
                     <label class="control-label">Choice Filter:</label>
                     <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                        <option selected="selected" value =1 >All</option>
                        <option selected="selected" value =2 >By Date</option>
                        <option selected="selected" value =3>By Company</option>
                        <option selected="selected" value =4>By Employee</option>
                        <option selected="selected" value =0 >None</option>
                     </select>
                  </div>
                  <div class="col-md-3" *ngIf="byDate">
                     <label>Date Range:</label>
                     <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                        <span class="form-control uneditable-input"  name="daterange">
                           {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                        </span>
                        <span class="input-group-btn">
                           <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                     </div>
                  </div>
                     <div class="col-md-3" *ngIf="byType">
                     <label for="type">Type:</label>
                     <select2 id="type" name="type" 
                     [data]="memo_type" 
                     [width]="293"
                     [value]="memo_type_value"
                     (valueChanged)="changedMemoType($event)" 
                     required></select2>
                  </div>      

                  <div class="col-md-3" *ngIf="byCompany">
                     <label for="company">Company:</label>
                     <select2 id="company" name="company" 
                     [data]="company" 
                     [width]="293"
                     [value]="company_value"
                     (valueChanged)="changedCompany($event)" 
                     required></select2>
                  </div>                                    
                  <div class="col-md-3" *ngIf="byEmployee">
                     <label for="company">Employee:</label>
                     <select2 id="employee" name="employee"
                     [data]="employees"
                     [width]="293"
                     [value]="employee_value"
                     (valueChanged)="changedEmployee($event)"
                     required>
                  </select2>
               </div>                                
               </div>
               <div class="box-body">
                  <ng-container>
                     <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                           <tr>
                              <th>Date</th>
                              <th>Name</th>
                              <th>Memo</th>
                              <th>Company</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let x of memo_data">
                              <td>{{x.date}}</td>
                              <td>{{x.emp_memo}}</td>                
                              <td>{{x.memo_name}}</td>  
                              <td>{{x.com_name}}</td>              
                           </tr>
                        </tbody>
                     </table>
                    
                  </ng-container>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>