<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   	 <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>

      <div class="form-loader" *ngIf="loader">
        <div class="row">
          <div class="loader">
            <div class="loading" >
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
            </div>
          </div>
        </div>
      </div>

    <ng-container *ngIf="!loader && !businesslogs">
     <div class="form-group" *ngIf="!user">
     	<div class="row">
     		<div class="col-md-12"> 
     			<label class="control-label" for="employee" >Employee:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="name" readonly/>
     		</div>
     	</div>  
     </div>

     <div class="form-group" *ngIf="types">
      <div class="row">
        <div class="col-md-12"> 
          <label class="control-label" for="type" >Type:</label>
          <input type="text" name="" class="form-control" [(ngModel)]="type" readonly/>
        </div>
      </div>  
     </div>

     <div class="form-group" *ngIf="!date_range">
     	<div class="row">
     		<div class="col-md-12"> 
     			<label class="control-label" for="date" >Date:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="date" readonly/>
     		</div>
     	</div>  
     </div>

     <div class="form-group" *ngIf="type_and_time">
     	<div class="row">
     		<div class="col-md-6"> 
     			<label class="control-label" for="type" >Type:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="type" readonly/>
     		</div>
     		<div class="col-md-6"> 
     			<label class="control-label" for="time" >Time:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="time" readonly/>
     		</div>
     	</div>  
     </div>
     
     <div class="form-group" *ngIf="date_range">
     	<div class="row">
     		<div class="col-md-6"> 
     			<label class="control-label" for="date" >Start Date:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="startDate" readonly/>
     		</div>
     		<div class="col-md-6"> 
     			<label class="control-label" for="date" >End Date:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="endDate" readonly/>
     		</div>
     	</div>  
     </div>

     <div class="form-group" *ngIf="start_end_time">
      <div class="row">
        <div class="col-md-6"> 
          <label class="control-label" for="date" >Start Time:</label>
          <input type="text" name="" class="form-control" [(ngModel)]="startTime" readonly/>
        </div>
        <div class="col-md-6"> 
          <label class="control-label" for="date" >End Time:</label>
          <input type="text" name="" class="form-control" [(ngModel)]="endTime" readonly/>
        </div>
      </div>  
     </div>

     <div class="form-group" *ngIf="leave">
     	<div class="row">
        <div class="col-md-3"> 
          <label class="control-label" for="date" >Total Days:</label>
          <input type="text" name="" class="form-control" [(ngModel)]="totalDays" readonly/>
        </div>
        <div class="col-md-3"> 
          <label class="control-label" for="date" >Total Hours:</label>
          <input type="text" name="" class="form-control" [(ngModel)]="totalHours" readonly/>
        </div>
     		<div class="col-md-3"> 
     			<label class="control-label" for="date" >Total with Pay:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="withPay" readonly/>
     		</div>
     		<div class="col-md-3"> 
     			<label class="control-label" for="date" >Total without Pay:</label>
     			<input type="text" name="" class="form-control" [(ngModel)]="withOutPay" readonly/>
     		</div>
     	</div>  
     </div>

     <div class="form-group">
      <div class="row">
        <div class="col-md-12"> 
          <label class="control-label" for="date" >Reason:</label>
          <textarea class="form-control" name="reason" id="reason" rows="3" placeholder="Reason ..." [(ngModel)]="reason" readonly></textarea>
        </div>
      </div>  
     </div>

     <!-- <div class="form-group" *ngIf="final_remarks != null">
     	<div class="row">
     		<div class="col-md-12"> 
     			<label class="control-label" for="date" >{{status}} because:</label>
     			<textarea class="form-control" name="reason" id="reason" rows="3" placeholder="Reason ..." [(ngModel)]="final_remarks" readonly></textarea>
     		</div>
     	</div>  
     </div> -->

    <div class="form-group" *ngIf="leave">
      <div class="row">
        <div class="col-md-12 overflow">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="text-area-color text-center text-white">
                <th>Day</th>
                <th>Date</th>
                <th>Time Type</th>
                <th>Length Days</th>
                <th>Length Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let data of leaveData;  let i = index">
                <td>
                  {{data.day}}
                </td>
                <td>
                  {{data.date | date:"MMMM dd,yyyy"}}
                </td>
                <td>
                  {{data.time_type }}
                </td>
                <td>
                  {{data.length_days}}
                </td>
                <td>
                  {{data.length_hours}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="ob">
      <div class="row">
        <div class="col-md-12 overflow">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="text-area-color text-center text-white">
                <th>Day</th>
                <th>Date</th>
                <th>Location</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let data of obData;  let i = index">
                <td>
                  {{data.day}}
                </td>
                <td>
                  {{data.date | date:"MMMM dd,yyyy"}}
                </td>
                <td>
                  {{data.location}}
                </td>
                <td>
                  {{data.start_time}}
                </td>
                <td>
                  {{data.end_time}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="sa">
      <div class="row">
        <div class="col-md-12 overflow">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="text-area-color text-center text-white">
                <th>Day</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Break Start</th>
                <th>Break End</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let data of saData;  let i = index">
                <td>
                  {{data.day}}
                </td>
                <td>
                  {{data.date | date:"MMMM dd,yyyy"}}
                </td>
                <td>
                  {{data.start_time}}
                </td>
                <td>
                  {{data.end_time}}
                </td>
                <td>
                  {{data.break_start}}
                </td>
                <td>
                  {{data.break_end}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="businesslogs && !loader">
      <div *ngIf="!attVal">
        <h5 style="text-align: center; font-size: 12pt" ><em>"No Business Logs Available."</em></h5>
      </div>
      <div class="form-group" *ngIf="attVal">
        <div class="row">
         <div class="col-md-12">
            <table class="table table-hover table-bordered text-center">
              <thead>
                  <tr>
                    <th>Type</th>
                    <th>Remarks</th>
                    <th class="text-green">Start</th>
                    <th class="text-red">End</th>
                  </tr>
              </thead>
              <tbody *ngFor="let x of dataAtt">
                  <tr>
                    <td>{{x.type}}</td>
                    <td>{{x.remarks}}</td>
                    <td *ngIf="x.log_in == null"><strong>NO TIME IN</strong></td>
                    <td *ngIf="x.log_in != null">{{x.log_in | date:'hh:mm:ss'}}</td>
                    <td *ngIf="x.log_out == null"><strong>NO TIME OUT</strong></td>
                    <td *ngIf="x.log_out != null">{{x.log_out | date:'hh:mm:ss'}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </ng-container>

   </div>
   <div class="modal-footer" *ngIf="!loader">
      <ng-container *ngIf="buttons">
     		<button type="button" class="btn btn-primary" (click)="approved()" [disabled]="!validate">Approved</button>
     		<button type="button" class="btn btn-danger" (click)="rejected()" [disabled]="!validate">Reject</button> 
      </ng-container>
      <ng-container *ngIf="businesslogs">
        <button type="button" class="btn btn-default" (click)="close()">Close</button>
      </ng-container>
   </div>
 </div>
</div>
