<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
         <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
         <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
         <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
         <p>{{error_message}}</p>
      </div>
 
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
 
        <div class="form-group">
         <label class="control-label" for="name">Name:</label>
         <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" [(ngModel)]="name" required>
        </div>
 
        <div class="form-group">
          <label class="control-label">Company:</label><br>
            <select2
              [data]="company" 
              [options]="options"
              [width]="470"
              [value]="company_value"
              (valueChanged)="changedCompany($event)" 
              required>
            </select2>
        </div>

		<div class="pull-right">
	       <button type="button" class="btn btn-default cur" (click)="close()">Close</button>
	       <button type="submit" [disabled]="!Form.valid" class="btn btn-primary cur">{{button}}</button>
		</div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
 </div>