<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
   <section class="content-header">
      <h1>
        SSS Contribution Table <br/>
         
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">SSS</a></li>
         <li class="active">List</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
           
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">SSS List</h3>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  <table datatable class="row-border hover" [dtOptions]="dtOptions">
                     <!-- [dtOptions]="dtOptions" -->
                  </table>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </section>
   <!-- /.content -->
</div>