.box-footer[_ngcontent-jag-170] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #e9e9e9;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #e9e9e9;
    word-wrap: break-word;
    
    background-clip: border-box;
}

.fa.pull-right {
    margin-left: .3em;
    margin-right: 1.3em;
}

.h3{
    text-align: center;
}

.panel.panel-primary{
    height: auto;
}

.edit{
    font-size: 20px; 
    cursor:pointer;color:#2386bf; 
}

.approved{
    font-size: 20px; 
    cursor:pointer;
    color:#15c533; 
}

.reject{
    font-size: 20px; 
    cursor:pointer;
    color:#e43a3a; 
}

.center{
    text-align: center;
    font-size: 150%;
}

.par{
    font-size: 135%;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:302%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked)>label.active:hover,
.rating:not(:checked)>label.active:hover~label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.previous {
    background-color: #f1f1f1;
    color: black;
}

.rate {
  font-weight: 900;
  font-size: 250%;
}

.card.hover {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}

.atabs{
    width:100px;
}


.laki{
    font-size: 210%;

}

.pos{
    text-align: center;
}

.card-body{
    background-color: #fff;
}



