<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="box">
				<div class="box-header">
				</div>
				<div class="box-body">
					<div class="row">
						<div class="card col-sm-3">
							<img class="card-img-top" src="../assets/img/user-placeholder.png" alt="Card image cap">
							<div class="card-block">
								<p class="card-text" > <strong style="font-size: 17pt;">
								</strong>
							</p>
							<p style="font: 12 pt"></p><br>    
							<i> </i> <strong></strong> <br>                                       
							<i> </i> <strong></strong>                                
						</div>
					</div>
					<div class="col-sm-9">
						<div class="card text-center">
							<div class="card-header center">Add Goal
								<button type="button" class="btn btn-primary btn-sm float-right" (click)="addGoal()">Add Goal</button>							
							</div>
							<div class="card-body">
								<table  class="table table-bordered pos">
									<thead>
										<tr>
											<th>Implement</th>
											<th>Goal</th>
											<th>Date</th>
											<th>Action</th>
										</tr>   
									</thead>
									<tbody style="text-align: left;">
										<tr *ngFor="let x of goal">
											<td>{{x.date_started}}</td>
											<td>{{x.goal}}</td>
											<td>{{x.time_frame}}</td>
											<td>
												<i class="fa fa-pencil" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="editGoal(x.id)"></i>&nbsp;
												<i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="archiveGoal(x.id)"></i>
											</td>
										</tr>
									</tbody>                                
								</table>
							</div>
						</div>					
						<br>
						<br>
						<div class="card text-center">
							<div class="card-header center">Rate Objectives	</div>
							<div class="card-body">
								<table  class="table table-bordered pos">
									<thead>
										<tr>
											<th>Implement</th>
											<th>Objective</th>
											<th>Objective Development</th>
											<th>Rate Value</th>
											<th>Feedback</th>
										</tr>   
									</thead>
									<tbody style="text-align: left;">
										<tr *ngFor="let x of view_rate">
											<td>{{x.implement}}</td>
											<td>{{x.objective}}</td>
											<td>{{x.achieve_obj}}</td>
											<td>{{x.rate_value}}</td>
											<td>{{x.feedback}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>