<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateSegmentForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Segment</label>
          <input type="text" class="form-control" id="name" placeholder="Enter segment" formControlName="name" value="{{name}}"/>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description" formControlName="description" value="{{description}}"/>
        </div>
        <button type="submit" [disabled]="!updateSegmentForm.valid" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>