user<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="passwordChange" (ngSubmit)="validateUpdate()">
        <div class="form-group">
            <label class="control-label" for="name">Current Password</label>
            <input type="password" class="form-control" id="name" placeholder="Enter your name" formControlName="current_password" value="">
        </div>
        <div formGroupName="passwords">
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group">
              <label class="control-label" for="password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" formControlName="confirm_password">  
              <div  style="color:red;" *ngIf="passwordChange.controls['passwords'].touched &&  !passwordChange.controls['passwords'].valid">Passwords do not match</div>
          </div>
        </div>
        <div class="form-group pull-right">
            <ul class="list-inline">
              <li> <button class="btn btn-success" type="submit" [disabled]="!passwordChange.valid" >Update Password</button></li>
            </ul>
        </div>   
        <div class="clearfix"></div>
    </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
