<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="OUForm" (ngSubmit)="submit()">
     
        <div class="form-group" *ngIf="multi || single">
          <div class="row">
            <div class="col-lg-6">
              <ng-container *ngIf="multi">
                <label class="control-label" for="employee" >Employee:</label>
                <select2 
                 [data]="employee"
                 [options]="options"
                 [width]="383"
                 [value]="employee_value"
                 (valueChanged)="changed($event)"
                required>
                </select2>
              </ng-container>
              <ng-container *ngIf="single">
                <label class="control-label" for="employee" >Employee:</label>
                <select2 
                [data]="employee" 
                [width]="383" 
                [value]="employee_value"
                (valueChanged)="changed($event)"  required>
                </select2>
              </ng-container>
            </div>
            <div class="col-lg-6">
              <label>Select Date:</label>
               <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)" *ngIf="!singleDate">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
               </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!multi && !single">
          <div class="row">
            <div class="col-lg-12">
              <label>Select Date:</label>
               <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)" *ngIf="!singleDate">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
               </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label>Start Time:</label>
              <timepicker [(ngModel)]="start_time" [showMeridian]="ismeridian" formControlName="start_time" (click)="computeHours()">
              </timepicker>
            </div>
            <div class="col-lg-4">
              <label>End Time:</label>
              <timepicker [(ngModel)]="end_time" [showMeridian]="ismeridian" formControlName="end_time" (click)="computeHours()">
              </timepicker>
            </div>
            <div class="col-lg-4">
              <button type="button" class="btn btn-info" (click)="toggleMode()">12H / 24H</button><br>
              <label>No. of Hours:</label><br>
              <input type="label" value={{length_hours}} class="form-control" readonly/>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label>Reason:</label>
              <textarea class="form-control" name="remarks" id="remarks" rows="3" placeholder="Reason ..."  formControlName="remarks" [(ngModel)]="remarks" (click)="duplicateEntryValidation()" required></textarea>
            </div>
          </div>
        </div>

      <button type="submit" class="btn btn-primary pull-right" [disabled]="!OUForm.valid || !validate">{{button}}</button>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
