<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createRoleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter role name" formControlName="name">
          <div class="custom_error" *ngIf="createRoleForm.controls['name'].touched && !createRoleForm.controls['name'].valid">
            The role name must be at least 2-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter role display name" formControlName="display_name">
          <div class="custom_error" *ngIf="createRoleForm.controls['display_name'].touched && !createRoleForm.controls['display_name'].valid">
            The role display name must be at least 2-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter role description" formControlName="description">
          <div class="custom_error" *ngIf="createRoleForm.controls['description'].touched && !createRoleForm.controls['description'].valid">
            The description is too long.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Select Permission</label>
          <div id="module">
            <div class="list-group panel">
              <ng-container *ngFor="let module of user_side">
                <div class="module-heading display_name">
                  <a href="#module{{module.id}}" data-toggle="collapse" data-parent="#module" style="color:#fff">
                    {{ module.display_name }} 
                    <ng-container *ngIf="module.menu != 0">
                      <i class="fa fa-caret-down"></i>
                    </ng-container>
                    </a>
                  <div class="switch pull-right">
                    <input id="module{{ module.name }}" name="module" type="checkbox" value="{{module.id}}" (change)="addCheckModule(module.id,$event)" [checked]="getModuleId(module.id) " />
                    <label for="module{{ module.name }}" class="label-primary"></label>
                  </div>
                </div>
                <div class="collapse" id="module{{module.id}}">
                  <ng-container *ngFor="let menu of module.menu">
                      <div class="module-menu-body">
                        <a href="#menu{{menu.id}}" data-toggle="collapse" style="color:#fff">

                      {{menu.display_name}} 

                      <ng-container *ngIf="menu.permission != 0">
                        <i class="fa fa-caret-down"></i>
                      </ng-container>
                      </a>
                        <div class="switch pull-right">
                          <input id="menu{{ menu.name }}" name="menu" type="checkbox" value="{{menu.id}}" (change)="addCheckMenu(menu.id,$event)" [checked]="getMenuId(menu.id)" />
                          <label for="menu{{ menu.name }}" class="label-primary"></label>
                        </div>
                      </div>
                    <div class="collapse" id="menu{{menu.id}}">
                      <ng-container *ngFor="let perms of menu.permission">
                        <div class="permission-group" style="color:#fff">
                          {{ perms.display_name }}
                          <div class="switch pull-right">
                            <input id="perms{{ perms.name }}" name="permission_id" type="checkbox" value="{{perms.id}}" (change)="addCheckPermission(perms.id,$event)" [checked]="getPermsId(perms.id)" />
                            <label for="perms{{ perms.name }}" class="label-primary"></label>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <!-- module of user_side -->
            </div>
          </div>
        </div>
        <!-- modal_body  -->
        <button type="submit" class="btn btn-primary" [disabled]="!createRoleForm.valid">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
