<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Role List
    <small>Role tables</small>
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/role-list">Role</a></li>
      <li class="breadcrumb-item active">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!--  <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
        <a class="btn btn-info pull-left" (click)="openAddModal()">Add Roles</a>
      </div>
  </div> -->
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <button class="btn btn-info pull-left" (click)="openAddModal()">Add Roles</button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Display Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let roles of ad_roles">
                  <tr (click)="clickRow(roles.id, roles.text)">
                    <td>{{roles.text}}</td>
                    <td>{{roles.display_name}}</td>
                    <td>{{roles.description}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
