<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateRoleForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter role name" formControlName="name" value="{{role.name}}" [(ngModel)]="role.name">
          <div class="custom_error" *ngIf="updateRoleForm.controls['name'].touched && !updateRoleForm.controls['name'].valid">
            The role name must be at least 2-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter role display name" formControlName="display_name" value="{{role.display_name}}" [(ngModel)]="role.display_name">
          <div class="custom_error" *ngIf="updateRoleForm.controls['display_name'].touched && !updateRoleForm.controls['display_name'].valid">
            The role display name must be at least 2-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter role description" formControlName="description" value="{{role.description}}" [(ngModel)]="role.description">
          <div class="custom_error" *ngIf="updateRoleForm.controls['description'].touched && !updateRoleForm.controls['description'].valid">
            The description is too long.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Select Permission</label>
          <!-- <div class="form-group">
            <select class="form-control select2" multiple="multiple" data-placeholder="Select a Role" style="width: 100%;" formControlName="permission_id">
              <option value="{{permission.id}}" *ngFor="let permission of perm_rec">{{permission.name}}</option>
            </select>
         </div> -->
          <div id="module">
            <div class="list-group panel">
              <ng-container *ngFor="let module of user_side">
                <div class="module-heading">
                  <a href="#module{{module.id}}" data-toggle="collapse" data-parent="#module" style="color: #fff">
              {{ module.display_name }} 

              <ng-container *ngIf="module.menu != 0">
                <i class="fa fa-caret-down"></i>
              </ng-container>

              </a>
                  <div class="switch pull-right">
                    <input id="module{{ module.name }}" name="module" type="checkbox" value="{{module.id}}" [checked]="getModuleId(module.id)" (change)="addCheckModule(module.id, $event)" />
                    <label for="module{{ module.name }}" class="label-success"></label>
                  </div>
                </div>
                <div class="collapse" id="module{{module.id}}">
                  <ng-container *ngFor="let menu of module.menu">
                      <div class="module-menu-body">
                        <a href="#menu{{menu.id}}" data-toggle="collapse" style="color: #fff">

                  {{menu.display_name}} 

                  <ng-container *ngIf="menu.permission != 0">
                    <i class="fa fa-caret-down"></i>
                  </ng-container>
                  </a>
                        <div class="switch pull-right">
                          <input id="menu{{ menu.name }}" name="menu" type="checkbox" value="{{menu.id}}" [checked]="getMenuId(menu.id) || getMenuIds(menu.id)" (change)="addCheckMenu(menu.id,$event)" />
                          <label for="menu{{ menu.name }}" class="label-success"></label>
                        </div>
                      </div>
                    <div class="collapse" id="menu{{menu.id}}">
                      <ng-container *ngFor="let perms of menu.permission">
                        <div class="permission-group" style="color: #fff">
                          {{ perms.display_name }}
                          <div class="switch pull-right">
                            <input id="perms{{ perms.name }}" name="checkPerms" type="checkbox" value="{{perms.id}}" [checked]="getPermsId(perms.id) || getPermsIds(perms.id)" (change)="addCheckPermission(perms.id,$event)" />
                            <label for="perms{{ perms.name }}" class="label-success"></label>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <!-- module of user_side -->
            </div>
          </div>
        </div>
        <div class="form-group pull-right">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" href="#" (click)="archiveRole($event)"> Archive </button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal-dialog" [disabled]="!updateRoleForm.valid">Update</button>
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
