
.module-heading {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  color: #fff;
  background: #00B0FF;
  border-left-color: #01579B;
}
.module-menu-body {
    padding: 10px 10px 10px 20px;
    display: block;
    background: #40C4FF;
    color: #fff;
    border: 1px solid #ddd;
    border-left-color: #01579B;
    

}
.permission-group {
  border: 1px solid #ddd;
  display: block;
  padding: 10px 10px 10px 30px;
  background: #80D8FF;
  border-left-color: #01579B;
}



/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}

.custom_error {
  color:#a94442;
}

.display_name {
  color:#ffffff !important;
}


a {
  color: #ffffff;
}


a:hover, a:active, a:focus {
  color: #ffffff;
}