
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateQuestionForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Question</label>
          <input type="text" class="form-control" id="question" placeholder="Enter Question" formControlName="question" value="{{question}}"/>
        </div>
        <br>
      <!--   <div class="bituin-button" >          
          <section class='rating-widget'>
            <div class='rating-stars text-center'>
              <ul id='stars'>
                <li class='star' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                <li class='star' data-value='2'><i class='fa fa-star fa-fw'></i></li>
                <li class='star' data-value='3'><i class='fa fa-star fa-fw'></i></li>
                <li class='star' data-value='4'><i class='fa fa-star fa-fw'></i></li>
                <li class='star' data-value='5'><i class='fa fa-star fa-fw'></i></li>
              </ul>
            </div>

            <div class='success-box'>
              <div class='clearfix'></div>
              <div class='text-message'></div>
              <div class='clearfix'></div>
            </div>  
          </section>
        </div> -->
<!-- 
        <div class="heart-button" >          
          <input type="radio" name="rating_class" value="heart" formControlName="rating_class" [checked]="heart" />
          <fieldset class="rating " data-role="controlgroup" data-type="horizontal"  value="1"> 
            <input type="radio" id="heart5" name="rating" value="5" /><label class="heart" for="heart5"></label>
            <input type="radio" id="heart4" name="rating" value="4" /><label class="heart" for="heart4"></label>
            <input type="radio" id="heart3" name="rating" value="3" /><label class="heart" for="heart3"></label>
            <input type="radio" id="heart2" name="rating" value="2" /><label class="heart" for="heart2"></label>
            <input type="radio" id="heart1" name="rating" value="1" /><label class="heart" for="heart1"></label>
          </fieldset>
        </div>
     
         <div class="smile-button">          
          <input type="radio" name="rating_class" formControlName="rating_class" value="like" [checked]="smile"/>
          <fieldset class="rating" data-role="controlgroup" data-type="horizontal">
            <input type="radio" id="like5" name="rating" value="5" /><label class="like" for="like5"></label>
            <input type="radio" id="like4" name="rating" value="4" /><label class="like" for="like4"></label>
            <input type="radio" id="like3" name="rating" value="3" /><label class="like" for="like3"></label>
            <input type="radio" id="like2" name="rating" value="2" /><label class="like" for="like2"></label>
            <input type="radio" id="like1" name="rating" value="1" /><label class="like" for="like1"></label>
          </fieldset>
        </div>      -->
      <br>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <button type="submit" [disabled]="!updateQuestionForm.valid" class="btn btn-primary pull-right">{{button}}</button>
          <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
        </div>        
      </div>
      </form>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>