  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      My Official Business List
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/my-official-business-list">My Official Business</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
        <button class="btn btn-info pull-left" (click)="createOfficialBusiness()" *ngIf="buttonVal">Add Official Business</button>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Date range:</label>
                <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                </div>
              </div>

              <div class="col-md-4">
                <label for="status">Status:</label><br>
                <select2 id="status" name="status" [data]="status" 
                [options]="options"
                [width]="336"
                [value]="status_value"
                (valueChanged)="changedStatus($event)" 
                required></select2>
              </div>
            </div>
          </div>


        </div>
        <!-- /.box-header -->
        <div class="box-body">
        <table datatable [dtTrigger]="dtTrigger" class="row-border hover align-center">
          <thead>
            <tr>
              <th>Date Filed</th>
              <th>Start Date</th>
              <th>End Date</th>
              <!-- <th>Type</th> -->
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let x of ob" class="cur" (dblclick)="viewDetails(x.id)">
              <td>{{x.date | date }}</td>
              <td>{{x.start_date}}</td>
              <td>{{x.end_date}}</td>
              <!-- <td>{{x.type}}</td> -->
              <td *ngIf="x.final_remarks != null">{{x.final_remarks}}...</td>
              <td *ngIf="x.final_remarks == null">{{x.reason}}...</td>
              <td *ngIf="x.status == 'REJECTED'"><span class="badge badge-danger">{{x.status}}</span></td>
              <td *ngIf="x.status == 'APPROVED'"><span class="badge badge-success">{{x.status}}</span></td>
              <td *ngIf="x.status == 'CANCELLED'"><span class="badge bg-teal">{{x.status}}</span></td>
              <td *ngIf="x.status == 'PENDING'">
                <span class="badge badge-primary cur" (click)="editOB(x.id)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
                <span class="badge badge-danger"(click)="cancelOB(x.id)"><i class="fa fa-remove"></i>&nbsp; Cancel</span>
              </td>
            </tr>
          </tbody>
        </table>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->



