/* You can add global styles to this file, and also import other style files */


@import "./assets/icheck/skins/square/blue.css";

/* index loader */
.loader {
    background: rgba(0, 0, 0, 0.0);
    width: 100%;  
    height: 100%;
    z-index: 9999;
}
.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;

}
.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.content-wrapper {
	min-height: 1036px;
}

/* select2 default bg-color & border-color */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

div.record-picker {
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ddd;
	border-radius:8px;
	position: relative;
	cursor: pointer;
}

/* http://www.ourtuts.com/how-to-customize-browser-scrollbars-using-css3/ */
div.record-picker::-webkit-scrollbar {
	width: 12px;
}

div.record-picker::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

div.record-picker {
	scrollbar-base-color: #337ab7;
	scrollbar-3dlight-color: #337ab7;
	scrollbar-highlight-color: #337ab7;
	scrollbar-track-color: #eee;
	scrollbar-arrow-color: gray;
	scrollbar-shadow-color: gray;
	scrollbar-dark-shadow-color: gray;
	
}

div.record-picker::-webkit-scrollbar-track {
	background:#eee;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.record-picker::-webkit-scrollbar-thumb {
	background: #337ab7;
	border: thin solid gray;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.record-picker::-webkit-scrollbar-thumb:hover {
	background: #286090;
}

.record-picker ul {
	margin: 0;
	padding: 0 0 1px 0;
}

.record-picker li {
	border-top: thin solid #ddd;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 2px 2px 2px 10px;
	margin-bottom: -1px;
	font-size: 0.85em;
	cursor: pointer;
	white-space: nowrap;
	min-height:16px;
}

.record-picker li:hover {
	background-color: #f5f5f5;
}

.record-picker li.selected {
/*	background-color: #ff9; */
	background-color: #d9edf7;
}

.record-picker li.selected:hover {
	background-color: #c4e3f3;
/*	background-color: #d9edf7; */
}

.record-picker li.disabled {
	opacity: 0.5;
	cursor: default;
}

.record-picker li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top: none;
}

.record-picker li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom: none;
}

.record-picker label {
	cursor: pointer;
	font-weight: inherit;
	font-size: 14px;
	padding: 4px;
	margin-bottom: -1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.record-picker ul.over
{
	background-color:lightgray;
}


.td-limit {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

.switch > input[type="checkbox"] {
    display: none;   
}

.switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}						


.pickerdate {
	background: #fff; 
	cursor: pointer; 
	padding: 5px 10px; 
	border: 1px solid #ccc; 
	width: 100%
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.select2-container--default .select2-selection--single {
	border-radius: 0px !important;
	height: 33px !important;
}


#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    display: none;
} 
.ui-tooltip, .ui-widget, .ui-corner-all, .ui-widget-content {
    display: none !important;
}
.ui-helper-hidden-accessible, .ui-tooltip {
    display:none !important;
}

div.ui-tooltip-content {
    display: none !important;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: #000000;
    font-family: Arial;
    font-size: 10;
    white-space: pre-line;
}

body .ui-tooltip {
    border-width: 2px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.padder{
    padding-left:15px;
    padding-right:15px;
}
.padder-v{
    padding-top:15px;
    padding-bottom:15px;
}
.no-padder{
    padding:0 !important;
}
.pull-in{
    margin-left:-15px;
    margin-right:-15px;
}
.pull-out{
    margin:-10px -15px;
}
.b-a{
    border:1px solid #cfcfcf;
}
.b-t{
    border-top:1px solid #cfcfcf;
}
.b-r{
    border-right:1px solid #cfcfcf;
}
.b-b{
    border-bottom:1px solid #cfcfcf;
}
.b-l{
    border-left:1px solid #cfcfcf;
}
.b-light{
    border-color:#e4e4e4;
}
.b-dark{
    border-color:#374b5e;
}
.b-primary{
    border-color:#77c587;
}
.b-success{
    border-color:#9bc877;
}
.b-info{
    border-color:#5fc7c8;
}
.b-warning{
    border-color:#ffcb4d;
}
.b-danger{
    border-color:#fc8174;
}
.b-black{
    border-color:#353535;
}
.b-white{
    border-color:#fff;
}
.b-2x{
    border-width:2px;
}
.b-3x{
    border-width:3px;
}
.r{
    border-radius:2px 2px 2px 2px;
}
.r-l{
    border-radius:2px 0 0 2px;
}
.r-r{
    border-radius:0 2px 2px 0;
}
.r-t{
    border-radius:2px 2px 0 0;
}
.r-b{
    border-radius:0 0 2px 2px;
}
.m-xs{
    margin:5px;
}
.m-sm{
    margin:10px;
}
.m{
    margin:15px;
}
.m-md{
    margin:20px;
}
.m-lg{
    margin:30px;
}
.m-n{
    margin:0 !important;
}
.m-l-none{
    margin-left:0;
}
.m-l-xs{
    margin-left:5px;
}
.m-l-sm{
    margin-left:10px;
}
.m-l{
    margin-left:15px;
}
.m-l-md{
    margin-left:20px;
}
.m-l-lg{
    margin-left:30px;
}
.m-l-xl{
    margin-left:40px;
}
.m-l-n-xxs{
    margin-left:-1px;
}
.m-l-n-xs{
    margin-left:-5px;
}
.m-l-n-sm{
    margin-left:-10px;
}
.m-l-n{
    margin-left:-15px;
}
.m-l-n-md{
    margin-left:-20px;
}
.m-l-n-lg{
    margin-left:-30px;
}
.m-l-n-xl{
    margin-left:-40px;
}
.m-t-none{
    margin-top:0;
}
.m-t-xxs{
    margin-top:1px;
}
.m-t-xs{
    margin-top:5px;
}
.m-t-sm{
    margin-top:10px;
}
.m-t{
    margin-top:15px;
}
.m-t-md{
    margin-top:20px;
}
.m-t-lg{
    margin-top:30px;
}
.m-t-xl{
    margin-top:40px;
}
.m-t-n-xxs{
    margin-top:-1px;
}
.m-t-n-xs{
    margin-top:-5px;
}
.m-t-n-sm{
    margin-top:-10px;
}
.m-t-n{
    margin-top:-15px;
}
.m-t-n-md{
    margin-top:-20px;
}
.m-t-n-lg{
    margin-top:-30px;
}
.m-t-n-xl{
    margin-top:-40px;
}
.m-r-none{
    margin-right:0;
}
.m-r-xs{
    margin-right:5px;
}
.m-r-sm{
    margin-right:10px;
}
.m-r{
    margin-right:15px;
}
.m-r-md{
    margin-right:20px;
}
.m-r-lg{
    margin-right:30px;
}
.m-r-xl{
    margin-right:40px;
}
.m-r-n-xxs{
    margin-right:-1px;
}
.m-r-n-xs{
    margin-right:-5px;
}
.m-r-n-sm{
    margin-right:-10px;
}
.m-r-n{
    margin-right:-15px;
}
.m-r-n-md{
    margin-right:-20px;
}
.m-r-n-lg{
    margin-right:-30px;
}
.m-r-n-xl{
    margin-right:-40px;
}
.m-b-none{
    margin-bottom:0;
}
.m-b-xs{
    margin-bottom:5px;
}
.m-b-sm{
    margin-bottom:10px;
}
.m-b{
    margin-bottom:15px;
}
.m-b-md{
    margin-bottom:20px;
}
.m-b-lg{
    margin-bottom:30px;
}
.m-b-xl{
    margin-bottom:40px;
}
.m-b-n-xxs{
    margin-bottom:-1px;
}
.m-b-n-xs{
    margin-bottom:-5px;
}
.m-b-n-sm{
    margin-bottom:-10px;
}
.m-b-n{
    margin-bottom:-15px;
}
.m-b-n-md{
    margin-bottom:-20px;
}
.m-b-n-lg{
    margin-bottom:-30px;
}
.m-b-n-xl{
    margin-bottom:-40px;
}
.offset-padd-left {
  padding-left: 0;
  margin-left: 0;
}
.offset-padd-right {
  padding-right: 0;
  margin-right: 0;
}