.columnList {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.text-area-color  {
    background-color:#32c5d2;   
}
.cur {
  cursor:pointer;
}

label {
	font-weight: bold;
}