<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   	 <button type="button" class="close" (click)="cancel()">&times;</button>
   </div>
   <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i>{{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i>{{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>

      <!-- use in attendance-import-modal after the file imported and the back end check if there is unknown employee_id if error modal will display this-->
      <ng-container *ngIf="emp_val">
        <p>The following Employee ID is not recognize by the system. Please check your document.</p><br>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <ul class="columnList list-unstyled">
                  <ng-container *ngFor= "let x of data">
                      <li>
                         {{x}}
                      </li>
                  </ng-container>
              </ul>
            </div>
          </div>
         </div>
      </ng-container>

      <!-- creator of attendance credentials -->
      <ng-container *ngIf="emp_credentials">
        <p>You don't have access in creating attendance for the employee below. Please check your credentials.</p><br>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <ul class="columnList list-unstyled">
                  <ng-container *ngFor= "let x of data">
                      <li>
                         {{x.name}}
                      </li>
                  </ng-container>
              </ul>
            </div>
          </div>
         </div>
      </ng-container>

      <!-- use in all my request for validation of duplicate -->
      <ng-container *ngIf="userDup">
        <ng-container *ngFor= "let x of data;">
          <p *ngIf="x.status == 'PENDING'">Request already exist. Do you want to Edit the existing Request?</p>
          <p *ngIf="x.status == 'CANCELLED'">Request already exist. Do you want to Uncancel the existing Request?</p>
          <p *ngIf="x.status == 'REJECTED'">Request already exist. Do you want to Resend the existing Request?</p>
          <p *ngIf="x.status == 'APPROVED'">Request already exist and approve!</p>
        </ng-container>
      </ng-container>

      <!-- use in request for validation of duplicate -->
      <p *ngIf="adminDup">Request already exist</p>
      <div class="form-group" *ngIf="adminDup">
        <div class="row">
          <div class="col-md-12 overflow">
            <table class="table table-hover table-bordered text-center">
              <thead>
                <tr class="text-area-color text-center text-white">
                  <th>Name</th>
                  <th>Status</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let x of data;  let i = index">
                  <td>
                    {{x.name}}
                  </td>
                  <td>
                    {{x.status}}
                  </td>
                  <td>
                    <span class="badge badge-primary cur" (click)="action(x.id,x.status,x.emp_id,i)" *ngIf="x.status == 'PENDING'"> <i class="fa fa-pencil"></i>&nbsp; Edit
                    </span>
                    <span class="badge badge-danger cur"(click)="action(x.id,x.status,x.emp_id,i)" *ngIf="x.status == 'CANCELLED'"> <i class="fa fa-undo"></i>&nbsp; Uncancel
                    </span>
                    <span class="badge badge-success cur"(click)="action(x.id,x.status,x.emp_id,i)" *ngIf="x.status == 'REJECTED'"> <i class="fa fa-undo"></i>&nbsp; Resend
                    </span>
                    <span class="badge badge-info cur"*ngIf="x.status == 'APPROVED'">
                      {{x.status}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- use in create coa for validation of employee that has no record of both logIn and logOut -->
      <p *ngIf="logs">Request doesn't have both log in and log out. Do you want to apply for Official Business?</p>
      <div class="form-group"  *ngIf="logs && !user">
        <div class="row">
          <div class="col-md-12">
           <label>Employee Name</label>&nbsp;
              <input type="checkbox" id="checkAll" (click)="checkAll()" [checked]="checkAllValidation">
           <label for="checkAll" class="cur"><i>Check All</i></label>
            <ul class="columnList list-unstyled">
                <ng-container *ngFor= "let x of empl;  let i = index">
                    <li>
                        <input class="cur" type="checkbox" (change)="EmployeeCheckbox(i)" [checked]="x.val" [id]="x.id">
                        <label class="cur" [for]="x.id"><span>{{x.name}}</span></label>
                    </li>
                </ng-container>
            </ul>
          </div>
        </div>
       </div>
      
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()" *ngIf="userDup">OK</button>
      <button type="button" class="btn btn-primary" (click)="submitToOB()" *ngIf="logs"  [disabled]="!validate">OK</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
   </div>
 </div>
</div>
