`<div class="content-wrapper">
   <section class="content-header">
      <h1>
         Late Comers List <br/>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">Dashboard</a></li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">Late Employee</h3><br/>                     
                  <div class="col-md-2">
                     <label class="control-label">Choice Filter:</label>
                     <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                        <option selected="selected" value =1 >All</option>
                        <option selected="selected" value =2 >By Date</option>
                        <option selected="selected" value =3 >By Sort</option>
                        <option selected="selected" value =4 >By Company</option>
                        <option selected="selected" value =0 >None</option>
                     </select>
                  </div>
                  <div class="col-md-3" *ngIf="byDate">
                     <label>Date Range:</label>
                     <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                        <span class="form-control uneditable-input"  name="daterange">
                           {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                        </span>
                        <span class="input-group-btn">
                           <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                     </div>
                  </div>
                  <div class="col-md-3" *ngIf="bySort">
                     <label for="company">Sort:</label>
                     <select class="form-control" #t id="filter" name="filter" (change)="sortFilter(t.value)">
                        <option selected="selected" value =0 >All</option>
                        <option selected="selected" value =1 >Ascending</option>
                        <option selected="selected" value =2 >Descending</option>
                     </select>
                  </div>
                  <div class="col-md-3" *ngIf="byCompany">
                     <label for="company">Company:</label>
                     <select2 id="company" name="company" 
                     [data]="company" 
                     [options]="options"
                     [width]="297"
                     [value]="company_value"
                     (valueChanged)="changedCompany($event)" 
                     required></select2>
                  </div>
               </div>
               <div class="box-body">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Employee Name</th>
                           <th>Working Schedule</th>
                           <th>Minutes of Late</th>
                           <th >Days of Late</th>
                           <th >Company</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let x of show_late">
                           <td>{{x.date_given}}</td>
                           <td>{{x.employee_name}}</td>
                           <td>{{x.time_in }} - {{x.time_out}}</td>
                           <td>{{x.late}}</td>
                           <td>{{x.no_of_late}}</td>
                           <td>{{x.company}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
</div>