/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

strong:hover {
    background-color:  #ed6b75;
}

.edit {
  font-size: 20px; 
  cursor:pointer;
  color:#2386bf;
}

.delete {
  font-size: 20px; 
  cursor:pointer;
  color:#e43a3a;
}

.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}

label {
  font-weight: bold;
}