  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Attendance List 
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="/admin/attendance-list-default">Attendance</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-10 col-lg-11 col-xs-11">
          <!-- <button type="button" class="btn btn-primary cur" (click)="downloadAttendanceForm()"><i class="fa fa-download"></i> Download</button>&nbsp; -->
          <button type="button" class="btn btn-success cur" (click)="importModal()"><i class="fa fa-upload"></i> Import</button>&nbsp;
          <button type="button" class="btn btn-info cur" routerLink="../attendance-create"><i class="fa fa-plus"></i> Add Attendance</button>&nbsp;
          <button type="button" class="btn btn-danger cur" routerLink="../attendance-upload-logs"><i class="fa fa-trash"></i></button>&nbsp;
          <!-- <button type="button" class="btn bg-olive cur" (click)="bioManualUpload()"><i class="fa fa-cloud-upload"></i>&nbsp;Biometrics</button> -->
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-lg-12 col-lg-12">
          <div class="box">
            <div class="box-header">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                  <label class="control-label">Choose Filter:</label>
                    <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                      <option selected="selected" value =1 >All</option>
                      <option selected="selected" value =5 >By Employee</option>
                      <option selected="selected" value =2 >By Type</option>
                      <option selected="selected" value =3 >By Date</option>
                      <option selected="selected" value =4 >By Company</option>
                      <option selected="selected" value =0 >None</option>
                    </select>
                  </div>

                  <div class="col-lg-4" *ngIf="byDate">
                     <label>Date range:</label>
                      <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                      </div>
                  </div>

                  <div class="col-lg-4" *ngIf="byEmployee">
                    <label class="control-label" for="employee" >Employee:</label><br>
                    <select2 [data]="employee"
                    [options]="options"
                    [width]="336"
                    [value]="employee_value"
                    (valueChanged)="changedEmployee($event)"
                    required>
                  </select2>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4" *ngIf="byStatus">
                    <label for="status">Type:</label><br>
                    <select2 id="status" name="status" 
                    [data]="type" 
                    [options]="options"
                    [width]="336"
                    [value]="type_value"
                    (valueChanged)="changedType($event)" 
                    required>
                      
                    </select2>
                  </div>

                  <div class="col-lg-4" *ngIf="byCompany">
                    <label for="company">Company:</label><br>
                    <select2 id="company" name="company" 
                    [data]="company" 
                    [options]="options"
                    [width]="336"
                    [value]="company_value"
                    (valueChanged)="changedCompany($event)" 
                    required>
                    </select2>
                  </div>
                </div>
              </div>
          </div>
            <!-- /.box-header -->
            <div class="table-responsive">
	            <div class="box-body">
	              	<table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover align-center">
	                  	<thead>
          							<tr>
          								<th width="15%">Employee Name</th>
          								<th>Date</th>
          								<th>Time In</th>
                          <!-- <th>Lunch In</th>
                          <th>Lunch Out</th> -->
          								<th>Time Out</th>
          								<th>Late</th>
          								<th>Undertime</th>
                          <th>Location</th>
          								<th>Action</th>
          							</tr>
          	                  	</thead>
          	                  	<tbody>
          							<tr *ngFor="let x of att">
          							  <td>{{x.name}}</td>
          							  <td *ngIf="x.time_in != null">{{x.date_in}}</td>
          							  <td *ngIf="x.time_in == null">{{x.date_out}}</td>
          							  <td *ngIf="x.time_in == null"><span class="badge badge-warning cur"><i class="fa fa-clock-o"></i>&nbsp; NO TIME IN</span></td>
          							  <td *ngIf="x.time_in != null">{{x.time_in | date: 'HH:mm a' }}</td>
          							  
                          <!-- <td *ngIf="x.lunch_in == null"><span class="badge badge-warning cur"><i class="fa fa-clock-o"></i>&nbsp; NO LUNCH IN</span></td>
                          <td *ngIf="x.lunch_in != null">{{x.lunch_in | date: 'HH:mm a' }}</td>
                          
                          <td *ngIf="x.lunch_out == null"><span class="badge badge-warning cur"><i class="fa fa-clock-o"></i>&nbsp; NO LUNCH OUT</span></td>
                          <td *ngIf="x.lunch_out != null">{{x.lunch_out | date: 'HH:mm a' }}</td> -->

                          <td *ngIf="x.time_out == null"><span class="badge badge-warning cur"><i class="fa fa-clock-o"></i>&nbsp; NO TIME OUT</span></td>
          							  <td *ngIf="x.time_out != null">{{x.time_out | date: 'HH:mm a' }}</td>


          							  <td>{{x.late}}</td>
          							  <td>{{x.undertime}}</td>
                          <td>{{x.location}}</td>

          							  <td>
          							      <span class="cur" (click)="editAttendance(x.id,x.employee_id)"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
          							      <span class="cur" (click)="archiveAttendance(x.id)"><i class="fa fa-trash-o"></i></span>
          							  </td>
          							</tr>
	                  	</tbody>
	              	</table>
	            </div>
        	</div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->
