!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
   <br/>
    <h1>This is the breakdown of government deduction of Employee Salary</h1>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
        <form id="GovDeduction">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
               <form [formGroup]="basicPayForm" (ngSubmit)="computeSalary()">
                  <h2>Input Salary and see the contribution</h2>
                  <div id="salary_input_form" class="form-horizontal" data-role="form" >
                     <div class="form-group">
                        <label for="basic_pay" class="col-sm-6 control-label">Basic Pay</label>
                        <div class="col-sm-6">
                           <input type="text" id="basic_pay" name="basic_pay_input" class="form-control" placeholder="Basic Pay" required="required" style="max-width: 100%;"  formControlName="basicPay"  value="{{basicPay}}" [(ngModel)]="basicPay" />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="dependents" class="col-sm-6 control-label">SSS Contribution</label>
                        <div class="col-sm-6">
                           <input type="text" id="sss" name="sss" class="form-control" style="max-width: 100%;" value="{{sss}}" readonly />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="dependents" class="col-sm-6 control-label">Philhealth</label>
                        <div class="col-sm-6">
                           <input type="text" id="philhealth" name="philhealth" class="form-control" style="max-width: 100%;" value="{{philhealth}}" readonly/>
                        </div>
                     </div>
                    
                     <div class="form-group">
                        <label for="dependents" class="col-sm-6 control-label">Pagibig</label>
                        <div class="col-sm-6">
                           <input type="text" id="pagibig" name="pagibig" class="form-control" style="max-width: 100%;" value="{{pagibig}}" readonly />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="dependents" class="col-sm-6 control-label">Total Deduction</label>
                        <div class="col-sm-6">
                           <input type="text" id="total" name="total" class="form-control" style="max-width: 100%;" value="{{totalDeduction}}" readonly />
                        </div>
                     </div>
                      <div class="form-group">
                        <label for="dependents" class="col-sm-6 control-label">Net Pay</label>
                        <div class="col-sm-6">
                           <input type="text" id="netPay" name="netPay" class="form-control" style="max-width: 100%;"  value="{{netPay}}" readonly />
                        </div>
                     </div>

                     <div class="form-group">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-5" style="text-align:right;">
                           <button class="btn btn-primary" type="submit">Compute Salary</button>
                        </div>
                     </div>
                  </div>
                  </form>
               </div>
            </div>
            <hr />
         </div>
      </form>
        
      </div>
  </div>
        </div>
        
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  
  
  <!-- /.row -->
</section>
<!-- /.content -->