td.leftAligned {
         width:50%;
         text-align:left;
         }
         td.rightAligned {
         width:50%;
         font-weight:bold;
         text-align:right;
         }
         td.rightAlignedDivider {
         width:50%;
         text-align:right;
         font-weight:bold;
         border-top:1px solid;
         }