<div class="modal-dialog">
 <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title">{{title || 'Confirm'}}</h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>

     <form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label class="control-label" for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" value="{{name}}" [(ngModel)]="name">
      </div>

      <div class="form-group">
         <label for="name">Description:</label><br>
         <input type="text" class="form-control" id="description" placeholder="Enter Description" formControlName="description" value="{{description}}" [(ngModel)]="description">
      </div>

       <div class="form-group">
         <label for="name">Computation:</label><br>
         <input type="text" class="form-control" id="computation" placeholder="Enter Computation" formControlName="computation" value="{{computation}}" [(ngModel)]="computation">
      </div>

      <button type="submit" [disabled]="!Form.valid || !validate" class="btn btn-primary pull-right">{{button}}</button>
      <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>