<div class="content-wrapper">
   <section class="content-header">
      <h1>
         List of events <br/>
         <small>Event List tables</small>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">Event List</a></li>
         <li class="active">List</li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
      </div>
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">Event List </h3>
               </div>
                <div class="box-body">
                  <ng-container>
                   <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                           <tr>
                              <th>Event</th>
                              <th>Type</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Location</th>
                              <th>Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let x of list">
                              <td>{{x.event}}</td>
                              <td>{{x.type}}</td>                
                              <td>{{x.start}}</td>  
                              <td>{{x.end}}</td>              
                              <td>{{x.location}}</td>              
                              <td *ngIf="x.status != 'PENDING'">{{x.status}}</td>
                              <td *ngIf="x.status == 'PENDING'">
                                 <i class="fa fa-check" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="approvedLeave(x.id)"></i>&nbsp;
                                 <i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="rejectedLeave(x.id)"></i>              
                           </tr>
                        </tbody>
                     </table>
                  </ng-container>
               </div>
            </div>
         </div>
      </div>
   </section>