<div class="loader" *ngIf="isLoading" >
    <div class="loading" >
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>
<div class="content-wrapper"><br/>
    <div class="box-header" style="margin-top: -25px;">
    </div>
    <div class="box-body evaluation" >
        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
            <p>{{success_message}}</p>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
            <p>{{error_message}}</p>
        </div>
        <form [formGroup]="evaluationForm" novalidate>
            <div class="row">
                <div class="col-md-3">                           
                    <label >Position:</label>
                    <select2 
                    [data]="add_position"
                    [width]="293"
                    [value]="position_value"
                    (valueChanged)="changedPosition($event)"
                    required>
                </select2>
            </div>

            <div class="col-md-3">                           
                <label for="evaluation_id">Evaluation Title:</label>
                <select2 id="evaluation_id" name="evaluation_id"
                [data]="get_title"
                [width]="293"
                [value]="title_value"
                (valueChanged)="changedEvaluationTitle($event)"
                required>
            </select2>
        </div>
        <div class="col-md-3">                           
            <label for="employee">Select Employee</label>
            <select2 id="employee" name="employee"
            [data]="get_emp_by_pos"
            [options]="options"
            [width]="293"
            [value]="emp_pos_value"
            (valueChanged)="changedEmployeePosition($event)"
            required>
        </select2>
    </div>
    <div class="col-md-3" >
        <label>Select Date Period:</label>            
        <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)">
            <span class="form-control uneditable-input"  name="daterange" >
                {{ mainInput.start | date:'M/dd/y' }} 
            </span>
            <span class="input-group-btn">
                <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
            </span>
        </div>
    </div>
</div>  
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="margin:25px">
    <ng-container *ngFor="let x of evaluation_data">
        <div class="row" *ngFor="let y of x.segments">
            <div class="col-md-6 col-md-offset-5" style="font-size: 27pt; color: #3c8dbc;"><strong>{{ y.segment_name }}</strong></div>
            <div *ngFor="let z of y.question_collection" >
                <br>
                <div class="row" >
                    <div class="col-md-11">
                        <strong style="font-size: 14pt">{{ z.question }}</strong>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-11 ">
                           <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                        </fieldset>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="col-md-12 text-center" > 
    <button class="btn btn-info save-button" (click)="onSubmit()">Send</button>  
</div>
</form>
</div>
</div>





