
<div class="nb-error">
  <div class="error-code">404</div>
  <h3 class="font-bold">We couldn't find the page..</h3>

  <div class="error-desc">
      Sorry, but the page you are looking for was either not found or does not exist. <br/>
      Try refreshing the page or click the button below to go back to the Homepage.
      <div class="input-group">
     </div>
     <ul class="list-inline text-center text-sm">
       <li class="list-inline-item"><a routerLink="/admin" class="text-muted">Take Me Home</a>
       </li>
       <li class="list-inline-item"><a href="../" (click)="logout()" class="text-muted">Sign out</a>
       </li>
    </ul>
    <div class="text-center">
   </div>
  </div>
</div>