<section id="login">
   <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-12">
              <div class="form-wrap">
                <h1><strong style="color:#90CAF9">HR</strong>Boss
                </h1>
                    <div class="alert error-message" 
                    *ngIf="
                    loginForm.touched && !loginForm.controls['email'].valid 
                    || loginForm.controls['password'].touched && !loginForm.controls['password'].valid
                    || error_message
                    ">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        <p *ngIf="error_message">
                          Invalid email address or password.
                        </p>
                        <p *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
                          Please enter a valid email address.
                        </p>

                        <p *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
                          Please enter your password.
                        </p>
                       
                    </div>

                    <div *ngIf="resetSuccess()" class="alert alert-success" role="alert">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                       An email has been sent to your email address.
                    </div>
                  
                    <form role="form" id="login-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group" [class.has-error]="loginForm.touched && !loginForm.controls['email'].valid">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" formControlName="email">        
                        </div>
                        <div class="form-group" [class.has-error]="loginForm.touched && !loginForm.controls['password'].valid">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="password" id="key" class="form-control" placeholder="Password"  formControlName="password">
                        </div>
                  
                         <button type="submit" id="btn-login" (click)="onSubmit()" class="btn btn-block btn-custom" >Sign In</button>
                    </form>
                    <a href="#" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Recovery password</h4>
      </div>
      <form role="form" id="reset-form" autocomplete="off" [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="modal-body">
          <p>Type your email account</p>
          <input type="email" name="email" id="recovery-email" class="form-control" autocomplete="off" formControlName="email" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-custom" data-dismiss="modal" (click)="onReset()" [disabled]="!resetForm.valid">Recover</button>
        </div>
      </form>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
