<section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">

                <h1>Password Reset Form</h1>
                    <!-- reset_success -->
                       <div *ngIf="resetSuccess()" class="alert alert-success" role="alert">
                          <a class="close" data-dismiss="alert" href="#">×</a>
                         Password has been reset. Click here to <a href="#" routerLink="/login">login</a>.
                       </div>
                      <!-- error message -->
                       <div class="alert alert-error" *ngIf="error_message">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                          <p *ngIf="error_message">
                            Something went wrong.
                          </p>
                       </div>
                    <form id="login-form" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                              <label class="control-label" for="email" class="sr-only">Email Address</label>
                              <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
                                <div class="custom_error" *ngIf="passwordResetForm.controls['email'].touched && !passwordResetForm.controls['email'].valid">
                                  Please enter a valid email address.
                                </div>
                          </div>
                          <!-- <div formGroupName="passwords"> -->
                             <div class="form-group">
                                <label class="control-label" for="password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password_confirmation" class="sr-only">Confirm Password</label>
                                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password" formControlName="password_confirmation">  
                                <div  class="custom_error" *ngIf="passwordResetForm.controls['password_confirmation'].touched &&  !passwordResetForm.controls['password_confirmation'].valid || passwordResetForm.controls['password'].touched &&  !passwordResetForm.controls['password_confirmation'].valid ">Passwords do not match</div>
                            </div>
                           <!-- </div> -->
                
                          <button class="btn btn-block btn-custom" type="submit" [disabled]="!passwordResetForm.valid">Reset Password</button>
          

                          <div class="clearfix"></div>

                    </form>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
