<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     
     <form [formGroup]="COAForm" (ngSubmit)="onSubmit()">
      <div class="form-group"  *ngIf="multi">
          <label class="control-label" for="employee" >Employee:</label>
          <select2 
           [data]="employee"
           [options]="options"
           [width]="467"
           [value]="employee_value"
           (valueChanged)="changed($event)"
          required>
          </select2>
        </div>

        <div class="form-group" *ngIf="single">
          <div class="row">
            <div class="col-lg-12"> 
            <label class="control-label" for="employee" >Employee:</label>
              <select2 
              [data]="employee" 
              [width]="467" 
              [value]="employee_value"
              (valueChanged)="changed($event)"  required>
              </select2>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-5">
              <label class="control-label" for="type" >Type:</label><br>
              <select2 [data]="type" 
              [width]="189" 
              [value]="type_value"
              (valueChanged)="changedType($event)"  required></select2>
            </div>
            <div class="col-lg-7">
              <label class="control-label" for="date" >Date:</label><br>
              <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span> {{ date_in | date:'M/dd/y' }}</span> <b class="caret"></b>
              </div>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-5"> 
              <label>Time:</label>
              <timepicker [(ngModel)]="time" [showMeridian]="ismeridian" formControlName="time"></timepicker>
              <button type="button" class="btn btn-info" (click)="toggleMode()">24Hour Format</button> 
            </div>
            <div class="col-lg-7"> 
              <label>Reason:</label>
              <textarea class="form-control" name="remarks" id="remarks" rows="6" placeholder="Reason ..."  formControlName="remarks" [(ngModel)]="remarks" (click)="duplicateEntryValidation()" required></textarea>
            </div>
          </div>  
        </div>

      <button type="submit" class="btn btn-primary pull-right" [disabled]="!COAForm.valid || !validate">{{button}}</button>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
