<aside class="main-sidebar">
   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
         <div class="pull-left image">
            <img src="./assets/img/user-placeholder.png" class="img-circle" alt="User Image" width="215" height="215">
         </div>
         <div class="pull-left info">
            <p>{{name}}</p>
            <a routerLink="../admin/"><i class="fa fa-circle text-success"></i> Online</a>
         </div>
      </div>
      <!-- search form -->
 <!--      <form method="get" class="sidebar-form">
         <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
            </span>
         </div>
      </form>
      -->
        
		<ul class="sidebar-menu">
			 <li class="header">MAIN NAVIGATION</li>
                 <li class=" active treeview " >
                     <a routerLink="../admin/">
                        <i class="fa fa-tachometer"></i> 
                        <span>
                             Dashboard
                        </span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                 </li>
             <ng-container *ngFor="let module of user_side;">
				 <li class="treeview" >
				
				 		<ng-container *ngIf="module.id != 1">
    						<ng-container *ngIf="hasModule(module.id)">
    						<a href="#">
    							<i class="fa {{module.icons}}"></i> <span>{{ module.display_name }}</span>
    							<span class="pull-right-container">
    							<i class="fa fa-angle-left pull-right"></i>
    							</span>
    						</a>
    						</ng-container>
                        </ng-container>
				
					<ul class="treeview-menu" >
						<ng-container *ngFor="let menu of module.menu">	  <ng-container *ngIf="hasMenu(menu.id)">
							<li><a routerLink="../admin/{{menu.action_url}}" ><i class="fa fa-circle-o"></i>
								 {{menu.display_name}}
							</a></li>
							</ng-container>
						</ng-container>
					</ul>
			 
				</li>
			</ng-container>
		</ul>
    </section>
    <!-- /.sidebar -->
</aside>