<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>


    <ng-container *ngIf="!checking">
      <ng-container *ngIf="updateTime">
        <p>{{message}}</p>
      </ng-container>

      <ng-container *ngIf="!updateTime && !viewAll">
        <form [formGroup]="TaskForm" (ngSubmit)="submit()">
   
          <div class="form-group"  *ngIf="multi">
            <label class="control-label" for="employee" >Employee:</label>
            <select2 [data]="employee"
            [options]="options"
             [width]="470"
             [value]="employee_value"
             (valueChanged)="changed($event)"
            required>
            </select2>
          </div>

          <div class="form-group" *ngIf="single">
            <div class="row">
              <div class="col-md-12"> 
              <label class="control-label" for="employee" >Employee:</label><br>
                <select2 [data]="employee" 
                [width]="470" 
                [value]="employee_value"
                (valueChanged)="changed($event)"  required></select2>
              </div>
            </div>  
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                  <label>Deadline</label>
                  <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span> {{ mainInput.start | date:'M/dd/y HH:mm a' }} </span> <b class="caret"></b>
                  </div>
              </div>
            </div>  
          </div>

          <div class="form-group">
          	<div class="row">
          		<div class="col-md-12">
          			<label>Task</label>
            			<textarea class="form-control" name="task" id="task" rows="3" placeholder="Task ..."  formControlName="task"  [(ngModel)]="task" (keyup)="duplicateEntryValidation()" required></textarea>
          		</div>
          	</div>
          </div>

        <button type="submit" class="btn btn-primary pull-right" [disabled]="!TaskForm.valid || !validate">{{button}}</button>
        </form>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="checking">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label>Task:</label>
            <textarea class="form-control" name="task" id="task" rows="3" [(ngModel)]="task" readonly></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label>Status:</label><br>
            <select2 [data]="status" 
            [width]="472" 
            [value]="status_value"
            (valueChanged)="changedStatus($event)"  required></select2>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="status_current == 1">
        <div class="row">
          <div class="col-md-12">
            <label>Reason for On-going:</label>
            <textarea class="form-control" name="reason" id="reason" placeholder="Reason ..." [(ngModel)]="reason" (keyup)="val()" required ></textarea>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="viewAll">
      <div class="form-group" *ngIf="nameVal">
        <div class="row">
          <div class="col-md-12">
            <label>Employee:</label>
            <input type="text" name="" class="form-control" [(ngModel)]="name" readonly>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label>Task:</label>
            <textarea class="form-control" name="task" id="task" rows="3" [(ngModel)]="task" readonly></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Deadline:</label>
            <input type="text" name="" class="form-control" [(ngModel)]="deadline" readonly/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6"> 
            <label class="control-label">Start Task:</label>
            <input type="text" name="" class="form-control" [(ngModel)]="startTime" readonly/>
          </div>
          <div class="col-md-6"> 
            <label class="control-label">End Task:</label>
            <input type="text" name="" class="form-control" [(ngModel)]="endTime" readonly/>
          </div>
        </div>
      </div>
    </ng-container>
   </div>
   <div class="modal-footer">
      <ng-container *ngIf="updateTime || checking">
        <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="!validate">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </ng-container>
      <ng-container *ngIf="viewAll">
        <button type="button" class="btn btn-default" (click)="close()">Close</button>
      </ng-container>
   </div>
 </div>
</div>
