<!-- /.content-wrapper -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Attendance Upload Logs
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/attendance-list-default">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
              <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
              <p>{{error_message}}</p>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover table-condensed" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Upload ID</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let attendance of attendance_id">
                  <tr>
                    <td>{{attendance.id}}</td>
                    <td>{{attendance.created_at}}</td>
                    <td (click)="bulkAttendanceDelete(attendance.id)">
                        <span class="badge badge-danger cur" ><i class="fa fa-remove"></i>&nbsp;Bulk Delete</span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
