.edit{
	font-size: 20px; 
	cursor:pointer;color:#2386bf; 
}

.approved{
	font-size: 20px; 
	cursor:pointer;
	color:#15c533; 
}

.reject{
	font-size: 20px; 
	cursor:pointer;
	color:#e43a3a; 
}
.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}

label {
	font-weight: bold;
}