.pad {
	padding-left: 70px;
	padding-right: 256px;
}

.box-info{
	backgroundcolor:#00c0ef;
}

.list-group-item {
	background-color: #eee;
}


.title-form{

    outline: 0;
    border-width: 0 0 0 1;
    /*background-color: #ecf1f5;*/
    background-color: #fff;
    width: 75%;

    
}

.save-button {
	width: 89px;
	font-size: 14pt;
}

.add_form{
	width: -15px;
}

.box-body.content{
    background: #fff;
    margin-left: 27px;
    margin-right: 20px;
    margin-top: 11px;
}


.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}





