<div class="content-wrapper">
    <div class="box-header">
        <div class="box-body content">
            <section class="content">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form [formGroup]="evaluationForm" novalidate>
                            <div class="row">
                                <div class="col-md-offset-2 " >                                
                                    <input id ="search" type="text" class="form-control title-form" placeholder="Enter Evaluation Title" formControlName="name" style="text-align: center;" value="{{name}}" required>
                                </div>
                                <br>
                            </div>
                            <div></div>

                            <div class="row">
                                <div class="col-md-4">                           
                                    <label for="position">Employee Position:</label>
                                    <select2 id="position" name="position"
                                    [data]="add_position"
                                    [width]="470"
                                    [value]="position_value"
                                    (valueChanged)="changedPosition($event)"
                                    required>
                                </select2>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <ul style="list-style-type:none; margin-left: -26px; " >
                                <ng-container *ngFor="let x of rating_number_desc; let rating_index = index">
                                    <li  style="margin-top: 5px; margin-bottom: 10px;" >
                                        <button class="btn btn-info">{{ x .id }}</button>
                                        <input type="text" name="name" [value]="x.text" style="width: 23%;">                                 
                                        <span (click)="resetDescription(x)" class="glyphicon glyphicon-remove" style="font-size: 7pt;"></span>   
                                    </li>
                                </ng-container>
                                <a style="font-size: 12pt;" (click)="add_rating(rating_number_desc.length)">Add Rating +</a>
                            </ul>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button class="btn btn-info pull-right add_form " (click)="addFormRow()">Add Form </button>   
                            </div>
                        </div>
                        <br/>
                        <div formArrayName="segments">
                            <div  *ngFor="let forms of evaluationForm.controls.segments.controls; let form_array_index = index" class="panel panel-success"> 
                                <div class="panel-heading" [formGroupName]="form_array_index">
                                    <app-sub-evaluation [group]="evaluationForm.controls.segments.controls[form_array_index]">
                                    </app-sub-evaluation>
                                </div>
                                <div class="box-footer clearfix"></div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-center"> 
                        <button class="btn btn-success save-button" (click)="onSubmit()">Save</button>  
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </section>
    </div>
</div>
</div> 


