.edit{
	font-size: 20px; 
	cursor:pointer;color:#2386bf; 
}

.checking{
	font-size: 20px; 
	cursor:pointer;
	color:#15c533; 
}

.approved{
	font-size: 20px; 
	cursor:pointer;
	color:#07ab60d4; 
}

.cur{
	cursor: pointer;
}

label{
	font-weight: bold;
}