  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Task List
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/task-list">Task</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
  <div class="row">
  	<div class="col-lg-10 col-md-11 col-xs-11">
        <button class="btn btn-info pull-left cur" (click)="createTask()" *ngIf="btnCreate">Add Task</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
			
			<div class="form-group">
	            <div class="row">
	              <div class="col-md-4">
	                <label class="control-label">Choose Filter:</label>
	                <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
	                  <option selected="selected" value =1 >All</option>
	                  <option selected="selected" value =2 >By Date</option>
	                  <option selected="selected" value =3 >By Employee</option>
	                  <option selected="selected" value =0 >None</option>
	                </select>
	              </div>

	              <div class="col-md-4" *ngIf="byDate">
	                <label>Date range:</label>
	                <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
	                  <i class="fa fa-calendar"></i>&nbsp;
	                  <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
	                </div>
	              </div>

	              <div class="col-md-4" *ngIf="byEmployee">
	                <label class="control-label" for="employee">Employee:</label><br>
	                <select2 [data]="employee"
	                [options]="options"
	                [width]="336"
	                [value]="employee_value"
	                (valueChanged)="changedEmployee($event)"
	                required>
	                </select2>
	              </div>
	            </div>
	        </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
			<table datatable [dtTrigger]="dtTrigger" class="row-border hover">
				<thead>
					<tr>
						<th>Employee</th>
						<th>Task</th>
						<th>Dealine</th>
						<th>Start Task</th>
						<th>End Task</th>
						<th>Status</th>
						<th width="184px">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let x of task">
						<td>{{x.name}}</td>
						<td>{{x.task}}...</td>
						<td>{{x.deadline | date:'MMM d, y, h:mm a'}}</td>
						<td *ngIf="x.start_task == null"><span class="badge badge-warning">No Start Time</span></td>
						<td *ngIf="x.start_task != null">{{x.start_task}}</td>
						<td *ngIf="x.end_task == null"><span class="badge badge-warning">No End Time</span></td>
						<td *ngIf="x.end_task != null">{{x.end_task}}</td>
						<td *ngIf="x.status == 'FOR APPROVAL'"><span class="badge bg-teal">{{x.status}}</span></td>
						<td *ngIf="x.status == 'PENDING'"><span class="badge badge-primary">{{x.status}}</span></td>
						<td *ngIf="x.status == 'ON-GOING'"><span class="badge badge-info">{{x.status}}</span></td>
						<td *ngIf="x.status == 'CHECKING'"><span class="badge badge-danger">{{x.status}}</span></td>
						<td *ngIf="x.status == 'DONE'"><span class="badge badge-success">{{x.status}}</span></td>
						<td *ngIf="x.status != 'DONE'">
							<ng-container *ngIf="x.status == 'FOR APPROVAL'">
								<span class="badge badge-success cur" (click)="approvedTask(x)"><i class="fa fa-thumbs-up"></i>&nbsp; Approve</span>&nbsp;&nbsp;
								<span class="badge badge-primary cur" (click)="editTask(x)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
								<span class="badge bg-aqua cur" (click)="viewDetails(x)"><i class="fa fa-info"></i>&nbsp; Info</span>
							</ng-container>
							<ng-container *ngIf="x.status == 'PENDING'">
								<span class="badge badge-primary cur" (click)="editTask(x)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
								<span class="badge bg-aqua cur" (click)="viewDetails(x)"><i class="fa fa-info"></i>&nbsp; Info</span>
							</ng-container>
							<ng-container *ngIf="x.status == 'CHECKING'">
								<span class="badge badge-danger cur" (click)="checkTask(x)"><i class="fa fa-check"></i>&nbsp; Checking</span>&nbsp;&nbsp;
								<span class="badge bg-aqua cur" (click)="viewDetails(x)"><i class="fa fa-info"></i>&nbsp; Info</span>
							</ng-container>
							<ng-container *ngIf="x.status == 'ON-GOING'">
								<span class="badge bg-aqua cur" (click)="viewDetails(x)"><i class="fa fa-info"></i>&nbsp; Info</span>
							</ng-container>
						</td>
						<td *ngIf="x.status == 'DONE'">
							<span class="badge bg-aqua cur" (click)="viewDetails(x)"><i class="fa fa-info"></i>&nbsp; Info</span>
						</td>
					</tr>
				</tbody>
			</table>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

<!-- ./wrapper -->



