<div class="content-wrapper">
   <div class="row">
            <form (ngSubmit)="onSearch()">
      <div class="col-md-6">
         <section class="content-header">
              <div>Company</div>
                  <select2 id="company" name="company" [data]="company" 
                  [width]="380"
                  [value]="company_value"
                  (valueChanged)="changedCompany($event)"  required></select2>


              <div>Department</div>
                  <select2 id="department" name="department" [data]="department" 
                  [width]="380"
                  [value]="department_value"
                  (valueChanged)="changedDepartment($event)"  required></select2>


              <div >Employee</div>
                  <select2 id="employee" name="employee" [data]="employee" 
                  [width]="380"
                  [value]="employee_value"
                  (valueChanged)="changedEmployee($event)"  required></select2>

              <div>Date</div>
              <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)" >
               <span class="form-control uneditable-input"  name="daterange" >
               {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
               </span>
               <span class="input-group-btn">
               <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
               </span>
            </div>
            
         </section>
      </div>

      <!-- COL MD 4 -->
      <div class="col-md-12">
         <section class="content-header">
            <div>
               <canvas  #panelA=base-chart baseChart
               [datasets]="barChartData"
               [labels]="barChartLabels"
               [options]="barChartOptions"
               [legend]="barChartLegend"
               [chartType]="barChartType"
               (chartHover)="chartHovered($event)"
               (chartClick)="chartClicked($event)">
               }];
               </canvas>
            </div>
         </section>
      </div>
           <button type="submit" class="btn btn-primary pull-right">Search</button>
      </form>
   </div>
</div>