<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{{title || 'Confirm'}}</h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
        </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">New Event</label>
          <input type="text" class="form-control" id="name" placeholder="Enter new event" formControlName="name" value="{{name}}" [(ngModel)]="name" required/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="type">Type:</label>
          <div class="row">
            <div class="col-lg-12">
              <select2 [width]="200" [data]="type" [value]="type_value" (valuechanged)="changedType($event)"></select2>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Location</label>
          <input type="text" class="form-control" id="name" placeholder="Enter event location" formControlName="location" value="{{location}}" [(ngModel)]="location" required/>
        </div>
        <div class="form-group">
          <label class="control-label">Start</label>
          <input  type="date" id="date" formControlName="start_time" class="form-control" value="{{start_time}}" [(ngModel)]="start_time" />
        </div>  
        <div class="form-group">
          <label class="control-label">End</label>
          <input  type="date" id="date" formControlName="end_time" class="form-control" value="{{end_time}}" [(ngModel)]="end_time"/>
        </div>      
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!eventForm.valid">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>


