
@media (min-width: 992px) {
	.modal-lg {
	    max-width: 80% !important;
	    height: 100px !important;
	}

}

/* Important part */
.modal-body{
    overflow-y: initial !important
}
.scroll{
    min-height: 500px;
    height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cur{
	cursor: pointer;
}

.text-area-color  {
    background-color:#32c5d2;
}

table.table-sa-modal-render > thead > tr > th.th-mins-break {
	width: 150px;
}
