<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">{{title || 'Confirm'}}</h6>
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title != 'Warning' && error_title">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                <p>{{error_message}}</p>
            </div>
            <div class="alert alert-warning alert-dismissible" *ngIf="error_title == 'Warning' && error_title">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                <p>{{error_message}}</p>
            </div>
            <div class="scroll">
                <!-- THE FORM BELOW WILL DISPLAY WHEN SA_ID HAS NO VALUE, IF SA_ID HAS VALUE WILL DISPLAY FORM CREATION. IF SA_ID HAS VALUE WILL DISPLAY eDIT VALUE. -GEOFFREY -->
                <form *ngIf="!sa_id" [formGroup]="SAForm" (ngSubmit)="submit()">
                    <div class="form-group">
                        <small><b>Note:</b> Fields with (*) are required.</small>
                        <div class="row" *ngIf="user_is_admin == 1">
                            <!-- <div class="col-md-4 col-xs-12" >
                                <label class="control-label" for="employee">*Company:</label>
                                <select class="form-control" (change)="getEmployeesByCompany($event.target.value)" name="company">
                                    <option *ngFor="let company of companies" value="{{company.id}}" >{{company.name}}</option>
                                </select>
                                <small class="text-red" *ngIf="error_saform_company">{{error_saform_company}}</small>
                            </div> -->
                            <div class="col-md-6 col-xs-12">
                                <ng-container *ngIf="multi">
                                    <label class="control-label" for="employee">Employee:</label>
                                    <br>
                                    <select2 [data]="employee" [options]="options" [width]="450" [value]="employee_value" (valueChanged)="changed($event)" required>
                                    </select2>
                                </ng-container>
                                <ng-container *ngIf="single">
                                    <label class="control-label" for="employee">*Employee:</label>
                                    <br>
                                    <select2 [data]="employee" [width]="350" [value]="employee_value" (valueChanged)="changed($event)" required>
                                    </select2>
                                </ng-container>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <label>*Start Date and End Date:</label>
                                <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="user_is_admin == 0">
                            <div class="col-md-12 col-xs-12">
                                <label>*Start Date and End Date:</label>
                                <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <label>*Reason:</label>
                                <input class="form-control" type="text" name="remarks" id="remarks" placeholder="Reason ..." formControlName="remarks" [(ngModel)]="remarks" style="min-height:50px;" required />
                                <input type="hidden" name="emp_id" formControlName="emp_id" value="{{ employee_id }}" />
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <!--
                                <div class="box-group" id="accordion">
                                    <div class="panel box">
                                        <div class="box-header with-border box-info">
                                            <h4 class="box-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Time-In - Time-Out & Break-In - Break-Out
                                              </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-12">
                                                        <label>Start Time:</label>
                                                        <timepicker [(ngModel)]="start_time" [showMeridian]="ismeridian" formControlName="start_time" (click)="computeDays()"></timepicker>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <label>End Time:</label>
                                                        <timepicker [(ngModel)]="end_time" [showMeridian]="ismeridian" formControlName="end_time" (click)="computeDays()"></timepicker>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <label>Break Start:</label>
                                                        <timepicker [(ngModel)]="break_start" [showMeridian]="ismeridian" formControlName="break_start" (click)="computeDays()"></timepicker>
                                                    </div>
                                                    <div class="col-md-3 col-xs-12">
                                                        <label>Break End:</label>
                                                        <timepicker [(ngModel)]="break_end" [showMeridian]="ismeridian" formControlName="break_end" (click)="computeDays()"></timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <button type="button" class="btn btn-info" (click)="computeDays()">Generate Schedule Form</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="tableVal">
                        <div class="row">
                            <div class="col-lg-12">
                                <i><p><b>Note:</b> Unit of Hour is in 24 Hour Format.</p></i>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered text-center table-sa-modal-render">
                                        <thead class="text-area-color text-center text-white">
                                            <tr>
                                                <th>Day</th>
                                                <th>Date</th>
                                                <!-- <th>Original Time From</th>
                                                <th>Original Time To</th> -->
                                                <th *ngIf="work_sched.length != 0">Schedule</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Break Start</th>
                                                <th class="th-mins-break">Minutes of Break</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of dataStorage;  let i = index">
                                                <td>
                                                    {{data.date | date:'EE' }}
                                                </td>
                                                <td>
                                                    {{data.date}}
                                                </td>
                                                <td *ngIf="work_sched.length != 0">
                                                    <select2 name="work_sched" [data]="work_sched" [options]="options" [width]="106" [value]="ws_value" (valueChanged)="changedWorkingSchedule($event,i)" required>
                                                    </select2>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            <select id="cband" class="form-control" (change)="changeStartTimeHour(i, $event)">
                                                                <option *ngFor="let hour of time_hours" value="{{hour}}" [attr.selected]="(data.start_time.split(':')[0] == hour) ? true : null">{{hour}}</option>
                                                            </select>
                                                        </label>
                                                        <label>:</label>
                                                        <label>
                                                            <select id="cband" class="form-control" (change)="changeStartTimeMin(i, $event)">
                                                                <option *ngFor="let min of time_minutes" value="{{min}}" [attr.selected]="(data.start_time.split(':')[1] == min) ? true : null">{{min}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <input type="hidden" [value]="data.start_time" (change)="updateData(i,'in',$event)">
                                                    <!-- <input type="time" [value]="data.start_time" (change)="updateData(i,'in',$event)" class="form-control"> -->
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            <select class="form-control" (change)="changeEndTimeHour(i, $event)">
                                                                <option *ngFor="let hour of time_hours" value="{{hour}}" [attr.selected]="(data.end_time.split(':')[0] == hour) ? true : null">{{hour}}</option>
                                                            </select>
                                                        </label>
                                                        <label>:</label>
                                                        <label>
                                                            <select class="form-control" (change)="changeEndTimeMin(i, $event)">
                                                                <option *ngFor="let min of time_minutes" value="{{min}}" [attr.selected]="(data.end_time.split(':')[1] == min) ? true : null">{{min}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <input type="hidden" [value]="data.end_time" (change)="updateData(i,'out',$event)">
                                                    <!-- <input type="time" [value]="data.end_time" (change)="updateData(i,'out',$event)" class="form-control"> -->
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>
                                                            <select class="form-control" (change)="changeBreakTimeHour(i, $event)">
                                                                <option *ngFor="let hour of time_hours" value="{{hour}}" [attr.selected]="(data.break_start.split(':')[0] == hour) ? true : null">{{hour}}</option>
                                                            </select>
                                                        </label>
                                                        <label>:</label>
                                                        <label>
                                                            <select class="form-control" (change)="changeBreakTimeMin(i, $event)">
                                                                <option *ngFor="let min of time_minutes" value="{{min}}" [attr.selected]="(data.break_start.split(':')[1] == hour) ? true : null">{{min}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <input type="hidden" [value]="data.break_start" (change)="updateData(i,'sb',$event)">
                                                    <!-- <input type="time" [value]="data.break_start" (change)="updateData(i,'sb',$event)" class="form-control"> -->
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" [value]="data.lunch_mins_break" (change)="updateData(i,'bm', $event)" />
                                                </td>
                                                <td>
                                                    <span class="badge badge-danger cur" (click)="removeDay(i)"><i class="fa fa-remove"></i>&nbsp; Remove</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right" *ngIf="tableVal">{{button}}</button>
                    <!-- <button type="submit" class="btn btn-primary pull-right" [disabled]="!SAForm.valid || !validate" *ngIf="tableVal">{{button}}</button> -->
                </form>
                <form *ngIf="sa_id" [formGroup]="SARFormUpdate" (ngSubmit)="updateSARdata()">
                    <input type="hidden" formControlName="id" value="{{sa_data_update.id}}" />
                    <input type="hidden" formControlName="employee_id" value="{{sa_data_update.employee_id}}" />
                    <input type="hidden" formControlName="company_id" value="{{sa_data_update.company_id}}" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Company:</label>
                                <input type="text" class="form-control" value="{{sa_data_update.company_name}}" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Employee:</label>
                                <input type="text" class="form-control" value="{{sa_data_update.employee_name}}" readonly />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date:</label>
                                <input type="date" class="form-control" value="{{sa_data_update.date}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="2">Time-in / Time Out</th>
                                        <th class="text-center" colspan="2">Breaktime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Start Time</td>
                                        <td>End Time</td>
                                        <td>Break Start</td>
                                        <td>Break Time Duration (Mins.)</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="time" class="form-control" (change)="changeSARdataUpdate($event, 'start_time')" formControlName="start_time" value="{{sa_data_update.start_time}}" />
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" (change)="changeSARdataUpdate($event, 'end_time')" formControlName="end_time" value="{{sa_data_update.end_time}}" />
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" (change)="changeSARdataUpdate($event, 'break_start')" formControlName="break_start" value="{{sa_data_update.break_start}}" />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" (change)="changeSARdataUpdate($event, 'lunch_mins_break')" formControlName="lunch_mins_break" value="{{sa_data_update.lunch_mins_break}}" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <button class="btn btn-success pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>