.modal{
  z-index: 1071;
}

.edit{
	font-size: 20px; 
	cursor:pointer;
	color:#2386bf;
}

.remove{
	font-size: 20px; 
	cursor:pointer;
	color:#e43a3a;
}
.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}

label {
	font-weight: bold;
}