	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{title || 'Confirm'}}</h4>
				<button type="button" class="close" (click)="close()" >&times;</button>
			</div>
			<div class="modal-body">
				
				<div class="alert alert-success alert-dismissible" *ngIf="success_title">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
					<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
					<p>{{success_message}}</p>
				</div>
				
				<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
					<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
					<p>{{error_message}}</p>
				</div>

				<!-- use in viewing the details of request -->
				<ng-container *ngIf = "table_name == 'Leave'">

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Type:</label>
								<input  type="text" class="form-control" value="{{type}}" [(ngModel)]="type" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Date:</label>
								<input  type="date" class="form-control" value="{{start_time}}" [(ngModel)]="start_time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Date:</label>
								<input  type="date" class="form-control" value="{{end_time}}" [(ngModel)]="end_time" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Reason:</label>
								<input  type="text" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>
				</ng-container>

				<ng-container *ngIf = "table_name == 'COA'">

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Type:</label>
								<input  type="text" class="form-control" value="{{type}}" [(ngModel)]="type" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Date:</label>
								<input  type="date" class="form-control" value="{{date}}" [(ngModel)]="date" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Time:</label>
								<input  type="date" class="form-control" value="{{time}}" [(ngModel)]="time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Reason:</label>
								<input  type="text" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>

				</ng-container>

				<ng-container *ngIf = "table_name == 'OB'">

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Date Filed:</label>
								<input  type="text" class="form-control" value="{{created_at}}" [(ngModel)]="created_at" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Location:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="location" />
							</div>
						</div>
					</div>



					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Date:</label>
								<input  type="date" class="form-control" value="{{start_date}}" [(ngModel)]="start_date" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Date:</label>
								<input  type="date" class="form-control" value="{{end_date}}" [(ngModel)]="end_date" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Time:</label>
								<input  type="date" class="form-control" value="{{start_time}}" [(ngModel)]="start_time" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Time:</label>
								<input  type="date" class="form-control" value="{{end_time}}" [(ngModel)]="end_time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Reason:</label>
								<input  type="text" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>

				</ng-container>

				<ng-container *ngIf = "table_name == 'Overtime'">


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Time:</label>
								<input  type="date" class="form-control" value="{{start_time}}" [(ngModel)]="start_time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Time:</label>
								<input  type="date" class="form-control" value="{{end_time}}" [(ngModel)]="end_time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
							<label class="control-label">Total Hours:</label>
								<input  type="date" class="form-control" value="{{total_hours}}" [(ngModel)]="total_hours" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
							<label class="control-label">Reason:</label>
								<input  type="date" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>

				</ng-container>

				<ng-container *ngIf = "table_name == 'Schedule Adjustment'">

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Date:</label>
								<input  type="text" class="form-control" value="{{start_date}}" [(ngModel)]="start_date" />
							</div>
						</div>
					</div>



					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Date:</label>
								<input  type="date" class="form-control" value="{{end_date}}" [(ngModel)]="end_date" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Reason:</label>
								<input  type="text" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>

				</ng-container>

				<ng-container *ngIf = "table_name == 'Undertime'">


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Name:</label>
								<input  type="text" class="form-control" value="{{name}}" [(ngModel)]="name" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Start Time:</label>
								<input  type="date" class="form-control" value="{{start_time}}" [(ngModel)]="start_time" />
							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">End Time:</label>
								<input  type="date" class="form-control" value="{{end_time}}" [(ngModel)]="end_time" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Total Time:</label>
								<input  type="date" class="form-control" value="{{total_hours}}" [(ngModel)]="total_hours" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-12"> 
								<label class="control-label">Reason:</label>
								<input  type="date" class="form-control" value="{{reason}}" [(ngModel)]="reason" />
							</div>
						</div>
					</div>

				</ng-container>



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="confirm()" >{{action}}</button>
				<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
			</div>
		</div>
	</div>
