<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header" style="background: green; position: center">
			<button type="button" class="close" (click)="close()" >&times;</button>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">

					<h4 class="modal-title">{{title}}</h4>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div>	
				<strong>Evaluation form is successfully created!</strong>									
			</div>	
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>