<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Event Type List
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active"><a routerLink="/admin/event-type-list">Event Type</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
        <button class="btn btn-info pull-left" (click)="add()">Add Event Type</button>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
          </div>
          <div class="box-body">
          <ng-container>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover align-text">
              <thead>
                <tr>
                  <th>Event Type</th>
                  <th>Description</th>
                  <th width="20%">Color</th>                                       
                  <th width="20%">Action</th>
                   </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let x of data">
                    <tr>
                      <td>{{x.name }}</td>      
                      <td>{{x.description }}</td>
                      <td><div [style.background]="x.color" class="color">&nbsp;</div></td> 
                      <td>
                        <span class="badge badge-primary cur" (click)="edit(x.id)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
                        <span class="badge badge-danger cur"(click)="archive(x.id)"><i class="fa fa-remove"></i>&nbsp; Delete</span>
                      </td>     
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ng-container>
          </div>  
        </div>
      </div>
    </div>
  </section>