	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Employee Dashboard
			</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/admin/employee-dashboard">Employee Dashboard</a></li>
				<li class="breadcrumb-item active">List</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div  class="row">
		      <div  class="col-md-4">
		        <div  class="small-box bg-green adj-right">
		          <div  class="inner">
		            <h4>My Schedule Adjustments</h4>
		            <p><strong>View your adjustment of schedule records.</strong></p>
		          </div>
		          <div  class="icon">
		            <i  aria-hidden="true" class="fa fa-clock-o"></i>
		          </div>
		          <a class="small-box-footer" routerLink="../my-schedule-adjustments-list" href="../my-schedule-adjustments-list" >More info <i  class="fa fa-arrow-circle-right"></i></a>
		        </div>
		      </div>
		      <div  class="col-md-4">
		        <div  class="small-box bg-orange adj">
		          <div  class="inner">
		            <h4>My Leaves</h4>
		            <p><strong>View your filed/request leaves.</strong></p>
		          </div>
		          <div  class="icon">
		            <i  class="fa fa-hourglass-half"></i>
		          </div>
		          <a  class="small-box-footer" routerLink="../my-leave-list" href="../my-leave-list" >More info <i  class="fa fa-arrow-circle-right"></i></a>
		        </div>
		      </div>
		      <div  class="col-md-4">
		        <div  class="small-box bg-purple adj-right">
		          <div  class="inner">
		            <h4>My Overtime</h4>
		            <p><strong>View your filed/request overtime queries.</strong></p>
		          </div>
		          <div  class="icon">
		            <i  class="fa fa-calendar-times-o"></i>
		          </div>
		          <a  class="small-box-footer" routerLink="../my-overtime-list" href="../my-overtime-list" >More info <i  class="fa fa-arrow-circle-right"></i></a>
		        </div>
		      </div>
		    </div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
				  <div class="box box-primary">
				    <div class="box-header with-border">
				      <h3 class="box-title">Attendance</h3>

				      <div class="box-tools pull-right">
				        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				      </div>
				    </div>
				    <!-- /.box-header -->
				    <div class="box-body" style="">
				      <div class="row">
				        <div class="col-md-3" align="center">
							<h1>
							<span class="text-aqua">{{day}}</span><br><h4>{{date}}<br>{{time}}</h4><br>
							</h1>
							<br>
							<div class="progress hide" *ngIf="tableVal">
							    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" [style.width.%]="grey">
							    </div>
							    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar" [style.width.%]="log">
							    </div>
							    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" [style.width.%]="lunch">
							    </div>
							    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width.%]="meeting">
							    </div>
							    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" [style.width.%]="seminar">
							    </div>
							    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" [style.width.%]="office">
							    </div>
							</div>
							<div class="center" *ngIf="log == 100">
								<i>You already Log Out</i>
							</div>
							<ng-container *ngIf="button">
								<div class="row">
								<ng-container *ngIf="btnSeminarIn || btnOutOfOfficeIn || btnMeetingIn || btnLunchIn">
							      <div class="col-sm-6 offset-padd-right">
									<button class="btn btn-danger btn-block m-b-xs" (click)="submit('lunchIn')" [disabled]="!btnLunchIn">Lunch In</button>
							      </div>
							      <div class="col-sm-6 offset-padd-left">
									<button class="btn btn-success btn-block m-b-xs" (click)="addBusinessLogs('meetingIn')" [disabled]="!btnMeetingIn">Meeting Start</button>
							      </div>
							      <div class="col-sm-6 offset-padd-right">
									<button class="btn btn-warning btn-block m-b-xs" (click)="addBusinessLogs('seminarIn')" [disabled]="!btnSeminarIn">Seminar Start</button>
							      </div>
							      <div class="col-sm-6 offset-padd-left">
									<button class="btn btn-primary btn-block m-b-xs" (click)="addBusinessLogs('outOffice')" [disabled]="!btnOutOfOfficeIn">Out of Office</button>
							      </div>
							     </ng-container>
							      <div class="col-sm-12">
							      	<button class="btn btn-danger btn-block m-b-xs" (click)="submit('lunchOut')" *ngIf="btnLunchOut">Lunch Out</button>
									<button class="btn btn-success btn-block m-b-xs" (click)="submit('meetingOut')" *ngIf="btnMeetingOut">Meeting End</button>
									<button class="btn btn-warning btn-block m-b-xs" (click)="submit('seminarOut')" *ngIf="btnSeminarOut">Seminar End</button>
									<button class="btn btn-primary btn-block m-b-xs" (click)="submit('inOffice')" *ngIf="btnOutOfOfficeOut">Return in the Office</button>
							      	<button class="btn btn-info btn-block m-b-xs" (click)="submit('logIn')" *ngIf="btnLogIn">Time In</button>
									<button class="btn btn-default btn-block m-b-xs" (click)="submit('logOut')" *ngIf="btnLogOut">Time Out</button>
							      </div>
							    </div>
									
								<!-- <span class="badge btn-default cur" (click)="exchange()" *ngIf="btnLogIn || btnLogOut"><i class="fa fa-exchange"></i>&nbsp; Exchange</span> -->
							</ng-container>
				        </div>
				        <!-- /.col -->
				        <div class="col-md-9">
				          <div class="form-loader" *ngIf="loaderForAttend" align="center">
				              <div class="row">
				                <div class="loader">
				                  <div class="loading">
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                  </div>
				                </div>
				              </div>
				          </div>

				          <ng-container *ngIf="!loaderForAttend">
				            <table class="row-border hover" *ngIf="tableVal">
				              <thead>
				                <tr>
				                  <th>Date</th>
				                  <th>Type</th>
				                  <th class="text-green">IN</th>
				                  <th class="text-red">OUT</th>
				                  <th class="text-aqua">Lunch In</th>
				                  <th class="text-red">Lunch Out</th>
				                  <th>Action</th>
				                </tr>
				              </thead>
				              <tbody *ngFor="let x of logs">
				                <tr>
				                  <td *ngIf="x.time_in != null">{{x.time_in | date}}</td>
				                  <td *ngIf="x.time_in == null">{{x.time_out | date}}</td>
				                  <td>{{x.types}}</td>
				                  <td *ngIf="x.time_in == null"><strong>NO TIME IN</strong></td>
				                  <td *ngIf="x.time_in != null">{{x.time_in | date:'hh:mm:ss'}}</td>
				                  <td *ngIf="x.time_out == null"><strong>NO TIME OUT</strong></td>
				                  <td *ngIf="x.time_out != null">{{x.time_out | date:'hh:mm:ss'}}</td>
				                  <td *ngIf="x.lunch_in == null"><strong>NO LUNCH IN</strong></td>
				                  <td *ngIf="x.lunch_in != null">{{x.lunch_in | date:'hh:mm:ss'}}</td>
				                  <td *ngIf="x.lunch_out == null"><strong>NO LUNCH OUT</strong></td>
				                  <td *ngIf="x.lunch_out != null">{{x.lunch_out | date:'hh:mm:ss'}}</td>
				                  <td><span class="badge bg-aqua cur" (click)="viewBusinessLogs(x)"><i class="fa fa-info"></i>&nbsp; Business Logs</span></td>
				                </tr>
				              </tbody>
				            </table>

				            <div *ngIf="logs.length == 0">
				              <h5 style="text-align: center; font-size: 12pt"><em>"No Attendance Available."</em></h5>
				            </div>
				          </ng-container>
				        </div>
				        <!-- /.col -->
				      </div>
				      <!-- /.row -->
				    </div>
				    <!-- ./box-body -->
				    <div class="box-footer">
				      <a routerLink="../my-attendance-list" class="btn btn-sm btn-default btn-flat pull-right" *ngIf="logs.length != 0">View All</a>
				      <!-- /.row -->
				    </div>
				    <!-- /.box-footer -->
				  </div>
				  <!-- /.box -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" *ngIf="task.length != 0">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Task</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<div class="box-body">
							<div class="form-loader" *ngIf="loaderForTask">
				              <div class="row">
				                <div class="loader">
				                  <div class="loading">
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                  </div>
				                </div>
				              </div>
				          	</div>

							<table class="row-border hover" *ngIf="!loaderForTask && task.length != 0">
				              <thead>
				                <tr>
				                  <th>Task</th>
				                  <th>Deadline</th>
				                  <th>Status</th>
				                </tr>
				              </thead>
				              <tbody *ngFor="let x of task">
				                <tr>
				                 <td>{{x.task}}</td>
				                 <td>{{x.deadline | date:'MMM d, y, h:mm:ss a'}}</td>
				                 <td *ngIf="x.status == 'FOR APPROVAL'"><span class="badge badge-default">{{x.status}}</span></td>
								 <td *ngIf="x.status == 'PENDING'"><span class="badge badge-primary">{{x.status}}</span></td>
								 <td *ngIf="x.status == 'ON-GOING'"><span class="badge badge-info">{{x.status}}</span></td>
								 <td *ngIf="x.status == 'CHECKING'"><span class="badge badge-danger">{{x.status}}</span></td>
								 <td *ngIf="x.status == 'DONE'"><span class="badge badge-success">{{x.status}}</span></td>
				                </tr>
				              </tbody>
				            </table>
				            
				            <div *ngIf="!task && !loaderForTask">
				              <h5 style="text-align: center; font-size: 12pt"><em>"No Task Available."</em></h5>
				            </div>
						</div>
						<div class="box-footer clearfix">
							<a routerLink="/admin../my-task-list" class="btn btn-sm btn-default btn-flat pull-right" *ngIf="!loaderForTask">View All</a>
						</div>
					</div>
				</div>
				<div class="col-md-4" *ngIf="onboarding.length != 0">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Onboarding</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>    
							</div>
						</div>
						<div class="box-body">
							<div class="form-loader" *ngIf="loaderForOnboarding">
				              <div class="row">
				                <div class="loader">
				                  <div class="loading">
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                  </div>
				                </div>
				              </div>
				          	</div>
							<table class="row-border hover" *ngIf="!loaderForOnboarding && onboarding.length != 0">
								<thead>
								<tr>
								  <th>Type</th>
								  <th>Status</th>
								  <th *ngIf="checkAllOnboard">
								  	<input type="checkbox" (click)="checkAllOnboarding()" id="checkall">
								  	<label for="checkall">Check All</label>
								  </th>
								</tr>
								</thead>
								<tbody *ngFor="let x of onboarding; let i = index">
								<tr>
								  <td>{{x.type}}</td>
								  <td *ngIf="x.status == 'PENDING'"><span class="badge badge-primary">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'CHECKING'"><span class="badge badge-warning">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'DONE'"><span class="badge badge-success">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'PENDING'">
								  	<input type="checkbox" (click)="checkOnboarding(i)" [id]="i" [checked]="x.val">
								  	<label [for]="i">Done</label>
								  </td>
								  <td *ngIf="x.status == 'CHECKING' && checkAllOnboard"><span class="badge badge-warning">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'DONE' && checkAllOnboard"><span class="badge badge-success">{{x.status}}</span></td>
								</tr>
								</tbody>
							</table>

							<div *ngIf="onboarding.length == 0 && !loaderForOnboarding">
								<h5 style="text-align: center; font-size: 12pt"><em>"No Onboarding Available."</em></h5>
							</div>
						</div>
						<div class="box-footer clearfix">
							<ng-container *ngIf="checkAllOnboard && !loaderForOnboarding">
								<button type="button" class="btn btn-primary pull-right" [disabled]="!btnOnboarding" (click)="submitOnboarding()">
								Submit
								</button>
							</ng-container>
						</div>
					</div>
				</div>

				<div class="col-md-4" *ngIf="clearance.length != 0">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Clearance</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>    
							</div>
						</div>
						<div class="box-body">
							<div class="form-loader" *ngIf="loaderForClearance">
				              <div class="row">
				                <div class="loader">
				                  <div class="loading">
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                    <div class="loading-bar"></div>
				                  </div>
				                </div>
				              </div>
				          	</div>
							<table class="row-border hover" *ngIf="!loaderForClearance && clearance.length != 0">
								<thead>
								<tr>
								  <th>Type</th>
								  <th>Status</th>
								  <th *ngIf="checkAllClear">
								  	<input type="checkbox" (click)="checkAllClearance()" id="checkall">
								  	<label for="checkall">Check All</label>
								  </th>
								</tr>
								</thead>
								<tbody *ngFor="let x of clearance; let i = index">
								<tr>
								  <td>{{x.type}}</td>
								  <td *ngIf="x.status == 'PENDING'"><span class="badge badge-primary">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'CHECKING'"><span class="badge badge-warning">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'DONE'"><span class="badge badge-success">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'PENDING'">
								  	<input type="checkbox" (click)="checkClearance(i)" [id]="i" [checked]="x.val">
								  	<label [for]="i">Done</label>
								  </td>
								  <td *ngIf="x.status == 'CHECKING' && checkAllClear"><span class="badge badge-warning">{{x.status}}</span></td>
								  <td *ngIf="x.status == 'DONE' && checkAllClear"><span class="badge badge-success">{{x.status}}</span></td>
								</tr>
								</tbody>
							</table>

							<div *ngIf="clearance.length == 0 && !loaderForClearance">
								<h5 style="text-align: center; font-size: 12pt"><em>"No Clearance Available."</em></h5>
							</div>
						</div>
						<div class="box-footer clearfix">
							<ng-container *ngIf="checkAllClear && !loaderForClearance && !btnPrint">
								<button type="button" class="btn btn-primary pull-right" [disabled]="!btnClearance" (click)="submitClearance()">
								Submit
								</button>
							</ng-container>
							<ng-container *ngIf="btnPrint && !loaderForClearance">
								<button type="button" class="btn btn-primary pull-right" (click)="printClearance()">
								Print
								</button>
							</ng-container>
						</div>
					</div>
				</div>

				<!-- <div class="col-md-4">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Payslip</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>    
							</div>
						</div>
						<div class="box-body payslip-body">
							 
						</div>
						<div class="box-footer clearfix">
							<a class="btn btn-info btn-flat pull-right" (click)="generatePayroll()">Generate Payroll Slip</a> 
						</div>
					</div>
				</div> -->

			</div>


		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
	immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div
><!-- ./wrapper -->