<div class="content-wrapper">
  <div class="box-header">
  </div>
  <div class="box-body">
      <h2 style="margin-left: 116px" class="text-success">Company Calendar<hr></h2>
    <div class="row" style="padding-top:60px">
      <div class="col-md-1"></div>
      <div class="col-md-2" >
        <form [formGroup]="eventForm">
          <div class="input-group">    
            <label for="employee">Type:</label>
            <select2 id="employee" name="employee"
            [data]="event_type"
            [options]="options"
            [width]="293"
            [value]="event_value"
            (valueChanged)="changedEventType($event)"
            required>
          </select2>                                           
        </div>
      </form>
      <h4 style="margin-bottom: 25px; margin-top: 21px;">Legends<hr></h4>
      <ul class="list-unstyled" >
        <li *ngFor="let x of event_type">
          <div *ngIf="event_current == 0 && x.id != 0">            
            <table>
              <tr>
                <td style="width: 21px; display: block; margin: 3px; border-radius: 6px"  [style.background]="x.color">&nbsp; </td>
                <td [style.color]="x.color">{{ x.text }}</td>
              </tr>
            </table>  
          </div>
          <div *ngIf="event_current ==  x.id && x.id != 0 ">            
            <table>
              <tr>
                <td style="width: 21px; display: block; margin: 3px; border-radius: 6px"  [style.background]="x.color">&nbsp; </td>
                <td [style.color]="x.color">{{ x.text }}</td>
              </tr>
            </table>  
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="container" style="min-height: 500px; width: 100%;">
        <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</div>
