.fc .fc-toolbar>*>:first-child {
    margin-left: 0;
    color: #3c8dbc;
}

.box-body {
	background-color: #fff;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 22px;
}