<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()" >&times;</button>
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   </div>
   <div class="modal-body">
    
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
    
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="updateEventForm" (ngSubmit)="UpdateEventStatus()">
        <div class="form-group"  *ngIf="event.status == 'CANCELLED'">
          <label class="control-label" for="status_id">Status:</label>
          <input type="text" class="form-control" id="status_id" placeholder="Enter your display Status" formControlName="status_id" value="{{event.status}}" [(ngModel)]="event.status" readonly/>
        </div>

        <div class="form-group"  *ngIf="event.status != 'CANCELLED'">
          <label class="control-label" for="status_id">Status:</label>
          <select id="status_id"  formControlName="status_id" [(ngModel)]="event.status">
            <option *ngFor="let status of event_status;" value="{{status.id}}">{{status.text}}</option>
          </select>
        </div>
      <button type="submit" class="btn btn-primary pull-right"  *ngIf="event.status != 'CANCELLED'">Update</button>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>


<!-- <div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="modalTitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body"> </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div> -->