.box-footer[_ngcontent-jag-170] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #e9e9e9;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #e9e9e9;
    word-wrap: break-word;
    
    background-clip: border-box;
}

.fa.pull-right {
    margin-left: .3em;
    margin-right: 1.3em;
}

.h3{
    text-align: center;
}

.panel.panel-primary{
    height: auto;
}

.card-body{
    background-color: #fff;
}
