<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12 col-lg-12 col-md-12">
				<div class="box">
					<div class="box-body">
						<div *ngIf="!selectedEmployee">
							<h3><strong>Employee list</strong></h3>
							<div class="ng-container">
								<div class="row">
									<ng-container *ngFor="let x of employee">
										<div class="col-md-4" (click)="setActiveEmployee(x)" >
											<div class="box box-widget widget-user">
												<div class="widget-user-header bg-aqua-active">
													<h4 class="widget-user-username" >{{x.name}}</h4>
													<h5 class="widget-user-desc">{{x.position}}</h5>
												</div>
												<div class="widget-user-image">
													<img class="img-circle" src="../assets/img-circle/user-placeholder.png" alt="User Avatar" width="100" height="100">
												</div>
												<div class="box-footer" style="background-color: #e9e9e9">
													<div class="row">
														<div class="col-md-4"></div>
														<div class="col-md-4">
															<div class="description-block">
																<h6 class="description-header">{{x.obj_count}}</h6>
																<span class="description-text" *ngIf="x.obj_count != 0">Objectives</span>
																<span class="description-text" *ngIf="x.obj_count == 0">Objective</span>
															</div>
														</div>
														<div class="col-md-4"></div>
													</div>
												</div>
											</div>
										</div>
									</ng-container> 
								</div>
							</div>
						</div>
						<div *ngIf="selectedEmployee">							
							<div class="col-md-1">
								<a  (click)="selectedEmployee = null" class="previous" style="color: blue">&laquo; Previous</a>      
							</div>														
							<br>
							<div class="row">
								<div class="card col-sm-3">
									<img class="card-img-top" src="../assets/img/user-placeholder.png" alt="Card image cap">
									<div class="card-block">
										<p class="card-text" > <strong style="font-size: 17pt;">
											{{selectedEmployee.name}}</strong>
										</p>
										<p style="font: 12 pt"> {{selectedEmployee.position}}</p><br>    
										<i> Employement status:</i> <strong>{{selectedEmployee.status}}</strong> <br>                                       
										<i> Date hired:</i> <strong> {{selectedEmployee.date_hired}}</strong>                                
									</div>
								</div>
								<div class="col-sm-9">
									<div class="card text-center">
										<div class="card-header">
											<div class="row">
												<div class="col-lg-12">
													<button type="button" class="btn btn-primary btn-sm float right" (click)="addObj()">Add Objective</button>											 </div>
												</div>
											</div>
											<div class="card-body">
												<table  class="table table-bordered" style="text-align:center">
													<thead>
														<tr>
															<th>Implement</th>
															<th>What's the objective</th>
															<th>How and why are you going to achieve it?</th>
															<th >Due</th>
															<th >Action</th>
														</tr>   
													</thead>
													<tbody style="text-align: left;">
														<tr *ngFor="let x of obj">
															<td>{{x.implement}}</td>
															<td>{{x.objective}}</td>
															<td>{{x.achieve_obj}}</td>
															<td>{{x.due}}</td>
															<td>
																<i class="fa fa-pencil" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="editObj(x.id)"></i>&nbsp;
																<i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="archiveObj(x.id)"></i>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<br>
										<br>	
										<div class="card text-center">
											<div class="card-header">
												<div class="row">
													<div class="col-lg-12">
														<button type="button" class="btn btn-primary btn-sm float right" (click)="addDevelopment()">Add development activity</button>	
													</div>
													</div>
												</div>
												<div class="card-body">
													<table  class="table table-bordered" style="text-align:center">
														<thead>
															<tr>
																<th>Development need</th>
																<th>How are you going to meet this need?</th>
																<th>How is this going to help you in your role?</th>
																<th>Due by</th>
																<th>Action</th>
															</tr>   
														</thead>
														<tbody style="text-align: left;">
															<tr *ngFor="let x of dev">
																<td>{{x.development}}</td>
																<td>{{x.achieve_role}}</td>
																<td>{{x.development_role}}</td>
																<td>{{x.due}}</td>
																<td>
																	<i class="fa fa-pencil" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="editDev(x.id)"></i>&nbsp;
																	<i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="archiveDev(x.id)"></i>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>