.overlay {
	position: fixed !important; 
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #000 !important;
    opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
    z-index:50 !important;
}


#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    display: none;
} 
.ui-tooltip, .ui-widget, .ui-corner-all, .ui-widget-content {
    display: none !important;
}
.ui-helper-hidden-accessible, .ui-tooltip {
    display:none !important;
}

.ui-tooltip-content {
    display: none !important;
}