table {
	width: 100% !important;
}

@media (min-width: 768px) {
	.payroll-modal {
	    width: 900px !important;
	    margin: 30px auto;
	}
}

.columnList {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.edit{
	font-size: 20px; 
	cursor:pointer;color:#2386bf; 
}

.approved{
	font-size: 20px; 
	cursor:pointer;
	color:#15c533; 
}

.reject{
	font-size: 20px; 
	cursor:pointer;
	color:#e43a3a; 
}
.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}

label {
	font-weight: bold;
}