<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title" *ngIf="showTable">{{title || 'Confirm'}}</h4>
     <h4 class="modal-title" *ngIf="!showTable">Reading Data . . .</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <h4><i class="icon fa fa-ban"></i> Ops!</h4>
        <p>{{error_message}}</p>
     </div>

    <ng-container *ngIf="!bio_val">
      <div class="form-group"  *ngIf="showTable">
        <div class="row">
          <div class="col-md-12">
            <input type="file" ngFileSelect 
            [events]="inputUploadEvents" 
            (onUpload)="handleUpload($event)" 
            (beforeUpload)="beforeUpload($event)" 
            [options]="options" />
          </div>
        </div>
      </div>

      <!-- <div class="form-group" *ngIf="loader">
        <div class="row">
          <div class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div> -->
      <div class="form-loader" *ngIf="loader">
        <div class="row">
          <div class="loader">
            <div class="loading" >
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
              <div class="loading-bar"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="switch-display"  *ngIf="showTable">
        <div class="swtich-display-item">
          <!-- <div class="switch">
            <input 
            id="choose" 
            name="choose" 
            type="checkbox" 
            value="true"
            [checked]="true"
            (click)="typeOfForm($event)"
            />
            <label for="choose" class="label-primary"></label>
          </div> -->
          <!-- <span *ngIf="fromDown">Downloaded Form</span> -->
          <!-- <span *ngIf="fromBio">Biometrics Form</span> -->
          <div class="form-group">
            <select class="form-control" id="bio_type" (change)="biometricsChoose($event.target.value)" value="0">
              <option [selected]="0" value="0"> -- none -- </option>
              <option [selected]="0" value="1">Upload By Date</option>
              <option value="2">Upload By Row</option>
              <option value="3">Upload By Row with Lunch In & Out </option>
            </select>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-success" (click)="startUpload()">Upload</button>
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="bio_val">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="bio_device">Biometrics Device:</label><br>
            <select2 id="bio_device" name="bio_device" 
            [data]="bio" 
            [width]="470"
            [value]="bio_value"
            (valueChanged)="changedBio($event)" 
            required>
            </select2>
          </div>
        </div>
      </div>
    </ng-container>

   </div>

   <div class="modal-footer"  *ngIf="bio_val">
      <button type="submit" class="btn btn-primary" [disabled]="!validate" (click)="getDataFromBiometrics()">Upload</button>
   </div>
 </div>
</div>
