
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Review Attendance
    </h1>
  </section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
      	<ng-container *ngIf="!loader">
    		<button type="button" class="btn btn-success" (click)="import()"><i class="fa fa-upload"></i> Import</button>&nbsp;
    		<button type="button" class="btn btn-primary" (click)="save()" *ngIf="final_data.length != 0 && validate"><i class="fa fa-download"></i> Save</button>&nbsp;
        	<div *ngIf="invalid > 0">
        		<br>
      			<em class="text-danger">"Please complete the data below."</em>
    		</div>

    	</ng-container>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">

        	<div class="alert alert-success alert-dismissible" *ngIf="success_title">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
		        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
		        <p>{{success_message}}</p>
		    </div>
		    <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
		        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
		        <p>{{error_message}}</p>
		    </div>

		    <div class="form-loader" *ngIf="loader">
			    <div class="row">
			      <div class="loader">
			        <div class="loading" >
			          <div class="loading-bar"></div>
			          <div class="loading-bar"></div>
			          <div class="loading-bar"></div>
			          <div class="loading-bar"></div>
			        </div>
			      </div>
			    </div>
			</div>

			<div class="form-loader" *ngIf="final_data.length == 0">
      			<h5 align="center" *ngIf="!loader"><em>"Click the button above to choose file."</em></h5>
    		</div>

			<div align="right" *ngIf="tableVal">
              <label>Search:</label>
              <input type="text" #myInput (keyup)="filter(myInput.value)">
            </div><br>

			<ng-container *ngIf="tableVal">
				<div class="table-responsive">
				    <table class="table table-active table-hover table-bordered text-center">
						<thead>
						  <tr class="text-center location text-white">
						      <th>Employee</th>
						      <th>Location</th>
						      <th>Date</th>
						      <th *ngIf="work_sched.length != 0">Schedule</th>
						      <th>Time In / Time Out</th>
						      <th>Action</th>
						  </tr>
						</thead>
						<tbody>
							<ng-container *ngFor= "let data of final_data; let i = index ">
							  <ng-container *ngIf="data.show">
							    <tr>
							     <td [rowSpan]="data.details.length+1"> 
							        <strong>{{data.name}}</strong>
							     </td>
							    </tr>                   
							    <ng-container *ngFor= "let d of data.details; let x = index">
							        <tr>
							          <td>
							            <div class="branch">
							            <select2 name="branch" 
							            [data]="branch" 
							            [options]="options2"
							            [width]="230"
							            [value]="d.branch_id"
							            (valueChanged)="changedBranch($event,i,x)" 
							            required>
							            </select2>
							            </div>
							          </td>
							          <td >
							            <div class="date">
							              {{d.date | date:'MMM dd, yyyy'}}
							            </div>
							          </td>
							          <td  *ngIf="work_sched.length != 0">
				                        <select2 name="work_sched"
				                        [data]="work_sched" 
				                        [options]="options2"
				                        [width]="100"
				                        [value]="ws_value"
				                        (valueChanged)="changedWorkingSchedule($event,i,x)" 
				                        required>
				                        </select2>
				                      </td>
							          <td>
							            <div class="sched">
							              <input type="time" (change)="changeInputTime($event,'in',i,x)" [value]="d.start_time">
							              &nbsp;<strong>/</strong>
							              <input type="time" (change)="changeInputTime($event,'out',i,x)" [value]="d.end_time">
							            </div>
							          </td>
							          <td>
							            <div class="action">
							            	<span class="badge badge-danger cur" (click)="removeInList(i,x)"><i class="fa fa-remove"></i>&nbsp; Remove</span> <br>
							            </div>
							          </td>
							        </tr>
							    </ng-container>
							  </ng-container>
							</ng-container>
						</tbody>
		            </table>
	        	</div>
	        </ng-container>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->



