.loader {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;  
    height: 100%;
    z-index: 9999;
}
.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;

}
.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.form-loader {
    position: relative;
    padding: 70px;
    left:-3%;
    top:56%;
}

/** Table **/

td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*.branch {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    border-top: 1px;
}

.date {
    padding: 11px 0px 12px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.sched {
    padding: 8px 0px 9px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.action {
    padding: 9px 0px 12px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}*/

.location  {
    background-color:#32c5d2;   
}
.cur{
  cursor: pointer;
}