<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Certificate of Attendance Type List <br/>
    <small>Certificate of Attendance Type tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Certificate of Attendance Type</a></li>
    <li class="active">List</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
        <a class="btn btn-info pull-left" (click)="createCOAType()">Add Certificate of Attendance Type</a>
        
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Certificate of Attendance Type List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <!-- [dtOptions]="dtOptions" -->
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->