<div class="wrapper">

  <!-- Main Header -->
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Pag ibig
      <small>Leave tables</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Leave</a></li>
      <li class="active">List</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
        <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
          <a class="btn btn-info pull-left" routerLink="" routerLinkActive="active">Add Leaves</a>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">pagibig
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr align="center">
                <th>Employee Salary</th>
                
                <th align="center">Employee Share</th>
                <th>Employer Share</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pagibig of pagibig_rec;">
                <td>{{pagibig.monthly_compensation}}</td>
                <td>{{pagibig.employee_share}}</td>
                <td>{{pagibig.employer_share}}</td>
               
                <td>
                  <span class="input-group margin">
                   <i class="fa fa-pencil-square-o"></i> 
                    <i class="fa fa-trash-o"></i>
                   
                  </span>
                </td>
              </tr>

              </tbody>

            </table>
          </div>
           
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

       
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <admin-footer></admin-footer>

  <!-- Control Sidebar -->
  <admin-control-sidebar></admin-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->