
<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()" >&times;</button>
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   </div>
   
    <div class="modal-body">
      <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="addDeductionForm" novalidate (ngSubmit)="onSubmit(addDeductionForm.value, addDeductionForm.valid)">
      <div class="form-group">
        <label class="control-label" for="name">New Deduction</label>
        <input type="text" class="form-control" id="name" placeholder="Enter deduction type" formControlName="type" value="{{deduction.type}}" [(ngModel)]="deduction.type">
      </div>
       <div class="form-group">
        <label for="name">Description</label> <br/>
        <textarea type="comment" id="name" placeholder="Enter Deduction Description" formControlName="description" value="{{deduction.description}}" rows="6" cols="90"></textarea>
      </div>
      
    
      <button type="submit" [disabled]="!addDeductionForm.valid" class="btn btn-primary pull-right">Add</button>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
