<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()" >&times;</button>
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="updateDeductionForm" (ngSubmit)="validateUpdate()">
      <div class="form-group">
        <label class="control-label" for="name">Deduction</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your Deduction" formControlName="type" value="{{deduction.type}}" [(ngModel)]="deduction.type">
      </div>
      <div class="form-group">
         <label for="name">Description</label><br>
         <textarea type="comment" id="name" placeholder="Enter your Deduction" value="{{deduction.description}}" formControlName="description"rows="6" cols="90"></textarea>
      </div>
       
  
      <button type="submit" class="btn btn-primary pull-right">Update</button>
      <a class="btn btn-sm btn-default" (click)="archiveDeduction($event)"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
