.seen{
	font-size: 20px; 
}

.delete{
	font-size: 20px; 
	cursor:pointer;color:#e43a3a; 
}

.edit{
	font-size: 20px; 
	cursor:pointer;color:#2386bf; 
}
.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}