<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
      
      <div class="scroll">
        <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
        <div class="form-group"  *ngIf="multi">
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" for="employee" >Employee:</label>
              <select2 [data]="employee"
              [options]="options"
              [width]="752"
              [value]="employee_value"
              (valueChanged)="changedEmployee($event)"
              required>
              </select2>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="single">
          <div class="row">
            <div class="col-lg-12"> 
              <label class="control-label" for="employee" >Employee:</label><br>
              <select2 [data]="employee" 
              [width]="752" 
              [value]="employee_value"
              (valueChanged)="changedEmployee($event)"  required></select2>
            </div>
          </div>  
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">

              <label>Leave Type:</label><br>
              <select2 [data]="leavetype" 
              [width]="231"
              [value]="leave_type_value"
              (valueChanged)="changedLeaveType($event)" required></select2><br><br>

              <!-- <div>
                <label>Remaining Leaves: <strong>{{ leave_remaining_leaves }}</strong></label>
              </div> -->

              <label>Date range:</label>
              <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
              </div><br>

              <label>No. of Days:</label>
              <input type="label" value={{total_days}} class="form-control" readonly/><br>

              <label>Payment of Leave:</label>
              <select class="form-control" name="leave_payment_option" formControlName="leave_payment_option" [(ngModel)]="leave_payment_option">
                <option *ngFor="let leave_pay_option of leave_payment_options" value="{{leave_pay_option.value}}">{{leave_pay_option.name}}</option>
              </select><br>

              <button type="button" class="btn btn-success" (click)="computeDays()">
              <i class="fa fa-thumbs-up"></i> OK</button>

            </div>
            <div class="col-lg-4">
              <label>Attachment:</label>
              <div class="dropzone dropzone-file-area dz-clickable">
              <label class="upload-button">
                <input type="file" ngFileSelect 
                [events]="inputUploadEvents" 
                (onUpload)="handleUpload($event)" 
                (beforeUpload)="beforeUpload($event)" 
                [options]="option" 
                (change)="startUpload()" class="d-none">
                <img [src]="attachment" class="image" *ngIf="attachment != null">
                <span class="fa fa-file-image-o" style="font-size: 231px;" *ngIf="attachment == null"></span>
              </label>
              </div>
            </div>
            <div class="col-lg-4">
              <label>Reason:</label>
              <textarea class="form-control" name="reason" id="reason" placeholder="Reason ..."  formControlName="reason" [(ngModel)]="reason" required style="height: 250px"></textarea>
            </div>
          </div>
        </div>

          <div class="form-group" *ngIf="tableVal">
            <div class="row">
              <div class="col-lg-12 overflow">
                <table class="table table-hover table-bordered text-center">
                  <thead class="text-area-color text-center text-white">
                    <tr>
                      <th>Date</th>
                      <th>Options</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor= "let data of radioData;  let i = index">
                      <td>
                        {{data.date | date:"MMMM dd,yyyy"}}
                      </td>
                      <td>

                        <input id="" type="radio" name={{data.date}}  (change)="wholeDay(i)" [checked]="data.whole">
                          <label for="" class="padd">Whole day</label>&nbsp;
                        <input id="" type="radio" name={{data.date}} (change)="halfDay(i)" [checked]="data.half">
                          <label for="" class="padd">Half day</label>&nbsp;
                        <input id="" type="radio" name={{data.i}}  *ngIf="data.half" (change)="choice(i,'First half')" [checked]="data.Fhalf">
                          <label for=""  class="padd" *ngIf="data.half">First half of the day</label>&nbsp;
                        <input id="" type="radio" name={{data.i}} *ngIf="data.half" (change)="choice(i,'Second half')" [checked]="data.Shalf">
                          <label for=""  class="padd" *ngIf="data.half">Second half of the day</label>
                      </td>
                      <td>
                        <span class="badge badge-danger cur" (click)="removeDay(i)"><i class="fa fa-remove"></i>&nbsp; Remove</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!leaveForm.valid || !validate" *ngIf="tableVal">{{button}}</button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
