/*@media (min-width: 992px) {
	.modal-lg {
	    width: 1189px !important;
	}
}*/

.select2-container--default .select2-selection--single {
	border-radius: 0px !important;
}

.select2-container .select2-selection--single { 
	font-size: 35px !important;
}

/* Important part */
.modal-body{
    overflow-y: initial !important
}
.scroll{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*.pickerdate {
	width: 90% !important;
	display: inline-block;
}*/

/*.buttonOk {
	display: inline;
}*/

.buttonOk .btn {
	border-radius: 0 !important;
	vertical-align: top;
	padding: 5px 12px !important;
}

.columnList {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone-file-area {
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    width: 250px;
}

.dropzone img {
	max-width: 230px; 
	max-height: 230px; 
	min-height: 100%; 
	background-repeat: no-repeat; 
	background-size: contain;

}

.remove{
	font-size: 20px; 
	cursor:pointer;
	color:#e43a3a;
}
.padd{
	padding:5px;
}

.cur{
	cursor: pointer;
}

.text-area-color  {
    background-color:#32c5d2;   
}
