/* Important part */
.modal-body{
    overflow-y: initial !important
}
.scroll{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone-file-area {
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    height: 250px;
    width: 250px;
}

.dropzone img {
	max-width: 230px; 
	max-height: 230px; 
	min-height: 100%; 
	background-repeat: no-repeat; 
	background-size: contain;

}

.cur{
    cursor: pointer;
}

.text-area-color  {
    background-color:#32c5d2;   
}