<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>

      <div class="scroll">
       <form [formGroup]="OBForm" (ngSubmit)="createOB()">
          <div class="form-group"  *ngIf="multi">
            <div class="row">
            <div class="col-lg-12">
              <label class="control-label" for="employee" >Employee:</label><br>
              <select2 
              [data]="employee"
              [options]="options"
              [width]="753"
              [value]="employee_value"
              (valueChanged)="changed($event)"
              required>
              </select2>
            </div>
            </div>
          </div>

          <div class="form-group" *ngIf="single">
            <div class="row">
            <div class="col-lg-12"> 
            <label class="control-label" for="employee" >Employee:</label><br>
            <select2 
            [data]="employee" 
            [width]="753" 
            [value]="employee_value"
            (valueChanged)="changed($event)"  required></select2>
            </div>
            </div>  
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6"> 
                <div class="form-group">
                  <label class="control-label" for="type" >Location:</label><br>
                  <select2 id="branch" name="branch" 
                  [data]="branch" 
                  [width]="361"
                  [options]="options2"
                  [value]="branch_value"
                  (valueChanged)="changedBranch($event,-1)" 
                  required>
                  </select2>
                </div>

                <div class="form-group">
                  <label>Date range:</label>
                  <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                <label>Reason:</label>
                <textarea class="form-control" name="remarks" id="remarks" rows="4" placeholder="Reason ..."  formControlName="remarks" [(ngModel)]="remarks" required></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label>Start Time:</label>
                <timepicker [(ngModel)]="start_time" [showMeridian]="ismeridian" formControlName="start_time" (click)="tableData()"></timepicker>
              </div>

              <div class="col-lg-4">
                <label>End Time:</label>
                <timepicker [(ngModel)]="end_time" [showMeridian]="ismeridian" formControlName="end_time" (click)="tableData()"></timepicker>
              </div>

              <div class="col-lg-3 mt-60">
                <button type="button" class="btn btn-info" (click)="toggleMode()">24Hour Format</button>
                <br><br>
                <button type="button" class="btn btn-success" (click)="tableData()">Add Record to List</button>
              </div>

            </div>
          </div>


          <div class="row" *ngIf="tableVal">
            <div class="col-lg-12">
              <div class="form-group">
                <table class="table table-hover table-bordered text-center">
                  <thead class="text-area-color text-center text-white">
                    <tr>
                      <th>Day</th>
                      <th>Date</th>
                      <th>Location</th>
                      <th *ngIf="work_sched.length != 0">Suggested</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor= "let data of dataStorage;  let i = index">
                      <td>
                         {{data.date | date:'EE' }}
                      </td>
                      <td>
                        {{data.date}}
                      </td>
                      <td>
                        <select2 id="branch_{{data.location}}" name="branch" 
                        [data]="branch" 
                        [options]="options2"
                        [width]="100"
                        [value]="data.location"
                        (valueChanged)="changedBranch($event,i)" 
                        required>
                        </select2>
                      </td>
                      <td  *ngIf="work_sched.length != 0">
                        <select2 name="work_sched"
                        [data]="work_sched" 
                        [options]="options2"
                        [width]="100"
                        [value]="ws_value"
                        (valueChanged)="changedWorkingSchedule($event,i)" 
                        required>
                        </select2>
                      </td>
                      <td>
                        <input type="time" [value]="data.start_time" (change)="updateTime(i,'start',$event)" class="form-control">
                      </td>
                      <td>
                        <input type="time" [value]="data.end_time" (change)="updateTime(i,'end',$event)" class="form-control">
                      </td>
                      <td>
                        <span class="badge badge-danger cur" (click)="removeDay(i)"><i class="fa fa-remove"></i>&nbsp; Remove</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        <button type="submit" class="btn btn-primary pull-right" [disabled]="!OBForm.valid || !validate" *ngIf="tableVal">{{button}}</button>
       </form>
       
     </div>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
