    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title || 'Confirm'}}</h4>
          <button type="button" class="close" (click)="close()" >&times;</button>
        </div>
        <div class="modal-body">
          <div class="alert alert-success alert-dismissible" *ngIf="success_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-check"></i>{{success_title}}</h4>
            <p>{{success_message}}</p>
          </div>
          <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-ban"></i>{{error_title}}</h4>
            <p>{{error_message}}</p>
          </div>

          <!-- use for validation of input of days in attendance-create Day view -->
          <ng-container *ngIf="attValEmp">
            <p><b>The following Employees doesn't have total days. Do you want to proceed?</b></p>
            <div class="form-group scroll">
              <div class="row">
                <div class="col-md-12">
                  <ul class="columnList list-unstyled">
                    <ng-container *ngFor= "let x of data">
                      <li>
                        {{x.name}}
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="approved">
            <p>{{message}}</p>
          </ng-container>   
        </div>
        <div class="modal-footer">
          <ng-container *ngIf="attValEmp">
            <p><i>Note: If you choose YES the list of Employees above will be ignored.</i></p><br>
          </ng-container>
          <button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
          <button type="button" class="btn btn-default" (click)="close()">No</button>
        </div>
      </div>
    </div>
