.columnList {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.scroll{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}