<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Edit Employee
        <small>Update of Employee Record</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../employee-list">Employee List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Employee form</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- success_title -->
                        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                            <p>{{success_message}}</p>
                        </div>
                        <!-- error message -->
                        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                            <p>{{error_message}}</p>
                        </div>
                        <div class="alert alert-danger alert-dismissible" *ngIf="msg_terminate_title != null && msg_terminate_msg != null">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{ msg_terminate_title }}</h4>
                            <p>{{ msg_terminate_msg }}</p>
                        </div>
                        <!-- Loading Icon -->
                        <div *ngIf="!employee.id">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <form #form_eu="ngForm" *ngIf="employee.id" novalidate [formGroup]="updateEmployeeForm" (ngSubmit)="validateUpdate()">
                            <small>Field with (*) are required fields.</small>
                            <br/>
                            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                <li role="presentation" class="nav-item"><a href="#personal" class="nav-link active" id="personal-tab" role="tab" data-toggle="tab" aria-controls="personal" aria-expanded="true">Personal Info</a></li>
                                <li role="presentation" class="nav-item"><a href="#job-title" class="nav-link" role="tab" id="job-title-tab" data-toggle="tab" aria-controls="job-title" aria-expanded="false">Job Info</a></li>
                                <li role="presentation" class="nav-item"><a href="#leave-credits" class="nav-link" role="tab" id="leave-credits-tab" data-toggle="tab" aria-controls="leave-credits" aria-expanded="false">Leave Credits</a></li>
                                <li role="presentation" class="nav-item"><a href="#government" class="nav-link" role="tab" id="government-tab" data-toggle="tab" aria-controls="government" aria-expanded="false">Government Docs</a></li>
                                <li role="presentation" class="nav-item"><a href="#contact" class="nav-link" role="tab" id="contact-tab" data-toggle="tab" aria-controls="contact" aria-expanded="false">Contact Info</a></li>
                                <li role="presentation" class="nav-item"><a href="#dependencies" class="nav-link" role="tab" id="dependencies-tab" data-toggle="tab" aria-controls="dependencies" aria-expanded="false">Dependencies</a></li>
                                <li role="presentation" class="nav-item"><a href="#emergency" class="nav-link" role="tab" id="emergency-tab" data-toggle="tab" aria-controls="emergency" aria-expanded="false">Emergency Contacts</a></li>
                                <li role="presentation" class="nav-item"><a href="#location" class="nav-link" role="tab" id="location-tab" data-toggle="tab" aria-controls="location" aria-expanded="false">Address Info</a></li>
                                <li role="presentation" class="nav-item"><a href="#bank" class="nav-link" role="tab" id="bank-tab" data-toggle="tab" aria-controls="bank" aria-expanded="false">Bank Info</a></li>
                                <li role="presentation" class="nav-item"><a href="#attach-files" class="nav-link" role="tab" id="attach-files-tab" data-toggle="tab" aria-controls="attach-files" aria-expanded="false">Attachments</a></li>
                                <li role="presentation" class="nav-item"><a href="#misc" class="nav-link" role="tab" id="misc-tab" data-toggle="tab" aria-controls="misc-files" aria-expanded="false">Misc.</a></li>
                                <li role="presentation" class="nav-item"><a href="#onboarding" class="nav-link" role="tab" id="onboarding-tab" data-toggle="tab" aria-controls="onboarding" aria-expanded="false">Onboarding</a></li>
                                <li role="presentation" class="nav-item"><a href="#user-time-setting" class="nav-link" role="tab" id="user-time-setting-tab" data-toggle="tab" aria-controls="user-time-setting" aria-expanded="false">Time Setting</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade in active show" role="tabpanel" id="personal" aria-labelledby="personal-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{{form_user_image}}" class="img-thumbnail" />
                                            <input type="hidden" value="{{ form_user_image }}" [(ngModel)]="employee.employee_image" formControlName="employee_image" />
                                            <strong>Upload Employee Image Here</strong>
                                            <input type="file" ngFileSelect (onUpload)="handleImgUpload($event)" (beforeUpload)="beforeUploadImg($event)" [options]="optionsImg" />
                                            <p class="text-danger">{{errorUploadImageMessage}}</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <label for="input_employee_code">*Employee Code:</label>
                                                    <input required type="text" class="form-control" formControlName="employee_code" value="{{ employee.employee_code }}" id="emp-employee_code" [(ngModel)]="employee.employee_code" placeholder="Employee Code" readonly />
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <label for="input_firstname">*Firstname:</label>
                                                    <input required type="text" id="emp-firstname" formControlName="firstname" value="{{employee.firstname}}" class="form-control" placeholder="Firstname" [(ngModel)]="employee.firstname" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_lastname">*Lastname:</label>
                                                    <input required type="text" id="emp-lastname" formControlName="lastname" value="{{employee.lastname}}" class="form-control" placeholder="Lastname" [(ngModel)]="employee.lastname" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_middlename">Middlename:</label>
                                                    <input type="text" id="emp-middlename" formControlName="middlename" value="{{employee.middlename}}" class="form-control" placeholder="Middlename" [(ngModel)]="employee.middlename" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_suffix">Suffix:</label>
                                                    <select required class="form-control" id="emp-suffix" formControlName="suffix" [(ngModel)]="employee.suffix">
                                                        <option *ngFor="let suffix of form_suffixes" value="{{ suffix.name }}" [attr.selected]="suffix.name == employee.suffix ? true: null">{{ suffix.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="input_gender">*Gender:</label>
                                                    <select required class="form-control" id="emp-suffix" formControlName="gender" [(ngModel)]="employee.gender">
                                                        <option *ngFor="let sgender of form_genders" [attr.selected]="sgender.name == employee.gender ? true : null" value="{{ sgender.name }}">{{ sgender.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_birth_date">*Birth Date:</label>
                                                    <input required type="date" id="emp-birthdate" value="{{employee.birthdate}}" class="form-control" formControlName="birthdate" placeholder="Birth date" [(ngModel)]="employee.birthdate" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_blood_type">Blood Type:</label>
                                                    <select class="form-control" formControlName="blood_type" id="emp-blood_type" [(ngModel)]="employee.blood_type">
                                                        <option *ngFor="let blood_type of form_blood_types" [attr.selected]="employee.blood_type == blood_type.name ? true : null" value="{{ blood_type.name }}">{{ blood_type.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="input_citizenship">*Citizenship:</label>
                                                    <input required type="text" formControlName="citizenship" value="{{employee.citizenship}}" id="emp-citizenship" class="form-control" placeholder="Citizenship" [(ngModel)]="employee.citizenship" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="">*Nationality:</label>
                                                    <input required type="text" class="form-control" formControlName="nationality" placeholder="Nationality (eg. Filipino)" value="{{employee.nationality}}" [(ngModel)]="employee.nationality" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="">*Marital Status:</label>
                                                    <select required class="form-control" formControlName="marital_status" id="emp-marital_status" [(ngModel)]="employee.marital_status">
                                                        <option *ngFor="let marital_status of form_marital_statuses" value="{{ marital_status.name }}" [attr.selected]="marital_status.name == employee.marital_status ? true : null">{{ marital_status.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="job-title" aria-labelledby="job-title-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="input_primary_company">*Primary Company:</label>
                                            <select required class="form-control" formControlName="primary_company" [(ngModel)]="employee.primary_company" #slct_company_branch (change)="changeBranchAndSched(slct_company_branch.value)">
                                                <!-- Company for dynamics coming soon -->
                                                <option *ngFor="let company of form_companies" value="{{company.id}}" [attr.selected]="company.id == employee.primary_company ? true : null">{{company.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="input_secondary_company">Company Branch</label>
                                            <select class="form-control" required formControlName="company_branch" name="company_branch" [(ngModel)]="employee.company_branch">
                                                <option *ngFor="let company_branch of form_company_branches" value="{{company_branch.id}}" [attr.selected]="(employee.company_branch == company_branch.id) ? true : null">{{company_branch.branch_name}} - {{company_branch.branch_address}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_skills">Skills:</label>
                                            <select class="form-control" formControlName="skills" (change)="onchangeSkills()" [multiple]="true">
                                                <option *ngFor="let skill of form_skills" [attr.selected]="checkIfEmployeeHasThisSkill(skill.name)" value="{{ skill.name }}">{{ skill.name }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_department">*Report to:</label>
                                            <select required class="form-control" formControlName="supervisor_id" (change)="onchangeSupervisor($event.target.options)" [multiple]="true">
                                                <option *ngFor="let supervisor of form_supervisors" [attr.selected]="checkifEmployeeSupervisorSelected(supervisor.id)" value="{{supervisor.id}}">{{supervisor.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_department">*Department:</label>
                                            <select required #t (change)="onChangeDepartment(t.value)" formControlName="department" [(ngModel)]="employee.department" class="form-control" id="emp-department">
                                                <option *ngFor="let department of form_departments" value="{{ department.id }}" [attr.selected]="department.id == employee.department ? true : null">{{ department.name }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_job_title">*Job Title:</label>
                                            <select class="form-control" id="emp-job-title" [(ngModel)]="employee.position" formControlName="position">
                                                <option *ngFor="let job_title of form_job_titles" value="{{ job_title.id }}" [attr.selected]="job_title.id == employee.position ? true : null">{{ job_title.name }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label>*Employment Status</label>
                                            <select class="form-control" required formControlName="employment_status" [(ngModel)]="employee.employment_status" required>
                                                <option *ngFor="let employment_status of form_employment_status" value="{{employment_status.code}}" [attr.selected]="(employee.employment_status == employment_status.code) ? true : null">{{employment_status.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>*Starting Date:</label>
                                            <input required type="date" id="emp-starting-date" class="form-control" placeholder="Starting date" formControlName="starting_date" [(ngModel)]="employee.starting_date" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Ending Date:</label>
                                            <input type="date" id="emp-ending-date" class="form-control" placeholder="Ending date" formControlName="ending_date" [(ngModel)]="employee.ending_date" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Type of Income:</label>
                                            <select class="form-control" required formControlName="salary_receiving_type" [(ngModel)]="employee.salary_receiving_type">
                                                <option *ngFor="let income_type of form_income_type" value="{{income_type.code}}" [attr.selected]="income_type.code == employee.salary_receiving_type ? true : null">{{income_type.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Income Rate:</label>
                                            <input type="number" class="form-control" formControlName="income_rate" value="{{employee.income_rate}}" [(ngModel)]="employee.income_rate" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Allowance:</label>
                                            <input type="number" class="form-control" formControlName="allowance_amount" placeholder="0.00" [(ngModel)]="employee.allowance_amount" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>COLA<small> (Cost of Living Allowance)</small>:</label>
                                            <input type="number" class="form-control" formControlName="e_cola" placeholder="COLA Amount" value="{{employee.e_cola}}" [(ngModel)]="employee.e_cola" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_working_schedule">Working Schedule(s):</label>
                                            <select class="form-control" [multiple]="true" (change)="changeSelectEmployeeWorkingSchedule($event.target.options)" required>
                                                <option *ngFor="let working_schedule of form_working_schedules" value="{{ working_schedule.id }}" [attr.selected]="working_schedule.selected_sched">
                                                    {{ working_schedule.name }} (Time-in:{{ working_schedule.time_in }}, Time-out:{{ working_schedule.time_out }} / Days: {{ working_schedule.days }} / Flexi-time:{{ (working_schedule.flexbile_time == 1) ? 'yes' : 'no' }}) [{{ (working_schedule.approved == 1) ? 'Approved' : 'Not yet Approved' }}]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="leave-credits" aria-labelledby="leave-credits-tab">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>Sick Leave Credit:</label>
                                            <input type="number" formControlName="sick_leave_credit" required class="form-control" [(ngModel)]="employee.sick_leave_credit" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>Vacation Leave Credit:</label>
                                            <input type="number" formControlName="vacation_leave_credit" required class="form-control" [(ngModel)]="employee.vacation_leave_credit" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>Emergency Leave Credit:</label>
                                            <input type="number" formControlName="emergency_leave_credit" required class="form-control" [(ngModel)]="employee.emergency_leave_credit" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>Maternity Leave Credit:</label>
                                            <input type="number" formControlName="maternity_leave_credit" required class="form-control" [(ngModel)]="employee.maternity_leave_credit" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>Other(s) Leave Credit:</label>
                                            <input type="number" formControlName="others_leave_credit" [(ngModel)]="employee.others_leave_credit" required class="form-control" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="government" aria-labelledby="government-tab">
                                    <!--
                                    //[
                                        { code: 'SSS', label: 'SSS No.' },
                                        { code: 'PAGIBIG', label: 'Pag-ibig' },
                                        { code: 'PHILHEALTH', label: 'PhilHealth No.' },
                                        { code: 'TIN', label: 'TIN No.' }
                                    ];
                                    -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Valid ID No.</label>
                                            <input type="text" class="form-control" value="{{ employee.driving_license_no }}" formControlName="driving_license_no" placeholder="Driving License No." />
                                        </div>
                                        <div class="col-md-4">
                                            <label>SSS No.</label>
                                            <input type="text" class="form-control" value="{{ employee.sss }}" formControlName="sss" placeholder="SSS No." required />
                                        </div>
                                        <div class="col-md-4">
                                            <label>PhilHealth ID</label>
                                            <input type="text" class="form-control" value="{{ employee.philhealth_no }}" formControlName="philhealth_no" placeholder="PhilHealth ID" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Pag-Ibig No.</label>
                                            <input type="text" formControlName="pagibig_no" value="{{ employee.pagibig_no }}" class="form-control" placeholder="Pag-Ibig" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Tax Identification #:</label>
                                            <input type="text" class="form-control" placeholder="TIN No." value="{{ employee.tin_no }}" formControlName="tin_no" />
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="contact" aria-labelledby="contact-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="input_tel_no">*Telephone Number:</label>
                                            <input required type="text" formControlName="tel_no" [(ngModel)]="employee.tel_no" value="{{ employee.tel_no }}" id="emp-tel_no" class="form-control" placeholder="Telephone No." />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="input_tel_no">Cellphone Number:</label>
                                            <input type="text" id="emp-cel-no" formControlName="cel_no" [(ngModel)]="employee.cel_no" value="{{ employee.cel_no }}" class="form-control" placeholder="Cellphone No." />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="input_email">Email Address:</label>
                                            <input type="email" id="emp-email" formControlName="email" [(ngModel)]="employee.email" value="{{ employee.email }}" class="form-control" placeholder="Email Address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="dependencies" aria-labelledby="dependencies-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Person Name</th>
                                                        <th>Age</th>
                                                        <th>Relationship</th>
                                                        <th>PWD</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody [formGroup]="updateEmployeeDependencies">
                                                    <!--  -->
                                                    <tr *ngFor="let dependent of employee.employee_dependents; let dependent_index = index">
                                                        <td>
                                                            <input type="text" class="form-control" placeholder="Person Name" />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option></option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" value="1" />
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger">Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5"><a class="btn btn-success pull-right" (click)="addDependencyRow()">Add Dependency</a></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="emergency" aria-labelledby="emergency-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Person</th>
                                                        <th>Relationship</th>
                                                        <th>Contact Number</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <!-- Emergency Contact Information -->
                                                <tbody [formGroup]="updateEmergencyContacts">
                                                    <tr *ngFor="let form_emergency_contact_row of employee.emergency_contacts; let emergency_contact_index = index">
                                                        <td>
                                                            <input type="text" formControlName="name[{{emergency_contact_index}}]" class="form-control" required value="{{ form_emergency_contact_row.person_name }}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" formControlName="relationship[{{emergency_contact_index}}]" class="form-control" required value="{{ form_emergency_contact_row.relationship }}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" formControlName="contact_number[{{emergency_contact_index}}]" class="form-control" required value="{{ form_emergency_contact_row.contact_number }}" />
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger">Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!-- /Emergency Contact Information -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="location" aria-labelledby="location-tab">
                                    <label for="input_address">*Current Address:</label>
                                    <input required type="text" id="emp-current_address" formControlName="current_address" [(ngModel)]="employee.current_address" value="{{employee.current_address}}" class="form-control" placeholder="Current Address" />
                                    <label for="input_gender">Provincial Address:</label>
                                    <input type="text" id="emp-province_address" formControlName="province_address" [(ngModel)]="employee.province_address" value="{{ employee.province_address }}" class="form-control" placeholder="Provincial Address" />
                                    <small><input type="checkbox" class="" value="1"/> Same as current address?</small>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="bank" aria-labelledby="bank-tab">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_name">Bank Name:</label>
                                            <input required type="text" id="emp-bank_name" formControlName="bank_name" class="form-control" placeholder="Bank Name" value="{{employee.bank_name}}" />
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_code">Bank Code:</label>
                                            <select required class="form-control" formControlName="bank_code" id="emp-bank_code">
                                                <option *ngFor="let bank of form_employee_bank_name" value="{{bank.code}}" [attr.selected]="bank.code == employee.bank_code ? true : null">{{bank.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_name">Account Number:</label>
                                            <input required type="text" id="emp-bank_account_number" formControlName="bank_account_number" class="form-control" placeholder="Account Number" value="{{employee.bank_account_number}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="attach-files" aria-labelledby="attach-files-tab">
                                    <input type="file" multiple ngFileSelect (onUpload)="handleUpload($event)" (beforeUpload)="beforeUploadAttachments($event)" [options]="options" />
                                    <br/>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Filename</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let attachment of employee.attachments">
                                                <td>{{ attachment.filename }}</td>
                                                <td>
                                                    <a class="btn btn-info" (click)="downloadAttachment(attachment.file_url)">Download</a>
                                                    <a class="btn btn-danger" (click)="deleteAttachment(attachment.id)">Delete</a>
                                                </td>
                                            </tr>
                                            <tr *ngIf="employee.attachments.length == 0">
                                                <td class="text-center" colspan="2"><i>-No Attachments Found-</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="misc" aria-labelledby="misc-tab">
                                    <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Danger!</strong>
                                    <label for="input_archive_record">Archive of Record:</label>
                                    <br/>
                                    <p>Are you sure you want to archived this record? <a class="btn btn-sm btn-default" (click)="confirmArchiveEmployee($event)"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a></p>
                                    <div class="alert alert-default alert-dismissible" *ngIf="form_confirm_archive == true">
                                        <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="cancelArchiveOfRecord($event)">×</a>
                                        <h4><i class="icon fa fa-warning"></i> Warning!</h4>
                                        <p>You are about to archive this record, which means you're deactivating this record. Are you sure you want to do this?</p>
                                        <a class="btn btn-default text-black" type="button" (click)="cancelArchiveOfRecord($event)">No</a>
                                        <a class="btn btn-danger" type="button" (click)="archiveEmployee($event)">Yes, archive this now</a>
                                    </div>
                                    <div *ngIf="employee.date_terminated == null">
                                        <label for="input_archive_record">Terminate of Employee:</label>
                                        <br/>
                                        <p>Are you sure you want to terminate this employee? <a class="btn btn-sm btn-default" (click)="confirmTermination($event)"><i class="fa fa-trash" aria-hidden="true"></i> Terminate Employee</a></p>
                                        <div class="alert alert-default alert-dismissible" *ngIf="form_confirm_terminate == true">
                                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                                            <h4><i class="icon fa fa-warning"></i> Warning!</h4>
                                            <p>You are about to terminate this employee, which means you're removing this employee in your workplace. Are you sure you want to do this?</p>
                                            <a class="btn btn-default text-black" type="button" (click)="cancelTerminationOfEmployee($event)">No</a>
                                            <a class="btn btn-danger" type="button" (click)="terminateEmployee(employee.id, $event)">Yes, Terminate This</a>
                                        </div>
                                    </div>
                                    <div *ngIf="employee.date_terminated != ''">
                                        <p><strong>Date Terminated:</strong> {{ employee.date_terminated }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="onboarding" aria-labelledby="onboarding-tab">
                                    <label class="control-label">Onboarding:</label>&nbsp;&nbsp;
                                    <input type="checkbox" id="checkAllOnboarding" (click)="checkAllOnboarding()" [checked]="checkAllValOnboarding">
                                    <label for="checkAllOnboarding">Check All</label>
                                    <ul class="columnList list-unstyled">
                                        <ng-container *ngFor="let x of onboarding; let i = index">
                                            <li>
                                                <input type="checkbox" (change)="onboardingCheckbox(i)" [checked]="x.val" [id]="x.name">
                                                <label [for]="x.name">{{x.name}}</label>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="user-time-setting" aria-labelledby="user-time-setting-tab">
                                    <label>IP mask:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                        <input required type="text" class="form-control" formControlName="ip_address" [(ngModel)]="employee.ip_address" placeholder="___.___.___.___">
                                    </div>
                                    <label>Mac Address:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-rss"></i>
                                        </div>
                                        <input required type="text" class="form-control" formControlName="mac_address" [(ngModel)]="employee.mac_address" placeholder="__-__-__-__-__-__">
                                    </div>
                                    <label>DDNS:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <input required type="text" class="form-control" formControlName="ddns" [(ngModel)]="employee.ddns" placeholder="___.___.___.___">
                                    </div>
                                </div>
                            </div>
                            <legend></legend>
                            <button class="btn btn-success" type="submit">Update Employee</button>
                        </form>
                        <div>
                        </div>
                        <!-- Department & Position Form
                        <div>
                        <div class="row">
                        <div class="col-md-4">
                        <label for="input_department_name">Department Name:</label>
                        <input type="text" name="name" class="form-control"/>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                        <label>Positions:</label>
                        <table class="table table-bordered">
                        <thead>
                        <tr>
                        <th>Position Name:</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let form_position of form_positions">
                        <td><input type="text" class="form-control" value="{{ form_position.index }}"/></td>
                        <td><a class="btn btn-danger" (click)="removePositionInput(form_position.index)">Remove</a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr><td colspan="2" class="text-right"><a class="btn btn-success" (click)="addPositionInput()">Add</a></td></tr>
                        </tfoot>
                        </table>
                        </div>
                        </div>
                        </div> -->
                        <!-- File Upload Pane -->
                        <!-- /File Upload Pane -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->