<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Add Remark
        <small>Creation of remark for this employee</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../employee-remarks-list">Employees List</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Remark form</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- success_title -->
                        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                            <p>{{success_message}}</p>
                        </div>
                        <!-- error message -->
                        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                            <p>{{error_message}}</p>
                        </div>
                        <form [formGroup]="createEmployeeRemarksForm" (ngSubmit)="validateCreation()">
                            <small>Field with (*) are required fields.</small>
                            
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Select first a Company</label>
                                        <select class="form-control" formControlName="company_id" (change)="companySelectionChange()">
                                            <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Select an employee under that company</label>
                                        <select class="form-control" formControlName="employee_id">
                                            <option *ngFor="let employee of form_employees" value="{{ employee.id }}">{{employee.lastname}}, {{ employee.firstname }} {{employee.middlename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Enter Remarks</label>
                                        <textarea class="form-control" rows="4" formControlName="remarks">
                                            
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <legend></legend>
                            <button class="btn btn-success" type="submit" >Create Remark</button>
                        </form>

                        <br>
                        <!-- File Upload Pane -->
                        <!-- ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)" *ngIf="show_attachment_btn" -->
                        
                        <!-- /File Upload Pane -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
