<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Employee Audit Logs
        <small>Remarks of employees to view history logs.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Employee Audit Logs</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
          <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Employee Info</a></li>
            <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Update Logs</a></li>
            
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" role="tabpanel" id="home" aria-labelledby="home-tab">
              <form class="form">
                <div class="row">
                  <div class="col-md-3">
                    <label for="input_firstname">Firstname:</label>
                    <input type="text" id="emp-firstname" value="{{employee.firstname}}" class="form-control" placeholder="Firstname" readonly />
                  </div>
                  <div class="col-md-3">
                    <label for="input_middlename">Middlename:</label>
                    <input type="text" id="emp-middlename" value="{{employee.middlename}}" class="form-control" placeholder="Middlename" readonly />
                  </div>
                  <div class="col-md-3">
                    <label for="input_lastname">Lastname:</label>
                    <input type="text" id="emp-lastname" value="{{employee.lastname}}" class="form-control" placeholder="Lastname" readonly />
                  </div>
                  <div class="col-md-3">
                    <label for="input_suffix">Suffix:</label>
                    <input type="text" id="emp-suffix" value="{{employee.suffix}}" class="form-control" placeholder="Suffix" readonly />
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Previous Data</th>
                    <th>Updated Data</th>
                    <th>Updated At</th>
                    <th>Updated By</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>  
    </section>
    <!-- /.content -->
  </div>
