<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Employee Audits List
        <small>Remarks of employees to view history logs.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Employee Audits List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
        <!--
          <form class="form-inline" [formGroup]="filterEmployeeList" (ngSubmit)="validateFilter()">
            <div class="form-group">  
              <label>Name:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Company:</label>
                <select class="form-control">
                  <option *ngFor="let company of filter_company_field" value="{{company.id}}">{{company.text}}</option>
                </select>
            </div>
            <div class="form-group">
              <label>Employee Status:</label>
                <select class="form-control">
                  <option *ngFor="let employee_status of filter_status_field" value="employee_status.value">{{employee_status.text}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
          </form>
          <br/>
          -->
            <table datatable class="row-border hover" [dtOptions]="dtOptions" ></table>
        </div>
      </div>  
    </section>
    <!-- /.content -->
  </div>
