<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Add Employee
        <small>Creation of Employee Record</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../employee-list">Employee List</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Employee form</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- success_title -->
                        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                            <p>{{success_message}}</p>
                        </div>
                        <!-- File Upload Pane -->
                        <br/>
                        <!-- ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)" *ngIf="show_attachment_btn" -->
                        <div class="callout callout-success" *ngIf="show_attachment_btn">
                            <h4>Oh Right!</h4>
                            <p>We're almost there! Please select the files for the attachment of the new added record.</p>
                            <p>Can select multiple file attachments.</p>
                            <input type="file" multiple ngFileSelect (onUpload)="handleUpload($event)" (beforeUpload)="beforeUploadAttachments($event)" [options]="options" />
                        </div>
                        <!-- /File Upload Pane -->

                        <!-- error message -->
                        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                            <p>{{error_message}}</p>
                        </div>
                        <form [formGroup]="createEmployeeForm" (ngSubmit)="validateCreation()">
                            <small>Field with (*) are required fields.</small>
                            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                <li role="presentation" class="nav-item"><a class="nav-link active" href="#personal" id="personal-tab" role="tab" data-toggle="tab" aria-controls="personal" aria-expanded="true">Personal Info</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#job-title" role="tab" id="job-title-tab" data-toggle="tab" aria-controls="job-title" aria-expanded="false">Job Info</a></li>
                                
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#leave-credits" role="tab" id="leave-credits-tab" data-toggle="tab" aria-controls="leave-credits" aria-expanded="false">Leave Credits</a></li>

                                <li role="presentation" class="nav-item"><a class="nav-link" href="#government" role="tab" id="government-tab" data-toggle="tab" aria-controls="government" aria-expanded="false">Government Docs</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#contact" role="tab" id="contact-tab" data-toggle="tab" aria-controls="contact" aria-expanded="false">Contact Info</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#dependencies" role="tab" id="dependencies-tab" data-toggle="tab" aria-controls="dependencies" aria-expanded="false">Dependencies</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#emergency" role="tab" id="emergency-tab" data-toggle="tab" aria-controls="emergency" aria-expanded="false">Emergency Contacts</a></li>
                                
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#location" role="tab" id="location-tab" data-toggle="tab" aria-controls="location" aria-expanded="false">Address Info</a></li>

                                <li role="presentation" class="nav-item"><a class="nav-link" href="#bank" role="tab" id="bank-tab" data-toggle="tab" aria-controls="bank" aria-expanded="false">Bank Info</a></li>

                                <li role="presentation" class="nav-item"><a class="nav-link" href="#onboarding" role="tab" id="onboarding-tab" data-toggle="tab" aria-controls="onboarding" aria-expanded="false">Onboarding</a></li>

                                <li role="presentation" class="nav-item"><a class="nav-link" href="#user-time-setting" role="tab" id="user-time-setting-tab" data-toggle="tab" aria-controls="user-time-setting" aria-expanded="false">Time Setting</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade in active show" role="tabpanel" id="personal" aria-labelledby="personal-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{{form_user_image}}" class="img-thumbnail" />
                                            <input type="hidden" value="{{form_user_image}}" formControlName="employee_image" />
                                            <strong>Upload Employee Image Here</strong>
                                            <input type="file" ngFileSelect (onUpload)="handleImgUpload($event)" (beforeUpload)="beforeUploadImg($event)" [options]="optionsImg" />
                                            <p class="text-danger">{{errorUploadImageMessage}}</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_firstname">*Firstname:</label>
                                                    <input required type="text" id="emp-firstname" formControlName="firstname" value="" class="form-control" placeholder="Firstname" />
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_lastname">*Lastname:</label>
                                                    <input required type="text" id="emp-lastname" formControlName="lastname" value="" class="form-control" placeholder="Lastname" />
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_middlename">Middlename:</label>
                                                    <input type="text" id="emp-middlename" formControlName="middlename" value="-N/A-" class="form-control" placeholder="Middlename" />
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_suffix">*Suffix:</label>
                                                    <select class="form-control" id="emp-suffix" formControlName="suffix">
                                                        <option *ngFor="let suffix of form_suffixes" value="{{ suffix.name }}">{{ suffix.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_gender">*Gender:</label>
                                                    <select class="form-control" id="emp-suffix" formControlName="gender">
                                                        <option *ngFor="let sgender of form_genders" value="{{ sgender.name }}">{{ sgender.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_birth_date">*Birth Date:</label>
                                                    <input required type="date" id="emp-birthdate" class="form-control" formControlName="birthdate" placeholder="Birth date" />
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_blood_type">Blood Type:</label>
                                                    <select class="form-control" formControlName="blood_type" id="emp-blood_type">
                                                        <option *ngFor="let blood_type of form_blood_types" value="{{ blood_type.name }}">{{ blood_type.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="input_citizenship">*Citizenship:</label>
                                                    <input required type="text" formControlName="citizenship" id="emp-citizenship" class="form-control" placeholder="Citizenship" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="">*Nationality:</label>
                                                    <input required type="text" class="form-control" formControlName="nationality" placeholder="Nationality (eg. Filipino)" />
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label for="">*Marital Status:</label>
                                                    <select required class="form-control" formControlName="marital_status" id="emp-marital_status">
                                                        <option *ngFor="let marital_status of form_marital_statuses" value="{{ marital_status.name }}">{{ marital_status.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                    <label>Create User:</label>
                                                    <select class="form-control" formControlName="user_credentials" name="user_credentials" >
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-xs-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="job-title" aria-labelledby="job-title-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="input_employee_code">*Employee Code:</label>
                                            <input required type="text" class="form-control" formControlName="employee_code" id="emp-employee_code" placeholder="Employee Code" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="input_primary_company">*Company:</label>
                                            <select class="form-control" formControlName="primary_company" (change)="primaryCompanyChanged()">
                                                <!-- Company for dynamics coming soon -->
                                                <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                                            </select>
                                            <small *ngIf="form_companies?.length == 0"><p class="text-danger"><i class="fa fa-exclamation-triangle"></i>Warning. Please create a company first.</p></small>
                                        </div>
                                        <div class="col-md-4" >
                                            <label for="input_secondary_company">Company Branch: <small class="text-danger" *ngIf="form_company_branches?.length == 0"><i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top" title="Add first a company branch for adding a new employee base on the company selection."></i></small></label>
                                            <select class="form-control" required formControlName="company_branch" name="company_branch">
                                                <option *ngFor="let branch of form_company_branches" value="{{branch.id}}">{{branch.branch_name}} - {{branch.branch_address}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="input_skills">*Skills:</label>
                                            <select class="form-control" formControlName="skills" multiple required>
                                                <option *ngFor="let skill of form_skills" value="{{ skill.name }}">{{ skill.name }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="input_department">*Report to:</label>
                                            <select class="form-control" formControlName="supervisor_id" multiple>
                                                <option *ngFor="let supervisor of form_supervisors" value="{{supervisor.id}}">{{supervisor.name}}</option>
                                                    <!-- <option *ngIf="form_supervisors?.length == 0" value="0">-First Employee-</option> -->
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <label for="input_department">*Department:</label>
                                                    <select #t (change)="onChangeDepartment(t.value)" class="form-control" formControlName="department" required id="emp-department">
                                                        <option *ngFor="let department of form_departments" value="{{ department.id }}">{{ department.name }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="input_job_title">*Job Title: <small class="text-warning"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Select first a department before selecting a Job Title."></i></small></label>
                                                        <select required class="form-control" id="emp-job-title" formControlName="position">
                                                            <option *ngFor="let job_title of form_job_titles" value="{{ job_title.id }}">{{ job_title.name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                                <div class="col-md-12">
                                                    <label>*Employment Status/Type</label>
                                                    <select class="form-control" required formControlName="employment_status">
                                                        <option *ngFor="let employment_status of form_employment_status" value="{{ employment_status.code }}">{{ employment_status.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>*Starting Date:</label>
                                            <input required type="date" id="emp-starting-date" class="form-control" formControlName="starting_date" placeholder="Starting date" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Ending Date:</label>
                                            <input type="date" id="emp-ending-date" class="form-control" formControlName="ending_date" placeholder="Ending date" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="input_email">*Email Address:</label>
                                            <input type="email" id="emp-email" formControlName="email" class="form-control" placeholder="Email Address" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>*Type of Income:</label>
                                            <select class="form-control" formControlName="salary_receiving_type" required>
                                                <option *ngFor="let income_type of form_income_type" value="{{income_type.code}}">{{income_type.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>*Income Rate:</label>
                                            <input type="number" class="form-control" formControlName="income_rate" placeholder="1.00" required min="1" step="0.01" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>*Allowance:</label>
                                            <input type="number" value="0" class="form-control" formControlName="allowance_amount" placeholder="0.00"/>
                                        </div>
                                        <div class="col-md-3">
                                            <label>*COLA<small>(Cost of Living Allowance)</small></label>
                                            <input type="number" value="0" formControlName="e_cola" class="form-control" placeholder="COLA Amount"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="input_working_schedule">*Working Schedule(s):</label>
                                            <select class="form-control" formControlName="working_schedule" multiple required>
                                                <option *ngFor="let working_schedule of form_working_schedules" value="{{ working_schedule.id }}">{{ working_schedule.name }} (Time-in:{{ working_schedule.time_in }}, time-out:{{ working_schedule.time_out }} / Days: {{ working_schedule.days }} / Flexi time:{{ (working_schedule.flexbile_time == 1) ? 'yes' : 'no' }})</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br/>
                                            <label>Tag Company Policies and Rules for this Employee</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="checkbox">
                                                        <label>
                                                            
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="leave-credits" aria-labelledby="leave-credits-tab">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>*Sick Leave Credit:</label>
                                            <input type="number" formControlName="sick_leave_credit" class="form-control" value="0"/>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>*Vacation Leave Credit:</label>
                                            <input type="number" value="0" formControlName="vacation_leave_credit" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>*Emergency Leave Credit:</label>
                                            <input type="number" value="0" formControlName="emergency_leave_credit" class="form-control" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label>*Maternity Leave Credit:</label>
                                            <input type="number" value="0" formControlName="maternity_leave_credit" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label>*Other(s) Leave Credit:</label>
                                            <input type="number" value="0" formControlName="others_leave_credit" class="form-control" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="government" aria-labelledby="government-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>*Valid ID No.</strong> <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="This field should be unique and still not existing from the employee records.">?</span></td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="driving_license_no" placeholder="Driving License No." />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>*SSS No.</strong> <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="This field should be unique and still not existing from the employee records.">?</span></td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="sss" placeholder="SSS No." required />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>*PhilHealth No.</strong> <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="This field should be unique and still not existing from the employee records.">?</span></td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="philhealth_no" placeholder="PhilHealth ID" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>*Pag-Ibig No.</strong> <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="This field should be unique and still not existing from the employee records.">?</span></td>
                                                        <td><input type="text" formControlName="pagibig_no" class="form-control" placeholder="Pag-Ibig" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>*Tax Identification No.</strong> <span data-toggle="tooltip" title="" class="badge bg-blue" data-original-title="This field should be unique and still not existing from the employee records.">?</span></td>
                                                        <td><input type="text" class="form-control" placeholder="TIN No." formControlName="tin_no" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="contact" aria-labelledby="contact-tab">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="input_tel_no">Telephone Number:</label>
                                            <input type="text" id="emp-tel_no" formControlName="tel_no" class="form-control" placeholder="Telephone No." />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="input_tel_no">*Cellphone Number:</label>
                                            <input required type="text" id="emp-cel-no" formControlName="cel_no" class="form-control" placeholder="Cellphone No." />
                                        </div>
                                        <div class="col-md-4">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="dependencies" aria-labelledby="dependencies-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Person Name</th>
                                                        <th>Age</th>
                                                        <th>Relationship</th>
                                                        <th>PWD</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody [formGroup]="employeeDependencies">
                                                    <tr *ngFor="let form_dependent_row of form_employee_dependent; let index_dependency_array = index">
                                                        <td>
                                                            <input type="text" formControlName="employee_dependent_name[{{form_dependent_row.index}}]" class="form-control" placeholder="Person Name"/>
                                                        </td>
                                                        <td>
                                                            <input type="number" formControlName="employee_dependent_age[{{form_dependent_row.index}}]" class="form-control"/>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" formControlName="employee_dependent_relationship[{{form_dependent_row.index}}]">
                                                                <option *ngFor="let relationship of form_dependency_relationships" value="{{ relationship.value }}">{{ relationship.label }}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" value="1" formControlName="employee_dependent_pwd[{{form_dependent_row.index}}]"/>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger" *ngIf="form_dependent_row.index > 0" (click)="removeDependencyRow(index_dependency_array)">Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5"><a class="btn btn-success pull-right" (click)="addDependencyRow()">Add Dependency</a></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="emergency" aria-labelledby="emergency-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Person</th>
                                                        <th>Relationship</th>
                                                        <th>Contact Number</th>
                                                        <th class="forteen_pixels">Action</th>
                                                    </tr>
                                                </thead>
                                                <!-- Emergency Contact Information -->
                                                <tbody [formGroup]="emergencyContacts">
                                                    <tr *ngFor="let form_emergency_contact_row of form_emergency_contact; let index_array = index">
                                                        <td>
                                                            <input type="text" formControlName="emergency_person_name[{{form_emergency_contact_row.index}}]" class="form-control" placeholder="Person Name" />
                                                        </td>
                                                        <td>
                                                            <input type="text" formControlName="emergency_relationship[{{form_emergency_contact_row.index}}]" class="form-control" placeholder="Relationship" />
                                                        </td>
                                                        <td>
                                                            <input type="text" formControlName="emergency_contact_number[{{form_emergency_contact_row.index}}]" class="form-control" placeholder="Contact Number" />
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger" *ngIf="form_emergency_contact_row.index > 0" (click)="removeEmergencyContactRow(index_array)">Remove</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4"><a class="btn btn-success pull-right" (click)="addEmergencyContactRow()">Add</a></td>
                                                    </tr>
                                                </tbody>
                                                <!-- /Emergency Contact Information -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="location" aria-labelledby="location-tab">
                                    <label for="input_address">*Current Address:</label>
                                    <input required type="text" formControlName="current_address" id="emp-current_address" class="form-control" placeholder="Current Address" />

                                    <label for="input_gender">*Permanent Address:</label><input required type="text" id="emp-permanent_address" class="form-control" placeholder="Permanent Address" />

                                    <label for="input_gender">Provincial Address:</label>
                                    <input type="text" formControlName="province_address" id="emp-province_address" class="form-control" placeholder="Provincial Address" />
                                    <small><input type="checkbox" class="" value="1"/> Same as current address?</small>
                                    
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="bank" aria-labelledby="bank-tab">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_name">Bank Name:</label>
                                            <input required type="text" id="emp-bank_name" formControlName="bank_name" name="bank_name" class="form-control" placeholder="Bank Name" />
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_code">Bank Code:</label>
                                            <select required class="form-control" formControlName="bank_code" name="bank_code" id="emp-bank_code">
                                                <option *ngFor="let bank of form_employee_bank_name" value="{{bank.code}}">{{bank.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_bank_name">Account Number:</label>
                                            <input required type="text" id="emp-bank_account_number" formControlName="bank_account_number" name="bank_account_number" class="form-control" placeholder="Account Number" />
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="onboarding" aria-labelledby="onboarding-tab">

                                    <label class="control-label">Onboarding:</label>&nbsp;&nbsp;
                                    <input type="checkbox" id="checkAllOnboarding" (click)="checkAllOnboarding()" [checked]="checkAllValOnboarding">
                                    <label for="checkAllOnboarding">Check All</label>
                                    <ul class="columnList list-unstyled">
                                      <ng-container *ngFor= "let x of onboarding; let i = index">
                                        <li>
                                          <input type="checkbox" (change)="onboardingCheckbox(i)" [checked]="x.val" [id]="x.name">
                                          <label [for]="x.name">{{x.name}}</label>
                                        </li>
                                      </ng-container>
                                    </ul>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="user-time-setting" aria-labelledby="user-time-setting-tab">
                                    <label>IP mask:</label>
                                        <div class="input-group">
                                          <div class="input-group-addon">
                                            <i class="fa fa-laptop"></i>
                                          </div>
                                          <input required type="text" class="form-control" formControlName="ip_address" placeholder="___.___.___.___">
                                        </div>
                                    <label>Mac Address:</label>
                                        <div class="input-group">
                                          <div class="input-group-addon">
                                            <i class="fa fa-rss"></i>
                                          </div>
                                          <input required type="text" class="form-control" formControlName="mac_address" placeholder="__-__-__-__-__-__">
                                        </div>
                                    <label>DDNS:</label>
                                        <div class="input-group">
                                          <div class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                          </div>
                                          <input required type="text" class="form-control" formControlName="ddns" placeholder="___.___.___.___">
                                        </div>
                                </div>
                                
                            </div>
                            <br/>
                            <br/>
                            <legend></legend>
                            <button class="btn btn-success" type="submit" [attr.disabled]="(!createEmployeeForm.value || onProcessSubmit == 1) ? true : null">Create Employee</button>
                        </form>
                        <div></div>
                        <div></div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
