<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        View Employee Remark
        <small>Creation of remark for this employee</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../employee-remarks-list">Employees List</a></li>
            <li class="active">View Employee Remarks</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Employee's Remarks</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- success_title -->
                        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                            <p>{{success_message}}</p>
                        </div>
                        <!-- error message -->
                        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                            <p>{{error_message}}</p>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2">Employee Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Employee Number</th>
                                    <td>{{ employee.employee_code }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <strong>Remarks</strong>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Remark</th>
                                    <th>Date Added</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let remark of employee_remarks">
                                    <td>{{remark.company}}</td>
                                    <td>{{remark.remarks}}</td>
                                    <td>{{remark.created_at}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <!-- File Upload Pane -->
                        <!-- ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)" *ngIf="show_attachment_btn" -->
                        
                        <!-- /File Upload Pane -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
