.table-thead-remarks {
	display:block;
}

.table-tbody-remarks {
	display:block;height: 100px;overflow-y: auto;overflow-x: hidden;
}

.columnList {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
