<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Employee Mass Upload
        <small>Employee Mass Upload form</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Employee Mass Upload</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="alert alert-success" *ngIf="success_title">
                            <strong>Yey!</strong>
                            <p>You have successfully imported a record of employees & updated some existing records.</p>
                        </div>
                        <div class="alert alert-warning" *ngIf="error_message && has_error == '1'">
                            <strong>Whoops!</strong>
                            <p>{{ error_message }}</p>
                        </div>
                        <p>Please download & fill up the form <b>first</b> in order to upload the employee records to its designated company.</p>
                        <strong>Important Notes:</strong>
                        <ul>
                            <li><small>Download Form Button & Import Button will be shown when you select first a company and a company branch.</small></li>
                            <li><small>Please included the employee emails so that they can access the application.</small></li>
                            <li><small>Please be sure that the spelling of the company name is the correct base from this system.</small></li>
                            <li><small>Please be sure that the employee that you want to update matches from their employee number or code from the system's records.</small></li>
                        </ul>
                        <form #form_eu="ngForm" (ngSubmit)="downloadUploadForm(form_eu.value, form_eu.valid)" novalidate>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label>Please Select a Company:</label>
                                    <select class="form-control" name="select_download_company" [(ngModel)]="employee_mass_upload.company" (change)="primaryCompanyChangedExport($event.target)">
                                        <option *ngFor="let company_export of form_companies" selected="" value="{{company_export.id}}">{{company_export.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Please Select a Company Branch:</label>
                                    <select class="form-control" name="select_download_company_branch" [(ngModel)]="employee_mass_upload.company_branch" (change)="displayDownloadFormButton()">
                                        <option *ngFor="let branch_export of form_company_branches_export" value="{{branch_export.id}}">{{branch_export.branch_name}} - {{branch_export.branch_address}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="form_show_download_import > 0">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Fields to Include:</label>
                                            <select class="form-control" multiple name="mass_upload_fields" [(ngModel)]="employee_mass_upload.mass_upload_fields">
                                                <option *ngFor="let column of form_employee_export_csv_fields" value="{{column.name}}" selected="{{column.selected}}">{{column.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <button type="submit" class="btn bg-navy margin btn-upload">Download Form</button>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="callout callout-info">
                                            <h5><b>Upload Section</b></h5>
                                            <p>This is where you upload the CSV file:</p>
                                            <input type="file" ngFileSelect (onUpload)="handleCsvUpload($event)" (beforeUpload)="beforeUploadCsv($event)" [options]="optionsCsv" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br/>
                        <br/>
                        <div *ngIf="form_show_loading_status > 0">
                            <div class="progress active">
                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <p>Please Wait. Uploading Employee Records...</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p>This section is for exporting all of the employees from the selected company & branch of company.</p>
                        <form [formGroup]="exportEmployeeForm">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label>Primary Company:</label>
                                    <select class="form-control" formControlName="primary_company" (change)="primaryCompanyChanged()">
                                        <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Company Branch:</label>
                                    <select class="form-control" formControlName="company_branch">
                                        <option *ngFor="let branch of form_company_branches" value="{{branch.id}}">{{branch.branch_name}} - {{branch.branch_address}}</option>
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <button class="btn bg-navy margin btn-upload" type="button" (click)="exportEmployeeListReport()">Export Employee List</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--
          <label>Search:</label>
          <input type="text" class="form-control"/>
          <div class="employee-uploaded-lists">
            <strong>Preview of Uploaded Records..</strong>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>employee code</th>
                  <th>lastname</th>
                  <th>firstname</th>
                  <th>middlename</th>
                  <th>suffix</th>
                  <th>department</th>
                  <th>position</th>
                  <th>position type</th>
                  <th>company</th>
                  <th>branch</th>
                  <th>skills</th>
                  <th>gender</th>
                  <th>birthdate</th>
                  <th>blood type</th>
                  <th>nationality</th>
                  <th>citizenship</th>
                  <th>driving license no</th>
                  <th>sss</th>
                  <th>philhealth no</th>
                  <th>pagibig no</th>
                  <th>tin no</th>
                  <th>hdmf no</th>
                  <th>supervisor id</th>
                  <th>marital status</th>
                  <th>tel no</th>
                  <th>cel no</th>
                  <th>email</th>
                  <th>employment status</th>
                  <th>date hired</th>
                  <th>starting date</th>
                  <th>regularization date</th>
                  <th>end date</th>
                  <th>e cola</th>
                  <th>salary receiving type</th>
                  <th>status</th>
                  <th>current address</th>
                  <th>permanent address</th>
                  <th>province address</th>
                  <th>employee image</th>
                  <th>date terminated</th>
                  <th>sick leave credit</th>
                  <th>use sick leave credit</th>
                  <th>vacation leave credit</th>
                  <th>use vacation leave credit</th>
                  <th>emergency leave credit</th>
                  <th>use emergency leave credit</th>
                  <th>maternity leave credit</th>
                  <th>use maternity leave credit</th>
                  <th>others leave credit</th>
                  <th>use others leave credit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee_row of employee_response_upload">
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.employee_code}}" style="min-width: 140px;"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.lastname}}" style="min-width: 140px;"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.firstname}}" style="min-width: 140px;"/>

                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.middlename}}" style="min-width: 80px;"/>
                  </td>
                  <td>
                    <select class="form-control" style="min-width: 100px;">
                      <option *ngFor="let suffix of form_suffixes" value="{{suffix.id}}">{{suffix.name}}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="width: 170px;">
                      <option *ngFor="let department of form_departments" value="{{department.id}}">{{department.name}}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="width: 170px;">
                      <option *ngFor="let job_title of form_job_titles" value="{{job_title.id}}">{{job_title.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" style="width: 100px;" value="{{employee_row.position_type}}"/>
                  </td>
                  <td>
                    <select class="form-control" style="width: 170px;" >
                      <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="width: 170px;" (load)="consoleFunc()">
                      <option *ngFor="let company_branch of company_branches" value=""></option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" />
                  </td>
                  <td >
                    <select class="form-control" style="width: 120px;">
                      <option *ngFor="let gender of form_genders" value="{{gender.name}}" [attr.selected]="employee_row.gender.toLowerCase() == gender.name.toLowerCase() ? true : null">{{gender.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.birthdate}}" style="width: 150px;"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.blood_type}}"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.nationality}}"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.citizenship}}"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value=""/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.sss}}" style="width: 120px"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" value="{{employee_row.philhealth_no}}" style="width: 120px"/>
                  </td>
                  <td><input type="text" class="form-control" value="{{employee_row.pagibig_no}}" style="width: 120px"/></td>
                  <td><input type="text" class="form-control" value="{{employee_row.tin_no}}" style="width: 120px"/></td>
                  <td><input type="text" class="form-control" value="{{employee_row.hdmf_no}}" style="width: 120px"/></td>
                  <td><input type="text" class="form-control"/></td>
                  <td>
                    <select class="form-control" style="width: 120px;">
                      <option *ngFor="let marital_status of form_marital_status" value="{{marital_status.name}}">{{marital_status.name}}</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" style="width: 130px;" value="{{employee_row.tel_no}}"/></td>
                  <td><input type="text" class="form-control" style="width: 130px;" value="{{employee_row.cel_no}}"/></td>
                  <td><input type="text" class="form-control" style="width: 130px;" value="{{employee_row.email}}"/></td>
                  <td>
                    <select class="form-control" style="width:100px;">
                      <option *ngFor="let employment_status of form_employment_status;" value="{{employment_status.code}}" >{{employment_status.name}}</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"  /></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  <td><input type="text" class="form-control" style="width: 170px;"/></td>
                  
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="50"><button class="btn btn-success pull-right" disabled>Submit List</button></td>
                </tr>
              </tfoot>
            </table>
          </div>
          -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>