<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateModuleForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter module name" formControlName="name" value="{{module.name}}" [(ngModel)]="module.name">
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter module display name" formControlName="display_name" value="{{module.display_name}}" [(ngModel)]="module.display_name">
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter module description" formControlName="description" value="{{module.description}}" [(ngModel)]="module.description">
        </div>
        <div class="form-group">
          <div class="pull-right">
            <button type="button" class="btn btn-danger" href="#" (click)="archiveModule($event)"> Archive </button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal-dialog">Update</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
