<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createModuleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter module name" formControlName="name">
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter module display name" formControlName="display_name">
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter module description" formControlName="description">
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Icon</label>
          <input type="text" class="form-control" id="icons" placeholder="Enter module icon" formControlName="icons">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
