<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Dynasty Loan Application
        <small>Your Application form for your Dynasty Loan</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../employee-list">Employee List</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Application Form</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- success_title -->
                        <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                            <p>{{success_message}}</p>
                        </div>

                        <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                            <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                            <p>{{error_message}}</p>
                        </div>

                        <form [formGroup]="createDynastyLoan" (ngSubmit)="validateCreation()">
                            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#personal" id="personal-tab" role="tab" data-toggle="tab" aria-controls="personal" aria-expanded="true">Personal Info</a></li>
                                
                                <li role="presentation" class=""><a href="#job-title" role="tab" id="job-title-tab" data-toggle="tab" aria-controls="job-title" aria-expanded="false">Loan Information</a></li>
                                
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active in" role="tabpanel" id="personal" aria-labelledby="personal-tab">
                                    <h3>Personal Information</h3>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">*Employer:</label>
                                            
                                            <select class="form-control" formControlName="employer" #t (change)="getEmployeesByCompany(t.value)">
                                                <!-- Company for dynamics coming soon -->
                                                <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">*Employee:</label>
                                            
                                            <select class="form-control" formControlName="employee" #y (change)="getEmployee(y.value)">
                                                <!-- Company for dynamics coming soon -->
                                                <option *ngFor="let employee of form_employee" value="{{employee.id}}">{{ employee.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h3>Employee Information</h3>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Firstname:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.firstname}}" readonly />
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Middlename:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.middlename}}" readonly />
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Lastname:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.lastname}}" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Employee Current Address:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.current_address}}" readonly />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Employee Provincial Address:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.province_address}}" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Birthday:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.birthdate}}" readonly />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Gender:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.gender}}" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-xs-12">
                                            <label for="input_employee">Contact Number:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.cel_no}}" readonly />
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <label for="input_employee">Civil Status:</label>
                                            <input type="text" class="form-control" value="{{employee_response_upload.marital_status}}" readonly />
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <label for="input_employee">Number of Dependents:</label>
                                            <input type="number" class="form-control" formControlName="no_of_dependents" />
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <label for="input_employee">Residence:</label>
                                            <select class="form-control" formControlName="residence_ownership_status">
                                                <option *ngFor="let resident_status of residence_ownership_selection" value="{{resident_status.value}}">{{resident_status.text}}</option>
                                            </select>
                                        </div>
                                    </div><br/>
                                    <legend></legend>
                                    <h3>Spouse Information<small>(This is optional but this is required when the applicant has a spouse.)</small></h3>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Name of Spouse:</label>
                                            <input type="text" class="form-control" formControlName="spouse_name" />
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Employer Name of Spouse:</label>
                                            <input type="text" class="form-control" formControlName="spouse_employer_name" />
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Address of Employers:</label>
                                            <input type="text" class="form-control" formControlName="spouse_address" />
                                        </div>
                                    </div>
                                    <h3>Personal Reference</h3>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Name:</label>
                                            <input type="text" class="form-control" formControlName="reference_name"/>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Contact Information:</label>
                                            <input type="text" class="form-control" formControlName="reference_contact"/>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <label for="input_employee">Address:</label>
                                            <input type="text" class="form-control" formControlName="reference_address"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" role="tabpanel" id="job-title" aria-labelledby="job-title-tab">
                                    <h3>Loan Information</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Amount Applied:</label>
                                            <input type="number" class="form-control" formControlName="loan_amount" />
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Term in Months:</label>
                                            <input type="text" class="form-control" formControlName="loan_term_months" />
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">Purpose of Loan:</label>
                                            <input type="text" class="form-control" formControlName="loan_purpose_of_loan"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Type of Loan:</label>
                                            <select class="form-control" formControlName="loan_type_of_loan">
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <label for="input_employee">Payback Mode:</label>
                                            <select class="form-control" formControlName="loan_payback_mode">
                                            </select>
                                        </div>
                                    </div>
                                    <h3>Co-Maker(If Possible)</h3>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">Type of Loan:</label>
                                            <input type="text" class="form-control" formControlName="comaker_type_of_loan" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">Contact Number:</label>
                                            <input type="text" class="form-control" formControlName="comaker_number" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">Client Address:</label>
                                            <input type="text" class="form-control" formControlName="comaker_address" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <label for="input_employee">Job Position:</label>
                                            <input type="text" class="form-control" formControlName="comaker_job_position" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br/>
                            <button class="text-center btn btn-lg btn-primary">Submit Application</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
