<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
         <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
         <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
         <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
         <p>{{error_message}}</p>
      </div>

      <!-- USE IN BASIC SAVING OF NAME,DESCRIPTION -->
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
        <small>Fields with (*) are required.</small>
       <div class="form-group">
         <label class="control-label" for="name">*Name:</label>
         <input type="text" class="form-control" id="name" placeholder=" Enter Name" formControlName="name" value="{{name}}" [(ngModel)]="name" required>
       </div>

       <div class="form-group">
          <label for="name">Description:</label><br>
          <textarea class="form-group" type="description" id="description" placeholder="Enter Description . . ." value="{{description}}" [(ngModel)]="description" formControlName="description" rows="6" cols="50" required></textarea>
       </div>

        <a class="btn btn-danger text-white" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
       <div class="pull-right">
         <button type="button" class="btn btn-default cur" (click)="close()">Close</button>
         <button type="submit" class="btn btn-primary cur">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
 </div>
