<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1>
    My Attendance List
    </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/my-attendance-list">Attendance</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-10 col-md-11 col-xs-11">
      
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Date range:</label>
                                <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label class="control-label" for="type" >Type:</label><br>
                                <select2 
                                [data]="type"
                                [options]="options"
                                [width]="251"
                                [value]="type_value"
                                (valueChanged)="changedType($event)"
                                required>
                              </select2>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
    					<table datatable [dtTrigger]="dtTrigger"  [dtOptions]="dtOptions" class="row-border hover">
    						<thead>
    							<tr class="align-center">
    							    <th>Date</th>
    							    <th>Type</th>
                                    <th>Location</th>
                                    <th>Time In</th>
                                    <th>Time Out</th>
                                    <th>Late</th>
                                    <th>Undertime</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr  *ngFor="let x of att" class="align-center">
                                    <td *ngIf="x.time_in != null">{{x.time_in | date:'MM/dd/y'}}</td>
                                    <td *ngIf="x.time_in == null">{{x.time_out | date:'MM/dd/y'}}</td>
    							    <td>{{x.types}}</td>
                                    <td>{{x.location}}</td>
                                    <td *ngIf="x.time_in == null"><span class="badge badge-warning cur" (click)="createCOA(x.time_out,'1',x.employee_id)" ><i class="fa fa-clock-o"></i>&nbsp; NO TIME IN</span></td>
                                    <td *ngIf="x.time_in != null">{{x.time_in | date:'hh:mm:ss'}}</td>
                                    <td *ngIf="x.time_out == null"><span class="badge badge-warning cur" (click)="createCOA(x.time_in,'2',x.employee_id)" ><i class="fa fa-clock-o"></i>&nbsp; NO TIME OUT</span></td>
                                    <td *ngIf="x.time_out != null">{{x.time_out | date:'hh:mm:ss'}}</td>
                                    <td>{{x.late}}</td>
                                    <td>{{x.undertime}}</td>
    							</tr>
    						</tbody>
    					</table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<!-- <admin-footer></admin-footer> -->
<!-- Control Sidebar -->
<!-- <admin-control-sidebar></admin-control-sidebar> -->
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>


