<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
        <h3 class="modal-title">{{title || 'Confirm'}}</h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<div class="modal-body">
			<div class="alert alert-success alert-dismissible" *ngIf="success_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
				<p>{{success_message}}</p>
			</div>
			<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
				<p>{{error_message}}</p>
			</div>
			<form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label class="control-label" for="objective">What's the objective</label>
					<input type="text" class="form-control" id="objective" placeholder="Enter Objective" formControlName="objective" value="{{objective}}"/>
				</div>
				<div class="form-group">
					<label for="name">How and why are you going to achieve it?</label><br>
					<textarea class="form-control" type="achieve_obj" id="achieve_obj"  value="{{achieve_obj}}" formControlName="achieve_obj" rows="6" cols="78"></textarea>
				</div>
				<label>Due</label> <br> 
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<input id="checkbox-1" class="checkbox-custom" name="due" type="radio" (click)="due('1')" [checked]="first_month_check">
							<label for="checkbox-1" class="checkbox-custom-label">1 month</label>
							<input id="checkbox-2" class="checkbox-custom" name="due" type="radio" (click)="due('3')" [checked]="thrd_month_check">
							<label for="checkbox-2" class="checkbox-custom-label">3 months</label>
							<input id="checkbox-3" class="checkbox-custom" name="due" type="radio" (click)="due('6')" [checked]="six_months_check">
							<label for="checkbox-3"class="checkbox-custom-label">6 months</label> 
							<input id="checkbox-4" class="checkbox-custom" name="due" type="radio" (click)="due('12')" [checked]="one_year_check">
							<label for="checkbox-4"class="checkbox-custom-label">12 months</label> 
						</div>   
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-6">           
								<div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)">
									<span class="form-control uneditable-input"  name="daterange" >
										{{ mainInput.start | date:'M/dd/y' }} 
									</span>
									<span class="input-group-btn">
										<a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
									</span>
								</div>
							</div>
						</div> 
					</div>
				</div>	
				<br>	
				<button type="submit" [disabled]="!Form.valid" class="btn btn-primary pull-right">{{button}}</button>
				<a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>			
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>


