
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Dynasty Loan Record
        <small>Update of employee Dynasty Loan record</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../dynasty-loan-list">Employee List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dynasty Loan View/Update</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" *ngIf="message_success">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ success_title }}</h4> {{ success_message }}
                        </div>

                        <div class="alert alert-danger alert-dismissible" *ngIf="message_error">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_title }}</h4> {{ message_error }}
                        </div>

                        <br/>
                        <form #form_dle="ngForm" *ngIf="employee_data.id" novalidate [formGroup]="updateEmployeeDynastyForm" (ngSubmit)="validateUpdate()">
                           <div class="row">
                              <div class="col-md-6">
                                 <label>Employer:</label>
                                 <select  class="form-control" name="company_id" formControlName="company_id" [(ngModel)]="employee_dynasty_loan_data.company_id">
                                    <option *ngFor="let form_company of form_companies" [attr.selected]="form_company.id == employee_dynasty_loan_data.company_id ? true: null" value="{{form_company.id}}">{{form_company.name}}</option>
                                 </select>
                              </div>
                              <div class="col-md-6">
                                 <label>Employee Full Name:</label>
                                 <input  type="text" class="form-control" name="employee_fullname" formControlName="employee_fullname" [(ngModel)]="employee_dynasty_loan_data.employee_fullname" value="{{employee_dynasty_loan_data.employee_fullname}}"  />
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-4">
                                 <label>Firstname:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.firstname}}"readonly/>
                              </div>
                              <div class="col-md-4">
                                 <label>Middlename:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.middlename}}"readonly/>
                              </div>
                              <div class="col-md-4">
                                 <label>Lastname:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.lastname}}"readonly/>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-12">
                                 <label>Employee Current Address:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.current_address}}"readonly />
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-12">
                                 <label>Employee Provincial Address:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.province_address}}"readonly/>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-6">
                                 <label>Employee Birthdate:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.birthdate}}"readonly />
                              </div>

                              <div class="col-md-6">
                                 <label>Employee Gender:</label>
                                 <select  class="form-control" readonly>
                                    <option *ngFor="let gender of form_genders" [attr.selected]="gender.name.toUpperCase() == employee_data.gender ? true : null" value="{{gender.id}}">{{gender.name}}</option>
                                 </select>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-3">
                                 <label>Employee Contact No.:</label>
                                 <input  type="text" class="form-control" value="{{employee_data.cel_no}}"readonly/>
                              </div>

                              <div class="col-md-3">
                                 <label>Employee Civil Status:</label>
                                 <select  class="form-control" readonly>
                                    <option *ngFor="let marital_status of form_marital_statuses" [attr.selected]="marital_status.name.toUpperCase() == employee_data.marital_status ? true : null"  value="{{marital_status.name}}">{{marital_status.name}}</option>
                                 </select>
                              </div>

                              <div class="col-md-3">
                                 <label>Employee Dependents(Number):</label>
                                 <input  type="text" class="form-control" value="{{form_employee_number_of_dependents}}"readonly/>
                              </div>

                              <div class="col-md-6">
                                 <label>Employee Residence:</label>
                                 <select  class="form-control" name="employee_resident_type" formControlName="employee_resident_type" [(ngModel)]="employee_dynasty_loan_data.employee_resident_type">
                                    <option *ngFor="let resident_select of form_residence_select" value="{{resident_select.name}}"[attr.selected]="resident_select.name.toUpperCase() == employee_dynasty_loan_data.employee_resident_type.toUpperCase() ? true : null">{{resident_select.name}}</option>
                                 </select>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-4">
                                 <label>Client Assignment:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                              <div class="col-md-4">
                                 <label>Job Position:</label>
                                 <select  class="form-control">
                                    <option *ngFor="let job_position of form_job_titles" [attr.selected]="job_position.id == employee_data.position_id ? true : null" value="{{job_position.id}}">{{job_position.name}}</option>
                                 </select>
                              </div>
                              <div class="col-md-4">
                                 <label>Starting Date:</label>
                                 <input  type="date" class="form-control" value="{{employee_data.starting_date}}"  />
                              </div>
                           </div>

                           <strong>Loan Information</strong>
                           <div class="row">
                              <div class="col-md-6 col-xs-12">
                                 <label for="input_employee">Amount Applied:</label>
                                 <input  type="number" class="form-control" name="amount_applied" formControlName="amount_applied" [(ngModel)]="employee_dynasty_loan_data.amount_applied" value="{{employee_dynasty_loan_data.amount_applied}}"  />
                              </div>
                              <div class="col-md-6 col-xs-12">
                                 <label for="input_employee">Term in Months:</label>
                                 <input  type="text" class="form-control" name="loan_term_months" formControlName="term_in_months" [(ngModel)]="employee_dynasty_loan_data.term_in_months" value="{{employee_dynasty_loan_data.term_in_months}}"  />
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12 col-xs-12">
                                 <label for="input_employee">Purpose of Loan:</label>
                                 <input  type="text" class="form-control" name="purpose_of_loan" formControlName="purpose_of_loan" [(ngModel)]="employee_dynasty_loan_data.purpose_of_loan" value="{{employee_dynasty_loan_data.purpose_of_loan}}"  />
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6 col-xs-12">
                                 <label for="input_employee">Type of Loan:</label>
                                 <select  class="form-control" name="type_of_loan" formControlName="type_of_loan" [(ngModel)]="employee_dynasty_loan_data.type_of_loan" >
                                    <option *ngFor="let type_of_loan of form_types_of_loan" value="{{type_of_loan.id}}"[attr.selected]="type_of_loan.id == employee_dynasty_loan_data.type_of_loan ? true : null">{{type_of_loan.name}}</option>
                                 </select>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                 <label for="input_employee">Payback Mode:</label>
                                 <select  class="form-control" name="payback_mode" formControlName="payback_mode" [(ngModel)]="employee_dynasty_loan_data.payback_mode">
                                    <option *ngFor="let payback_mode of form_payback_modes" [attr.selected]="payback_mode.id == employee_dynasty_loan_data.payback_mode ? true : null" value="{{payback_mode.id}}">{{payback_mode.name}}</option>
                                 </select>
                              </div>
                           </div>

                           <strong>Spouse Information<small>(Optional if application has a spouse.)</small></strong>
                           <div class="row">
                              <div class="col-md-4">
                                 <label>Name of Spouse:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                              <div class="col-md-4">
                                 <label>Employer Name of Spouse (If employed):</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                              <div class="col-md-4">
                                 <label>Address of Employer:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                           </div>
                            <strong>Personal Reference</strong>
                           <div class="row">
                              <div class="col-md-4">
                                 <label>Fullname:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                              <div class="col-md-4">
                                 <label>Contact Number:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                              <div class="col-md-4">
                                 <label>Full Address:</label>
                                 <input  type="text" class="form-control"  />
                              </div>
                           </div>

                           <br/>
                           <button class="btn btn-success pull-right" type="submit">Update Record</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->