<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    User List
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/user-list">User</a></li>
      <li class="breadcrumb-item active">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!--  <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
        <a class="btn btn-info pull-left" routerLink="../user-create" routerLinkActive="active">Add Users</a>
      </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <button class="btn btn-info pull-left" (click)="OpenAddModal()">Add User</button>
            </div>
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
              <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
              <p>{{error_message}}</p>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Role</th>
                  <th>Company Name</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let users of user_rec">
                  <tr (click)="clickRow(users.id)">
                    <td>{{users.name}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.role_name}}</td>
                    <td>{{users.company_name}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
