<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Add Users
        <small>Creation of Users Record</small>

        
      </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>Users List</li>
      <li class="active">Create</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Create Users form</h3>
          </div>
          <div class="box-body">
            <div class="container">
              <div class="wizard">
                <div class="wizard-inner">
                  <div class="connecting-line"></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="tabs active">
                      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                        <div class="round-tab">
                          <i class="fa fa-folder-open-o"></i>
                        </div>
                      </a>
                    </li>
                    <li role="presentation" class="tabs" [class.disabled]="!createUsersForm.valid">
                      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                        <div class="round-tab">
                          <i class="fa fa-users"></i>
                        </div>
                      </a>
                    </li>
                    <li role="presentation" class="tabs" [class.disabled]="!createUsersForm.valid">
                      <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <div class="round-tab">
                          <i class="fa fa-check-circle-o"></i>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- success_title -->
                <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                  <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                  <p>{{success_message}}</p>
                </div>
                <!-- error message -->
                <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                  <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                  <p>{{error_message}}</p>
                </div>
                <form [formGroup]="createUsersForm" (ngSubmit)="onSubmit()">
                  <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                      <h3>Users Login</h3>
                      <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
                        <div class="custom_error" *ngIf="createUsersForm.controls['email'].touched && !createUsersForm.controls['email'].valid">
                          Please enter a valid email address.
                        </div>
                      </div>
                      <div formGroupName="passwords">
                        <div class="form-group">
                          <label class="control-label" for="password">Password</label>
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
                          <div class="custom_error" *ngIf="createUsersForm.controls.passwords.controls.password.touched && !createUsersForm.controls.passwords.controls.password.valid">
                            Your password must be at least 5 characters.
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="password">Confirm Password</label>
                          <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" formControlName="confirm_password">
                          <div class="custom_error" *ngIf="createUsersForm.controls['passwords'].touched &&  !createUsersForm.controls['passwords'].valid">Passwords do not match</div>
                        </div>
                      </div>
                      <ul class="list-inline pull-right">
                        <li>
                          <button type="button" class="btn btn-primary next-step" [disabled]="!createUsersForm.valid">Save and continue</button>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                      <h3> Choose User Role </h3>
                      <div class="form-group">
                        <select2 [data]="RoleData" [options]="options" [width]="600" [value]="value" (valueChanged)="changed($event)"></select2>
                        <select formControlName="role_id" class="role_id hide" name="role_id" value="{{current}}" form></select>
                        <!--  <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" formControlName="role_id">
						                                    <option value="{{roles.id}}" *ngFor="let roles of roles_rec">{{roles.name}}</option>
						                       
						                                </select>
						                                -->
                      </div>
                      <div class="col-md-12">
                        <ul class="list-inline pull-right">
                          <li>
                            <button type="button" class="btn btn-default prev-step">Previous</button>
                          </li>
                          <li>
                            <button type="button" class="btn btn-default next-step" [disabled]="!createUsersForm.valid">Skip</button>
                          </li>
                          <li>
                            <button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button>
                          </li>
                        </ul>
                      </div>
                      <!-- /col-md-12 -->
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                      <h3>Review all the submitted data</h3>
                      <p>You have successfully completed all steps.</p>
                      <ul class="list-inline pull-right">
                        <button class="btn btn-success  next-step" type="submit" [disabled]="!createUsersForm.valid">Save User</button>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- ./wrapper -->
