<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{ success_message }}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createUsersForm">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your full name" formControlName="name">
        </div>
        <div class="form-group">
          <label class="control-label" for="email">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email" placeholder="Enter your email address">
          <div class="custom_error" *ngIf="createUsersForm.controls['email'].touched && !createUsersForm.controls['email'].valid">
            Please enter a valid email address.
          </div>
        </div>
        <div formGroupName="passwords">
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" formControlName="password">
            <div class="custom_error" *ngIf="createUsersForm.controls.passwords.controls.password.touched && !createUsersForm.controls.passwords.controls.password.valid">
              Your password must be at least 5 characters.
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" formControlName="confirm_password">
            <div class="custom_error" *ngIf="createUsersForm.controls['passwords'].touched &&  !createUsersForm.controls['passwords'].valid">Passwords do not match</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Select Role</label>
          <!-- <select2 [data]="RoleData"
                   [options]="options"
                   [width]="570"
                   [value]="value"
                   (valueChanged)="changed($event)"

          ></select2> -->
          <select id="role_id" class="form-control" formControlName="role_id">
            <option *ngFor="let roles of roles_rec" value="{{roles.id}}">{{ roles.text }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Company</label>
          <select class="form-control" id="company" formControlName="company" #company (change)="getCompany(company.value, $event)">
            <option *ngFor="let company of company_rec" value="{{company.id}}">
              {{ company.name }}
            </option>
          </select>
        </div>
        <!-- <select formControlName="role_id" class="role_id hide" name="role_id" value="{{current}}" form></select>
            <div class="row">
              <div class="col-md-12">
              
              </div>
            </div>
          </div> -->
        <div class="form-group">
          <button class="btn btn-success" (click)="onSubmit()" [disabled]="!createUsersForm.valid">Save User</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
