<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateUserForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name" value="{{users.name}}" [(ngModel)]="users.name">
        </div>
        <div class="form-group">
          <label class="control-label" for="email">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email" value="{{users.email}}" [(ngModel)]="users.email">
          <div class="custom_error" *ngIf="updateUserForm.controls['email'].touched && !updateUserForm.controls['email'].valid">
            Please enter a valid email address.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Select Role</label>
          <!-- <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" formControlName="role_id">
              <option value="{{roles.id}}" *ngFor="let roles of roles_rec">{{roles.text}}</option>
  
          </select> -->
          <!-- <select2 [data]="RoleData"
                   [options]="options"
                   [width]="570"
                   [value]="value"
                   (valueChanged)="changed($event)"

          ></select2> -->
          <select id="role_id" class="form-control" formControlName="role_id">
            <option *ngFor="let roles of roles_rec" value="{{roles.id}}">{{ roles.text }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Company</label>
          <select class="form-control" id="company" formControlName="company" #company (change)="getCompany(company.value, $event)">
            <option *ngFor="let company of company_rec" value="{{company.id}}">
              {{ company.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="checked" [(ngModel)]="checked" (click)="isChecked()"> Change password?
            </label>
          </div>
        </div>
        <div formGroupName="passwords" *ngIf="checked">
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" formControlName="confirm_password">
            <div class="custom_error" *ngIf="updateUserForm.controls['passwords'].touched &&  !updateUserForm.controls['passwords'].valid">Passwords do not match</div>
          </div>
        </div>
        <div class="form-group pull-right">
          <div class="pull-right">
              <button type="button" class="btn btn-danger" href="#" (click)="archiveUser($event)"> Archive </button>
              <button class="btn btn-success" type="submit" [disabled]="!updateUserForm.valid">Update User</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
