.error {
	color: red;
}

.overlay {
	position: fixed !important; 
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #000 !important;
    opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
    z-index:50 !important;
}

.select2 {
    width: 100% !important;
}

.select2-container {
    display:  block !important;
    width: 100%;
}



