<div class="content-wrapper">
   <section class="content">
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-body">
                  <div *ngIf="!selectedEmployee">
                     <h3 style="text-align: center;">Employee List</h3>
                     <ng-container *ngFor="let x of employee">
                        <div class="col-md-4"  (click)="setActiveEmployee(x)" >
                           <div class="box box-widget widget-user">
                              <div class="widget-user-header bg-aqua-active">
                                 <h4 class="widget-user-username" >{{x.employee_name}}</h4>
                                 <h5 class="widget-user-desc"></h5>
                              </div>
                              <div class="widget-user-image">
                                 <img class="img-circle" src="../assets/img/user-placeholder.png" alt="User Avatar" width="100" height="100">
                              </div>
                              <div class="box-footer" style="background-color: #e9e9e9">
                                 <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                       <div class="description-block">
                                          <h6 class="description-header"></h6>
                                          <span class="description-text"  *ngIf="dates == dues">Ready for appraisal</span>
                                       </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </ng-container> 
                  </div>
                  <div *ngIf="selectedEmployee">
                     <div class="row">
                        <div class="col-md-1">
                           <a  (click)="selectedEmployee = null" class="previous" style="color: blue">&laquo; Previous</a>      
                        </div>                  
                     </div>   
                     <div class="card col-lg-3">
                        <img class="card-img-top" src="../assets/img/user-placeholder.png" alt="Card image cap">
                        <div class="card-block">
                           <p class="card-text" > <strong style="font-size: 17pt;">
                              {{selectedEmployee.employee_name}}</strong>
                           </p>
                           <p style="font: 12 pt"> {{selectedEmployee.position}}</p><br>    
                           <i> Employement status:</i> <strong>{{selectedEmployee.status}}</strong> <br>                                       
                           <i> Date hired:</i> <strong> {{selectedEmployee.date_hired}}</strong>                                
                        </div>
                     </div>
                     <div class="col-lg-9"  >
                        <div class="panel panel-primary">
                           <div class="panel-heading">
                              <div class="row">
                                 <div class="col-md-3"></div>
                                 <div class="col-md-3"></div>
                                 <div class="col-md-3"></div>  
                                 <div class="col-md-1"></div>
                                 <div class="col-md-2 select">
                                 </div>
                              </div>
                           </div>
                           <div class="panel-body">
                              <table  class="table table-bordered pos">
                                 <thead>
                                    <tr>
                                       <th>Implement</th>
                                       <th>What's the objective</th>
                                       <th>How to achieve it?</th>
                                       <th >Due</th>
                                       <th>Action</th>
                                    </tr>   
                                 </thead>
                                 <tbody style="text-align: left;">
                                    <tr *ngFor="let x of obj">
                                       <td>{{x.implement}}</td>
                                       <td>{{x.objective}}</td>
                                       <td>{{x.achieve_obj}}</td>
                                       <td>{{x.due}}</td>
                                       <td *ngIf="x.status == 'REJECTED'"><span class="label label-danger">{{x.status}}</span></td>
                                       <td *ngIf="x.status == 'APPROVED'">
                                          <span class="label label-success">{{x.status}}</span>
                                       </td>
                                       <td *ngIf="x.status == 'PENDING'">
                                          <i class="fa fa-check approved" data-toggle="tooltip" data-placement="bottom" title="Approve" (click)="approvedObj(x.id)"></i>&nbsp;
                                          <i class="fa fa-remove reject" data-toggle="tooltip" data-placement="bottom" title="Reject" (click)="rejectObj(x.id)"></i>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>  
                     <div class="col-lg-9"  *ngIf="today">   
                        <div class="panel panel-info">
                           <div class="panel-heading center">Rate Objectives</div>
                           <div class="panel-body">
                              <table  class="table table-bordered pos" >
                                 <thead>
                                    <tr>
                                       <th>Objective</th>
                                       <th >View</th>
                                    </tr>   
                                 </thead>
                                 <tbody style="text-align: left;">
                                    <tr *ngFor="let x of objectives">
                                       <td>{{x.objective}}</td>
                                       <td>
                                          <i class="fa fa-eye" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="viewObj(x.id)"></i>&nbsp;
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>                       
                  </div>
                  <div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>