<div [formGroup]="evaluationForm">
    <div class="panel-heading">
        <div class="row">
            <span>
                <div class="col-md-4 col-md-offset-4">
                    <label style="position: relative; top: -24px; left: 134px;">Segment</label>
                    <select formControlName="segment" (change)="changedSegment($event.target.value)" style="width: 229px;
                    padding: 5px;">
                    <option *ngFor="let i of add_segment" value="{{i.id}}" >{{i.text}}</option>
                </select>   
            </div>
        </span>                                            
    </div>
</div>
<div class="form-group col-md-12">   
    <div class="box-header with-border text-center" >         
        <div class="panel">
            <div class="panel-heading" *ngFor="let x of category_field;  let i = index">
                <div class="row" >
                    <div class="col-md-2"> {{ i + 1 }}</div>
                    <div class="col-md-8">
                        <select   class="form-control" id="{{ question_current }}" [(ngModel)]="x.question" formControlName="question" 
                        (change)="changedQuestion($event.target.value, i )" >
                        <option *ngFor="let i of add_question"  value="{{ i.id }}" >{{i.text}}</option>
                    </select>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
</div>
<div class="box-tools pull-right">  
    <button class="btn btn-info  pull-right" (click)="addCategoryField()">Add Question</button>                           
</div>

