<div class="content-wrapper">
  <section class="content-header">
    <h1>
    Payroll Reports Per Employee
  </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Payroll Reports</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <!-- Single button -->
            <div class="alert alert-info" role="alert">
              <strong>Heads up!</strong> Click the employee to view the overall adjustment, deduction, government deductions and loans of the employee.
            </div>
          </div>
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Employee Num.</th>
                  <th>Name</th>
                  <td>Total SSS</td>
                  <td>Total SSS Employer</td>
                  <td>Total Philhealth</td>
                  <td>Total Philhealth Employer</td>
                  <td>Total Pagibig</td>
                  <td>Total Pagibig Employer</td>
                  <td>Total Adjustment</td>
                  <td>Total Deduction</td>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let emp of emp_rec">
                  <tr (click)="getEmployeeId(emp.id)">
                    <td>{{emp.employee_code}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.total_sss}}</td>
                    <td>{{emp.total_sss_employer}}</td>
                    <td>{{emp.total_philhealth}}</td>
                    <td>{{emp.total_philhealth_employer}}</td>
                    <td>{{emp.total_pagibig}}</td>
                    <td>{{emp.total_pagibig_employer}}</td>
                    <td>{{emp.total_adjustment}}</td>
                    <td>{{emp.total_deduction}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
