<div class="content-wrapper">
  <section class="content-header">
    <h1>
    Payroll Reports Details Per Employee
  </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/payroll-report">Payroll Reports</a></li>
      <li class="active">Details</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-body">
           <div class="row">
           <ng-container *ngFor="let emp of emp_rec">
              <div class="col-md-6">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Payroll Period: {{emp.start_time | date}} - {{emp.end_time | date}}</strong></h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                          <tr>  
                            <td><strong></strong></td>
                            <td><strong>Amount</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="emp.total_adjustment > 0">
                            <tr *ngFor="let adj of adj_rec">
                              <ng-container *ngIf="adj.payroll_id == emp.payroll_id">
                                <td>{{ adj.display_name }}</td>
                                <td>{{ adj.adjustment_amount }}</td>
                              </ng-container>
                            </tr>
                          </ng-container>
                          <tr>
                            <td><strong>Total Adjustments</strong></td>
                            <td><strong>{{ emp.total_adjustment }}</strong></td>
                          </tr>
                          <ng-container *ngIf="emp.total_deduction < 0">
                            <tr *ngFor="let ded of dedu_rec">
                              <ng-container *ngIf="ded.payroll_id == emp.payroll_id">
                                <td>{{ ded.display_name }}</td>
                                <td>{{ ded.adjustment_amount }}</td>
                              </ng-container>
                            </tr>
                          </ng-container>
                          <tr>
                            <td><strong>Total Deductions</strong></td>
                            <td><strong>{{ emp.total_deduction }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total SSS</strong></td>
                            <td><strong>{{ emp.total_sss }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total SSS Employer</strong></td>
                            <td><strong>{{ emp.total_sss_employer }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total Loan</strong></td>
                            <td><strong>{{ emp.total_loan }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total Pagibig</strong></td>
                            <td><strong>{{ emp.total_pagibig }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total Pagibig Employer</strong></td>
                            <td><strong>{{ emp.total_pagibig_employer }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total Philhealth</strong></td>
                            <td><strong>{{ emp.total_philhealth }}</strong></td>
                          </tr>
                          <tr>
                            <td><strong>Total Philhealth Employer</strong></td>
                            <td><strong>{{ emp.total_philhealth_employer }}</strong></td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <div class="row hide">
                       <div class="col-md-12">
                          <table class="table" >
                            <thead>
                              <tr class="head">
                                <th><strong>Payroll Period</strong></th>
                                <th>Total Adjustments</th>
                                <th>Total Deductions</th>
                                <th>Total Loan</th>
                                <th>Total Pagibig</th>
                                <th>Total Philhealth</th>
                                <th>Total SSS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let emp of emp_rec">
                                <tr>
                                  <td>{{emp.start_time | date}} - {{emp.end_time | date}} </td>
                                  <td>{{ emp.total_adjustment }}</td>
                                  <td>{{ emp.total_deduction }}</td>
                                  <td>{{ emp.total_loan }}</td>
                                  <td>{{ emp.total_pagibig }}</td>
                                  <td>{{ emp.total_philhealth }}</td>
                                  <td>{{ emp.total_sss }}</td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                       </div>
                     </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>  <!-- ngFor -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
