<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updatePermissionForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter permission name" formControlName="name" value="{{permission.name}}" [(ngModel)]="permission.name">
          <div class="custom_error" *ngIf="updatePermissionForm.controls['name'].touched && !updatePermissionForm.controls['name'].valid">
            The permission name must be at least 5-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter permission display name" formControlName="display_name" value="{{permission.display_name}}" [(ngModel)]="permission.display_name">
          <div class="custom_error" *ngIf="updatePermissionForm.controls['display_name'].touched && !updatePermissionForm.controls['display_name'].valid">
            The permission display name must be at least 5-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter permission description" formControlName="description" value="{{permission.description}}" [(ngModel)]="permission.description">
          <div class="custom_error" *ngIf="updatePermissionForm.controls['description'].touched && !updatePermissionForm.controls['description'].valid">
            The description is too long.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="parent_id">Parent</label>
          <select id="parent_id" class="form-control" formControlName="parent_id" value="{{permission.parent_id}}" [(ngModel)]="permission.parent_id">
            <option *ngFor="let menu of menu_rec" value="{{menu.id}}">{{ menu.display_name }}</option>
          </select>
        </div>
        <div class="form-group pull-right">
          <div class="pull-right">
              <button type="button" class="btn btn-danger" href="#" (click)="archivePermission($event)"> Archive </button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal-dialog" [disabled]="!updatePermissionForm.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
