<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createPermissionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter permission name" formControlName="name">
          <div class="custom_error" *ngIf="createPermissionForm.controls['name'].touched && !createPermissionForm.controls['name'].valid">
            The permission name must be at least 5-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter permission display name" formControlName="display_name">
          <div class="custom_error" *ngIf="createPermissionForm.controls['display_name'].touched && !createPermissionForm.controls['display_name'].valid">
            The permission display name must be at least 5-32 characters.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter permission description" formControlName="description">
          <div class="custom_error" *ngIf="createPermissionForm.controls['description'].touched && !createPermissionForm.controls['description'].valid">
            The description is too long.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="parent_id">Parent</label>
          <select id="parent_id" class="form-control" formControlName="parent_id">
            <option *ngFor="let menu of menu_rec" value="{{menu.id}}">{{ menu.display_name }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
