<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}} </h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="memoForm" (ngSubmit)="onSubmit()"> <!-- *ngIf="location == '/admin/memo-list' -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label>Select Date:</label>
              <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
              </div>
            </div>
          </div>  
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12"> 
              <label class="control-label" for="type" >Type:</label>
              <select2 [data]="memo_type" 
              [width]="570" 
              [value]="memo_type_value"
              (valueChanged)="changedMemoType($event)"  required></select2>
            </div>
          </div>  
        </div>
         <div class="form-group" *ngIf="emp_memo">
          <div class="row">
            <div class="col-md-12"> 
            <label class="control-label" for="employee" >Employee:</label>
              <select2 
              [data]="emp" 
              [width]="570" 
              [value]="employee_value"
              (valueChanged)="changed($event)"  required></select2>
            </div>
          </div>  
        </div>
        <div class="form-group" *ngIf="comp_memo">
          <div class="row">
            <div class="col-md-12"> 
              <label class="control-label" for="company">Company:</label>
              <select2 
              [data]="company" 
              [options]="options"
              [width]="570"
              [value]="company_value"
              (valueChanged)="changedCompany($event)" 
              required></select2>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">New Memo</label>
          <input type="text" class="form-control" id="name" placeholder="Enter new memo" formControlName="name" value="{{name}}" [(ngModel)]="name" required/>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>

      <!-- <form [formGroup]="memoForm" (ngSubmit)="onSubmit()" *ngIf="location == '/admin' ">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label>Select Date:</label>
              <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
              </div>
            </div>
          </div>  
        </div>
        
        <div class="form-group" >
          <div class="row">
            <div class="col-md-12"> 
              <label class="control-label" for="company">Company:</label>
              <select2 
              [data]="company" 
              [options]="options"
              [width]="570"
              [value]="company_value"
              (valueChanged)="changedCompany($event)" 
              required></select2>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">New Memo</label>
          <input type="text" class="form-control" id="name" placeholder="Enter new memo" formControlName="name" value="{{name}}" [(ngModel)]="name" required/>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form> -->

    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>


