<div class="content-wrapper">
	<div class="box-header">
		<div class="box-body content">
			<section class="content">
				<div class="box-header" style="margin-top: -25px;"></div>
				<div class="box-body evaluation" *ngIf="!selectedEmployee">
					<div class="panel panel-info" >
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-3">
									<strong style="font-size: 16pt;">Employee</strong>
								</div>
								<div class="col-md-3">
									<strong style="font-size: 16pt;">Rate</strong>
								</div>
								<div class="col-md-3">
									<strong style="font-size: 16pt;">Remarks</strong>
								</div>  
								<div class="col-md-1"></div>
								<div class="col-md-2 select">
									<select name="slct" id="slct"  class="form-control" #t (change)="quickFilter(t.value)">
										<option selected="selected" value="1">Not started</option>
										<option selected="selected" value="2">Finished</option>
										<option selected="selected" value ="0">None</option>
									</select>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<ng-container *ngFor="let x of rate ">
								<div class="row" >
									<div class="col-md-3">
										<div class="widget-user-image">
											<img class="img-circle" src="../assets/img/user-placeholder.png" alt="User Avatar" width="100" height="100" padding="2px">  <strong>{{ x.employee_name }}</strong>
										</div>
									</div>
									<div class="col-md-3" style="font-size: 12pt">									
										<ng-container *ngIf="x.rate == '0.00'">Not started</ng-container>
										<ng-container *ngIf="x.rate != '0.00'">{{x.rate}}</ng-container></div>
										<div class="col-md-3" style="font-size: 12pt">{{x.remarks}}</div>
										<div class="col-md-1"></div>
										<div class="col-md-2" (click)="setActiveEmployee(x)"><span class="glyphicon glyphicon-chevron-right pull-right" ></span></div>
									</div>
								</ng-container> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-lg-12 col-md-12">
							<div class="box">
								<div class="box-body first" *ngIf="selectedEmployee" >
									<div *ngIf="selectedEmployee.rate == '0.00'">		
										<div *ngIf="!parttwo">		                                                       
											<div class="row" >
												<div class="col-md-1">
													<a  (click)="selectedEmployee = null" class="previous" style="color: blue">&laquo; Previous</a>      
												</div>						
											</div>	
											<ng-container  *ngFor="let x of evaluation_form ; let i = index" >
												<div class="row">
													<div class="col-md-4">
														<p style="font-size: 16pt">Name:<strong style="font-size: 16pt"> {{x.emp_name}}</strong></p>
													</div>
													<div class="col-md-4">
													</div>
													<div class="col-md-4">
														<p style="font-size: 16pt">Position:<strong style="font-size: 16pt">{{x.position}}</strong></p>
													</div>
												</div>
												<br>
												<div class="row"><strong>Part 1 - WORK ABILITIES AND SKILLS</strong></div>
												<div class="row" *ngFor="let y of x.segments ; let j = index">
													<div class="col-md-6 col-md-offset-5" style="font-size: 35pt; color: #3c8dbc;">{{ y.segment_name }}</div>
													<div *ngFor="let z of y.question_collection ; let o = index"   > 
														<br>
														<div class="row" >
															<div class="col-md-12">
																<strong style="font-size: 16pt;">{{ o + 1 }}.{{ z.question }}</strong>
															</div>
															<div class="row">
																<div class="col-md-2">&nbsp;</div>
																<div class="col-md-11">
																	<fieldset class="rating">
																		<input type="radio"  id="star5-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="5" (change)="changeRatingValue(i,j,o,5)" /><label for="star5-{{z.q_id}}"></label>
																		<input type="radio"  id="star4-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="4" (change)="changeRatingValue(i,j,o,4)" /><label for="star4-{{z.q_id}}"></label>
																		<input type="radio"  id="star3-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="3" (change)="changeRatingValue(i,j,o,3)" /><label for="star3-{{z.q_id}}"></label>
																		<input type="radio"  id="star2-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="2" (change)="changeRatingValue(i,j,o,2)" /><label for="star2-{{z.q_id}}"></label>
																		<input type="radio"  id="star1-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="1" (change)="changeRatingValue(i,j,o,1)" /><label for="star1-{{z.q_id}}"></label>
																	</fieldset>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-12 text-center" > 
													<button class="button " (click)="part2()"><span>Next </span></button> 
												</div>
											</ng-container>							
										</div>
										<div *ngIf="parttwo">											
											<div class="row">
												<strong>Part 2 - COMMENTS AND RECOMENDATION</strong>
											</div>
											<br>
											<div class="row">
												<strong>A. PRIMARY STRENGTHS:</strong>												
											</div>
											<textarea rows="5" cols="100" name="comment" form="usrform"></textarea>
											<br>
											<div class="row">
												<strong>B. IMPROVEMENT NEEDS:</strong>												
											</div>
											<textarea rows="5" cols="100" name="comment" form="usrform"></textarea>
											<br>
											<div class="row">
												<strong>c. ACTION TAKEN:</strong>												
											</div>
											<textarea rows="5" cols="100" name="comment" form="usrform"></textarea>
											<div class="row">
												<strong>D. COMMENTS AND RECOMMENDATIONS OF THE RATER:</strong>												
											</div>
											<textarea rows="5" cols="100" name="comment" form="usrform"></textarea>
											<div class="col-md-12 text-center" > 
												<button class="button " (click)="onSubmit()"><span>Send </span></button> 
											</div>
										</div>
									</div>	
									<div *ngIf="selectedEmployee.rate > '0.00'">
										<ng-container *ngFor="let x of view_evaluattion">							
											<div class="row">
												<div class="col-md-4">
													<p style="font-size: 16pt">Name:<strong style="font-size: 16pt"> {{x.employee_name}}</strong></p>
												</div>
												<div class="col-md-4">
												</div>
												<div class="col-md-4">
													<p style="font-size: 16pt">Position:<strong style="font-size: 16pt">{{x.emp_position}}</strong></p>
												</div>
											</div>
											<div class="row" *ngFor="let y of x.segments">
												<div class="col-md-6 col-md-offset-5" style="font-size: 30pt; color: #3c8dbc;">{{ y.segment_name }}</div>
												<div *ngFor="let z of y.question_collection; let i = index ">
													<br>
													<div class="row">
														<div class="col-md-11 ">
															<strong style="font-size: 16pt; " >&nbsp;&nbsp;{{i+1}}. {{ z.question }}</strong>
														</div>
													</div>
													<div class="row">
														<div class="col-md-1 " style="font-size: 19px">&nbsp;&nbsp;Rate:</div>
														<div class="col-md-11 rate" ><strong>{{z.rating_value}}</strong></div>
													</div>
												</div>
											</div>								
										</ng-container>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</section>
			</div>
		</div>
	</div> 


