<div class="loader" *ngIf="isLoading" >
    <div class="loading" >
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>
<div class="content-wrapper"><br/>        
    <div class="box">
        <div class="box-body main">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#tab_1" data-toggle="tab" class="nav-link active" role="tab" data-toggle="tab">Daily Report</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_2" data-toggle="tab" (click)="getLateEarlyReport()" class="nav-link" role="tab" data-toggle="tab">Early/Late Report</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_3" data-toggle="tab" class="nav-link">Employee Report</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_5" data-toggle="tab" (click)="daySummaryDefaultDate()" class="nav-link" role="tab" data-toggle="tab">Day Summary Report</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab_6" data-toggle="tab" (click)="hourSummaryDefaultDate()"
                                class="nav-link" role="tab" data-toggle="tab">Hours Summary Report</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab_1" role="tabpanel" class="tab-pane fade in active" >
                                <h2><b>Daily Report</b></h2>
                                <div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="display: block">
                                            <canvas baseChart
                                            [data]="pieChartData"
                                            [labels]="pieChartLabels"
                                            [chartType]="pieChartType"
                                            [colors]="colorObject"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                        </div>               
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <div id="tab_2" role="tabpanel" class="tab-pane fade in" >
                                <div class="row">
                                    <div class="col-sm-1">
                                        <label class="control-label">Filter:</label>
                                    </div>
                                    <div class="col-sm-4">        
                                        <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                                            <option selected="selected" value =1 >All</option>
                                            <option selected="selected" value =2 >By Date</option>
                                            <option selected="selected" value =5 >By Employee</option>
                                            <option selected="selected" value =0 >None</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3" *ngIf="byDate">
                                        <label>Date Range:</label>
                                        <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                                            <span class="form-control uneditable-input"  name="daterange">
                                                {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                                            </span>
                                            <span class="input-group-btn">
                                                <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" *ngIf="byEmployee">
                                        <label for="employee">Employee:</label>
                                        <select2 id="employee" name="employee"
                                        [data]="employees"
                                        [options]="options"
                                        [width]="293"
                                        [value]="employee_value"
                                        (valueChanged)="changedEmployee($event)"
                                        required>
                                    </select2>
                                </div>   
                            </div>
                            <h2><b>Early/Late Bird Report</b></h2>
                            <div class="box-body">
                                <ng-container>
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                        <thead>
                                            <tr>
                                                <th>Employee</th>
                                                <th>Shift Name</th>
                                                <th>Early/Late Entry</th>
                                                <th>Early/Late Exit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let x of late_early">
                                                <tr [class.late-report]="checkLateEarly(x.emp_in)" [class.early-report]="checkEmpOut(x.emp_out)" >
                                                    <td>{{x.employee_name }}</td>
                                                    <td>{{x.start_shift  }}-{{x.end_shift }}</td>                
                                                    <td class="theme {{x.lateClass}}">{{x.emp_in }}</td>  
                                                    <td class="theme {{x.otClass}}">{{x.emp_out  }}</td>           
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </ng-container>
                            </div>  
                            <div class="box box-default color-palette-box">
                                <div class="box-header with-border">
                                    <ul class="custom-list">
                                        <li><span class="fa fa-2x fa-square legend-late"></span>Late</li>
                                        <li><span class="fa fa-2x fa-square legend-early"></span>Early</li>
                                        <li><span class="fa fa-2x fa-square legend-ot"></span>Overtime</li>
                                        <li><span class="fa fa-2x fa-square legend-ut"></span>Undertime</li>
                                    </ul>
                                </div>       
                            </div>                    
                        </div>
                        <div id="tab_3" role="tabpanel" class="tab-pane fade in" >
                            <div *ngIf="selectedEmployee">
                                <div class="row" >
                                    <div class="col-sm-1">
                                        <a  (click)="selectedEmployee = null" class="previous" style="color: blue">&laquo; Previous</a>      
                                    </div>                      
                                </div> 
                                <div class="row"> 
                                    <div class="card col-sm-3">
                                        <img class="card-img-top" src="../assets/img/user-placeholder.png" alt="Card image cap">
                                        <div class="card-block">
                                            <p class="card-text" > <strong style="font-size: 17pt;">
                                                {{selectedEmployee.text}}</strong>
                                            </p>
                                            <p style="font: 11 pt">Position:  {{selectedEmployee.pos_name}}</p>
                                            <p style="font: 11 pt">Company: {{selectedEmployee.comp}}</p>
                                            <p style="font: 11 pt">Department: {{selectedEmployee.dept}}</p>
                                            <table border="1" class="tbl">
                                                <tr>
                                                    <td colspan="3">Working Schedule</td>
                                                </tr>
                                                <tr>
                                                    <td>Days</td>
                                                    <td>Time In</td>
                                                    <td>Time Out</td>
                                                </tr>
                                                <ng-container *ngFor=" let y of working_sched">
                                                    <tr *ngFor=" let x of y.days">
                                                        <td>{{x}}</td>
                                                        <td>{{y.time_in}}</td>
                                                        <td>{{y.time_out}}</td>
                                                    </tr>
                                                </ng-container>
                                            </table>
                                        </div>
                                    </div>
                                <div class="col-sm-9">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab" role="tab" (click)="perEmpLateEarly(selectedEmployee.id)">Late/Early Report</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab" role="tab" (click)="statusReport(selectedEmployee.id)">Status</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab" role="tab" (click)="perEmpDaysSummary(selectedEmployee.id)">Days Summary Report</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab_d" data-toggle="tab" role="tab" (click)="perEmpHoursSummary(selectedEmployee.id)">Hours Summary Report</a></li>                  
                                        <li class="nav-item"><a class="nav-link" href="#tab_e" data-toggle="tab" role="tab" (click)="userReport(selectedEmployee.id)">User Report</a></li>                  
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab_a" role="tabpanel" class="tab-pane fade in active" >
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-4">
                                                    <span style="font-size: 13pt; vertical-align: -29px; color: #3c8dbc;">{{start}} - {{today}}</span>
                                                </div>
                                            </div>
                                            <div class="box-body">
                                                <table class="table table-bordered" >
                                                    <thead>
                                                        <tr>
                                                            <th>Shift Name</th>
                                                            <th>Date</th>
                                                            <th>Early/Late Entry</th>
                                                            <th>Early/Late Exit</th>                           
                                                        </tr>                                  
                                                    </thead>
                                                    <tbody>
                                                        <ng-container *ngFor="let x of late_early_per_emp">
                                                            <tr [class.late-report]="checkLateEarly(x.emp_in)" [class.early-report]="checkEmpOut(x.emp_out)">
                                                                <td>{{x.start_shift  }}-{{x.end_shift }}</td>      
                                                                <td>{{x.date_given}}</td>      
                                                                <td class="theme {{ x.lateClass }}"> {{x.emp_in }} </td>  
                                                                <td class="theme {{ x.otClass }}"> {{x.emp_out  }} </td>          
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>                                                           
                                            </div>                                  
                                        </div>
                                        <div id="tab_b" role="tabpanel" class="tab-pane fade" >
                                            <div class="row">
                                                <div class="col-sm-7">              
                                                    <div class="box box-default" style="overflow-y: scroll; max-height: 600px; width: 179%;">                                                                  
                                                        <table *ngIf = "empDates" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Remarks</th>
                                                                    <th>Hours</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>                                                    
                                                                <ng-container *ngFor= "let a of date;" > 
                                                                    <tr >
                                                                        <td>{{a.date | date}}</td>                                                       
                                                                        <td class="theme {{a.color}}">{{a.status}}</td>                                                            
                                                                        <td class="theme {{a.color}}">{{a.hours_count}}</td>
                                                                    </tr>                                                            
                                                                </ng-container>                         
                                                            </tbody>
                                                        </table>
                                                    </div> 
                                                </div>                                                                                        
                                            </div>  

                                             <div class="box box-default color-palette-box">
                                                    <div class="box-header with-border">
                                                        <ul class="custom-list">
                                                            <li style="color:green; font-size: 13.5pt;">P - Present</li>
                                                            <li style="color:blue; font-size: 13.5pt;">PL - Paid Leave</li>
                                                            <li style="color:#20ead3; font-size: 13.5pt;">W - Weekend</li>
                                                            <li style="color:red; font-size: 13.5pt;">A - Absent</li>
                                                            <li style="color:#dd16bc; font-size: 13.5pt;">LOP - Unpaid Leave</li>
                                                            <li style="color:#659df7; font-size: 13.5pt;">H - Holiday</li>
                                                        </ul>
                                                    </div>       
                                                </div>
                                        </div>
                                        <div id="tab_c" role="tabpanel" class="tab-pane fade" >
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-4">
                                                <span style="font-size: 13pt; vertical-align: -29px; color: #3c8dbc;">{{start}} - {{today}}</span>
                                            </div>
                                            <table class="table table-bordered" style="text-align:center">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2">Expected Payable Days</th>
                                                        <th colspan="3">Payable Days</th>
                                                        <th rowspan="2">Expected Working Days</th>
                                                        <th colspan="3">Worked Days</th>
                                                        <th colspan="3">Paid Off</th>
                                                        <th colspan="3">Unpaid Off</th>
                                                    </tr>   
                                                    <tr>
                                                        <td colspan="1">Worked Days</td>
                                                        <td colspan="1">Paid Off</td>
                                                        <th colspan="1">Total</th>
                                                        <td colspan="1">Present</td>
                                                        <th colspan="1">Total</th>
                                                        <td colspan="1">Leave</td>
                                                        <td colspan="1">Holiday</td>
                                                        <th colspan="1">Total</th>
                                                        <td colspan="1">Leave</td>
                                                        <td colspan="1">Weekend</td>
                                                        <th colspan="1">Total</th>
                                                    </tr>   
                                                </thead>
                                                <tbody>
                                                    <tr>     
                                                        <td>{{ jsonParse?.total_hours }}</td>
                                                        <td>{{ ifNaN(jsonParse?.worked_days, 0) }}</td>
                                                        <td>{{ ifNaN(jsonParse?.leave_count , jsonParse?.holi_count)}}</td>
                                                        <td>{{ ifNaN(jsonParse?.worked_days, jsonParse?.leave_count, jsonParse?.holi_count) }}</td>
                                                        <td>{{ ifNaN(jsonParse?.days, 0)}}</td>
                                                        <td>{{ ifNaN(jsonParse?.no_of_present, 0)}}</td>
                                                        <td>{{ ifNaN(jsonParse?.no_of_present, 0)}}</td>                                           
                                                        <td>{{ ifNaN(jsonParse?.leave_count, 0) }}</td>                                           
                                                        <td>{{ ifNaN(jsonParse?.holi_count, 0)}}</td>  
                                                        <td>{{ ifNaN(jsonParse?.leave_count + jsonParse?.holi_count)}}</td>
                                                        <td>{{ ifNaN(jsonParse?.unpaid_leave, 0)}}</td> 
                                                        <td>{{ ifNaN(jsonParse?.weekend_count, 0)}}</td>  
                                                        <td>{{ ifNaN(jsonParse?.unpaid_leave, jsonParse?.weekend_count, jsonParse?.absent_count)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        </div>
                                        <div id="tab_d" role="tabpanel" class="tab-pane fade" >
                                            <div class="row">
                                                <div class="col-sm-4">                                   
                                                </div>
                                                <div class="col-sm-4">
                                                    <span style="font-size: 13pt; vertical-align: -29px; color: #3c8dbc;">{{start}} - {{today}}</span>
                                                </div>
                                            </div>
                                            <table class="table table-bordered" style="text-align:center">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2">Total Worked Hours</th>
                                                        <th rowspan="2" >Expected Payable Hours</th>
                                                        <th colspan="3">Payabale Hours</th>
                                                        <th rowspan="2">Expected Working Hours</th>
                                                        <th colspan="3">Paid Off Hours</th>
                                                        <th colspan="3">Unpaid Off Hours</th>
                                                        <th colspan=4>Overtime</th>
                                                    </tr>   
                                                    <tr>
                                                        <td colspan="1">Worked Hours</td>
                                                        <td colspan="1">Paid Off</td>
                                                        <td colspan="1">Present</td>
                                                        <td colspan="1">Leave</td>
                                                        <td colspan="1">Holiday</td>
                                                        <th colspan="1">Total</th>
                                                        <td colspan="1">Leave</td>
                                                        <td colspan="1">Weekend</td>
                                                        <th colspan="1">Total</th>
                                                    </tr>   
                                                </thead>
                                                <tbody>
                                                    <tr>                                        
                                                        <td>{{ json_per_emp_hours_summary?.worked_hours }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.expected_payable_hours }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.worked_hours }}</td>
                                                        <td>{{ ifNaN(json_per_emp_hours_summary?.paid_leave, json_per_emp_hours_summary?.holiday_hours) }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.worked_hours }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.expected_working_hours }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.paid_leave }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.holiday_hours }}</td>
                                                        <td>{{ ifNaN(json_per_emp_hours_summary?.paid_leave, json_per_emp_hours_summary?.holiday_hours) }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.unpaid_leave }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.weekend_hours }}</td>
                                                        <td>{{ ifNaN(json_per_emp_hours_summary?.unpaid_leave , json_per_emp_hours_summary?.weekend_hours) }}</td>
                                                        <td>{{ json_per_emp_hours_summary?.ot_hours }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>                                 
                                        </div> 
                                        <div id="tab_e" role="tabpanel" class="tab-pane fade" >
                                            <div style="overflow-y: scroll; height: 500px;">
                                                <table class="table table-bordered tableVal-scroll">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>First In</th>
                                                            <th>Last Out</th>
                                                            <th>Total Hours</th>
                                                            <th>Payable Hours</th>
                                                            <th>Status</th>
                                                        </tr>   
                                                    </thead>  
                                                    <tbody >
                                                        <ng-container *ngFor="let x of date">
                                                            <tr>
                                                                <td>{{x.date | date:'fullDate'}}</td>
                                                                <td class="theme {{x.color}}">{{x.time_in}}</td>
                                                                <td class="theme {{x.color}}">{{x.time_out}}</td>
                                                                <td class="theme {{x.color}}">{{x.total_hours}}</td>
                                                                <td class="theme {{x.color}}">{{x.pay_hrs}}</td>
                                                                <td class="theme {{x.color}}">{{x.status}}</td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>                         
                                                </table>
                                            </div> 
                                            <div class="box box-default color-palette-box">
                                                <div class="box-header with-border">
                                                    <ul class="custom-list">
                                                        <li><span class="fa fa-2x fa-square legend-present"></span>Present</li>
                                                        <li><span class="fa fa-2x fa-square legend-leave"></span>Paid Leave</li>
                                                        <li><span class="fa fa-2x fa-square legend-weekend"></span>Weekend</li>
                                                        <li><span class="fa fa-2x fa-square legend-absent"></span>Absent</li>
                                                        <li><span class="fa fa-2x fa-square legend-lop"></span>Unpaid Leave</li>
                                                    </ul>
                                                </div>       
                                            </div>         
                                        </div>
                                    </div>
                                </div>   
                                </div>                    
                            </div>
                            <div *ngIf="!selectedEmployee">
                                <div class="row"> 
                                    <div class="col-sm-3" >
                                        <label for="company">Company:</label>
                                        <select2 id="company" name="company" 
                                        [data]="company" 
                                        [width]="293"
                                        [value]="company_value"
                                        (valueChanged)="changedCompany($event)" 
                                        required></select2>
                                    </div>       
                                </div>
                                <br><br>
                                <div class="row">
                                    <ng-container *ngFor="let x of emp_by_comp">
                                        <div class="col-sm-4" (click)="setActiveEmployee(x)" *ngIf="x.id != 0">
                                            <div class="box box-widget widget-user">
                                                <div class="widget-user-header bg-aqua-active">
                                                    <h3 class="widget-user-username" >{{x.text}}</h3>
                                                    <h5 class="widget-user-desc">{{x.pos_name}}</h5>
                                                </div>
                                                <div class="widget-user-image">
                                                    <img class="img-circle" src="../assets/img/user-placeholder.png" alt="User Avatar" width="100" height="100">
                                                </div>
                                                <div class="box-footer">
                                                    <div class="row">
                                                        <div class="col-sm-4"></div>
                                                        <div class="col-sm-4">
                                                            <div class="description-block">
                                                                <h5 class="description-header-hahaha">{{x.comp}}</h5>
                                                                <span class="description-text-hehehe">{{x.dept}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>      



                        <div id="tab_5" role="tabpanel" class="tab-pane fade in" >
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Date Range:</label>
                                    <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                                        <span class="form-control uneditable-input"  name="daterange">
                                            {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                                        </span>
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2><b>Days Summary Report</b></h2>
                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size: 13pt; vertical-align: -29px; color: #3c8dbc;">{{start}} - {{today}}</span>
                                </div>
                            </div>
                            <table class="table table-bordered" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="style">Employee</th>
                                        <th rowspan="2">Expected Payable Days</th>
                                        <th colspan="3">Payable Days</th>
                                        <th rowspan="2">Expected Working Days</th>
                                        <th colspan="3">Worked Days</th>
                                        <th colspan="3">Paid Off</th>
                                        <th colspan="3">Unpaid Off</th>
                                    </tr>   
                                    <tr>
                                        <td colspan="1">Worked Days</td>
                                        <td colspan="1">Paid Off</td>
                                        <th colspan="1">Total</th>
                                        <td colspan="1">Present</td>
                                        <th colspan="1">Total</th>
                                        <td colspan="1">Leave</td>
                                        <td colspan="1">Holiday</td>
                                        <th colspan="1">Total</th>
                                        <td colspan="1">Absent</td>
                                        <td colspan="1">Leave</td>
                                        <td colspan="1">Weekend</td>
                                        <th colspan="1">Total</th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let employee of employee; ">
                                        <ng-container *ngFor= "let x of days_summmary;">
                                            <ng-container *ngIf="employee.id == x.id">
                                                <td>{{ employee.text }}</td>
                                                <td>{{ ifNaN(x.total_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.worked_days, 0) }}</td>
                                                <td>{{ ifNaN(x.leave_count , x.holi_count)}}</td>
                                                <td>{{ ifNaN(x.worked_days, x.leave_count, x.holi_count) }}</td>
                                                <td>{{ ifNaN(x.days, 0)}}</td>
                                                <td>{{ ifNaN(x.no_of_present, 0)}}</td>
                                                <td>{{ ifNaN(x.no_of_present, 0)}}</td>                                           
                                                <td>{{ ifNaN(x.leave_count, 0) }}</td>                                           
                                                <td>{{ ifNaN(x.holi_count, 0)}}</td>  
                                                <td>{{ ifNaN(x.leave_count + x.holi_count)}}</td>
                                                <td>{{ ifNaN(x.absent_count, 0)}}</td>
                                                <td>{{ ifNaN(x.unpaid_leave, 0)}}</td> 
                                                <td>{{ ifNaN(x.weekend_count, 0)}}</td>  
                                                <td>{{ ifNaN(x.unpaid_leave, x.weekend_count, x.absent_count)}}</td>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>                                   
                        </div>   
                        <div  id="tab_6" role="tabpanel" class="tab-pane fade in" >
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Date Range:</label>
                                    <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                                        <span class="form-control uneditable-input"  name="daterange">
                                            {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                                        </span>
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2><b>Hours Summary Report</b></h2>
                                </div>
                                <div class="col-sm-4">
                                    <span style="font-size: 13pt; vertical-align: -29px; color: #3c8dbc;">{{start}} - {{today}}</span>
                                </div>
                            </div>
                            <table class="table table-bordered" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="style">Employee</th>
                                        <th rowspan="2">Total Worked Hours</th>
                                        <th rowspan="2" >Expected Payable Hours</th>
                                        <th colspan="3">Payabale Hours</th>
                                        <th rowspan="2">Expected Working Hours</th>
                                        <th colspan="3">Paid Off Hours</th>
                                        <th colspan="3">Unpaid Off Hours</th>
                                        <th colspan=4>Overtime</th>
                                    </tr>   
                                    <tr>
                                        <td colspan="1">Worked Hours</td>
                                        <td colspan="1">Paid Off</td>
                                        <td colspan="1">Present</td>
                                        <td colspan="1">Leave</td>
                                        <td colspan="1">Holiday</td>
                                        <th colspan="1">Total</th>
                                        <td colspan="1">Leave</td>
                                        <td colspan="1">Weekend</td>
                                        <th colspan="1">Total</th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let employee of employee; ">
                                        <ng-container *ngFor= "let x of hours_summmary;">
                                            <ng-container *ngIf="employee.id == x.id">
                                                <td>{{ employee.text}}</td>
                                                <td>{{ ifNaN(x.worked_hours, 0)  }}</td>
                                                <td>{{ ifNaN(x.expected_payable_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.worked_hours, 0) }}</td>
                                                <td > {{ ifNaN(x.paid_leave, x.holiday_hours) }}</td>
                                                <td>{{ ifNaN(x.worked_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.expected_working_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.paid_leave, 0) }}</td>
                                                <td>{{ ifNaN(x.holiday_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.paid_leave, x.holiday_hours) }}</td>
                                                <td>{{ ifNaN(x.unpaid_leave, 0) }}</td>
                                                <td>{{ ifNaN(x.weekend_hours, 0) }}</td>
                                                <td>{{ ifNaN(x.unpaid_leave , x.weekend_hours) }}</td>
                                                <td>{{ ifNaN(x.ot_hours, 0) }}</td>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>                                   
                        </div>       
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
</div>



