/*@import "bootstrap";*/

@media (min-width:768px) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
}


.sidebar-form, #search{

    outline: 0;
    border-width: 0 0 0 0;
    
}

#search: focus{
}

.ZPDat {
    height: 60px;
    box-shadow: 0 -1px 2px #eee;
    border-radius: 0px;
    padding: 8px 20px 8px 40px;
    background-color: #FFF;
    margin-bottom: 0px;
    position: absolute;
    left: 200px;
    right: 0px;
    bottom: 0px;
    z-index: 100;

}

.custom-list {
    list-style: none;
    margin-left:5px;
    padding:none;
    font-size: 10pt;
}

.custom-list > li {
    display: inline-block;
    margin-left: 15px;
}

.legend-late, .legend-early, .legend-ot, .legend-ut {
margin-right: 8px;
height: 1px;
}
 
.legend-late {
    color: red;
}

.legend-early {
    color: green;
}

.legend-ot {
    color: blue;
}

.legend-ut {
    color: violet;
}

.theme.red { color: red; }
.theme.green { color: green; }
.theme.blue { color: blue; }
.theme.violet { color: violet; }

.theme.green-user-report { color: green;}
.theme.red-user-report {  color: red;}
.theme.blue-user-report { color: blue;}
.theme.holiday-user-report { color: #659df7;}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.legend-present, .legend-leave, .legend-weekend, .legend-absent, .legend-lop {
   margin-right: 8px;
   height: 1px;
}
 
.legend-present {
    color: green;
}

.legend-leave {
    color: blue;
}

.legend-weekend {
    color: #20ead3;
}

.legend-absent {
    color: red;
}

.legend-lop {
    color: violet;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
      background-color: #fff;
    word-wrap: break-word;
    
    background-clip: border-box;
}

.card:hover {
  cursor:pointer;
  background-color: #3c8dbc;
  color: white;
}

.lg-icon {
  font-size: 37pt;
  line-height:97px
}

.activeEmployee {
    background-color: #3c8dbc;
    color: black;
}

.nav-tabs-custom > .tab-content {
    /*background: #ecf0f5;*/
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    height: auto;
}

.tableVal-center{
  text-align: center;
  font-size: 20pt;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 55px;
    left: 49%;
    margin-left: -45px;
    width: 400px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.loading {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5); 
    color: white
}

.isLoading {
    position: absolute; 
    top:38%; 
    left: 50%; 
    font-size: 74pt;
    color: cornflowerblue ;
}

.unstyled > li {
    list-style: none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.tbl{
    text-align: center;
    font-size: 11pt;
    width: 104%;
}

.tbl > tr, td {
    padding: 5px !important;
} 

.loader {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;  
    height: 100%;
    z-index: 9999;
}
.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;

}
.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}


.box-body.container{

  background: #fff;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #e9e3e3;
}

.box-body.main {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /* padding: 3px; */
}


.box-footer{
  height: 103px;
  /*width: 100px;*/
}

.description-header-hahaha{
  font-weight: normal;
  font-size: 11pt;
}

.description-text-hehehe{
  font-weight: lighter;
  font-size: 10pt;
}



