                    <!-- <div class="col-md-1">
                        <label class="control-label">Filter</label>
                    </div>
                    <div class="col-md-4">        
                        <select class="form-control" #y id="filter" name="filter" (change)="report(y.value)">
                            <option selected="selected" value =1 >Status Report</option>
                            <option selected="selected" value =2 >Hours Report</option>
                            <option selected="selected" value =3 >None</option>
                        </select>
                    </div> -->
                    <br/>
                    <div class="row" >
                        <ng-container *ngFor="let x of employeeData">
                            <!-- <div class="box box-widget widget-user col-lg-6">
                                <div class="widget-user-header bg-aqua-active" (click)="statusReport(employee.id)">
                                    <h3 class="widget-user-username">{{x.text}}</h3>
                                    <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                
                                    </div>
                                </div>
                            </div> -->

                            <div class="card" style="width: 20rem;">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>
                        </ng-container>
                        </div>
                        <div *ngIf="stats" style="padding: 2%">
                            <h1>Status Report</h1>
                            <hr>
                            <div class="row">
                                <div class="col-lg-5">
                                        <hr>
                                          
                                </div> 
                                <div class="col-lg-7">              
                                    <div class="box box-default" style="overflow-y: scroll; max-height: 600px;">                                                                  
                                        <table *ngIf = "empDates" class="table">
                                            <thead>
                                                <th>Date</th>
                                                <th>Remarks</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor= "let day of date;">
                                                    <td>{{day | date }}</td>
                                                    <td *ngIf="day.status == 'P'" style="color:green;">{{day.status}}</td>
                                                    <td *ngIf="day.status == 'PL'" style="color:blue;">{{day.status}}</td>
                                                    <td *ngIf="day.status == 'H'" style="color:#659df7;">{{day.status}}</td>
                                                    <td *ngIf="day.status == null" style="color:red;">A</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div> 
                                <div class="box box-default color-palette-box" style="position: absolute; bottom: 0px;">
                                    <div class="box-header with-border">
                                        <ul class="custom-list">
                                            <li style="color:green; font-size: 13.5pt;">P - Present</li>
                                            <li style="color:blue; font-size: 13.5pt;">PL - Paid Leave</li>
                                            <li style="color:#20ead3; font-size: 13.5pt;">W - Weekend</li>
                                            <li style="color:red; font-size: 13.5pt;">A - Absent</li>
                                            <li style="color:#dd16bc; font-size: 13.5pt;">LOP - Unpaid Leave</li>
                                            <li style="color:#659df7; font-size: 13.5pt;">H - Holiday</li>
                                        </ul>
                                    </div>       
                                </div>
                            </div>  
                        </div>