<div class="modal-dialog modal-lg">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title" *ngIf="!loader2">{{title || 'Confirm'}}</h4>
     <h4 class="modal-title" *ngIf="loader2">Loading . . .</h4>
   	 <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>


    <div class="form-loader" *ngIf="loader2">
      <div class="row">
        <div class="loader">
          <div class="loading" >
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!loader2">
      <div class="form-group">
        <label>Filter:</label>
      	<div class="row">
          <div class="col-md-6">
              <label>Company:</label><br>
              <select2 id="company" name="company" 
              [data]="company" 
              [width]="370"
              [value]="company_value"
              (valueChanged)="changedCompany($event)" 
              required>
              </select2>
          </div>
          <div class="col-md-6">
              <label>Department:</label><br>
              <select2 id="department" name="department" 
              [data]="department" 
              [width]="370"
              [value]="department_value"
              (valueChanged)="changedDepartment($event)"  required> 
              </select2>
          </div>
      	</div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Branch:</label><br>
            <select2 id="branch" name="branch" 
              [data]="branch" 
              [width]="370"
              [value]="branch_value"
              (valueChanged)="changedBranch($event)" 
              required>
            </select2>
          </div>
          <div class="col-md-6">
            <label>Position:</label><br>
            <select2 id="position" name="position" 
              [data]="position" 
              [width]="370"
              [value]="position_value"
              (valueChanged)="changedPosition($event)"
              required>
            </select2>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div class="buttonOk pull-right">
              <button *ngIf="button" type="button" class="btn btn-success" (click)="getEmployee()">
              <i class="fa fa-thumbs-up"></i> Ok</button>
              <button *ngIf="!button" type="button" class="btn btn-success disabled" style="cursor:not-allowed;">
              <i class="fa fa-thumbs-up"></i> Ok</button>
            </div>
          </div>
        </div>
      </div>

    </ng-container>


    <div class="form-loader" *ngIf="loader">
      <div class="row">
        <div class="loader">
          <div class="loading" >
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-loader" *ngIf="employeesList.length == 0">
      <h5 align="center" *ngIf="!loader && !loader2"><em>"No data available."</em></h5>
    </div>
    
    <div class="form-group"  *ngIf="tableValidate">
        <div class="row">
            <div class="col-md-12">
                <label>Date range:</label>
                <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="tableValidate">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <label><b>Search:</b></label>
            <input type="text" #myInput (keyup)="filterEmpInCheckBox(myInput.value)">
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group" *ngIf="tableValidate">
     	<div class="row">
     		<div class="col-md-12">
          <label><b>Employee Name:</b></label>&nbsp;
          <input type="checkbox" class="cur" id="checkAll" (click)="checkAll()" [checked]="checkAllValidation">
          <label for="checkAll" class="cur"><i>Check All</i></label>

          <ul class="columnList list-unstyled">
            <ng-container *ngFor= "let employee of employeesList;  let i = index" >
              <li *ngIf="employee.show">
                <input class="cur" type="checkbox" (change)="EmployeeCheckbox(i)" [checked]="employee.val" [id]="employee.name">
                <label class="cur" [for]="employee.name">{{employee.name}}</label>
              </li>
            </ng-container>
          </ul>
     		</div>
     	</div>
     </div>


   </div>
   <div class="modal-footer">
    <ng-container *ngIf="employeesList.length != 0">
      <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="!validate">OK</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </ng-container>
   </div>
 </div>
</div>
