<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="generatePayroll" (ngSubmit)="createPayslip()">
        <div class="form-group">
          <label class="control-label" for="Company">Company</label>
          <input type="text" class="form-control" id="Company" placeholder="Enter your Company" formControlName="company" value="">
        </div>
        <div class="form-group">
          <label class="control-label" for="branch">
            Branch</label>
          <input type="text" class="form-control" id="branch" placeholder="Enter Station" formControlName="branch" value="">
        </div>
        <button type="submit" class="btn btn-primary pull-right">Generate Payslip</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
