<div class="loader" *ngIf="isLoading">
  <div class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
</div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Payroll
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/payroll">Payroll</a></li>
      <li class="breadcrumb-item active">Payroll Create</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="payroll box-header">
          </div>
          <div class="box-body">
            <form [formGroup]="createPayrollForm" (ngSubmit)="generatePayroll()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter payroll name" formControlName="name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <label>Select Payroll Period:</label>
                        <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)" *ngIf="!singleDate">
                          <span class="form-control" name="daterange">
                                  {{ mainInput.start | date:'M/dd/y hh:mm:ss' }} - {{ mainInput.end| date:'M/dd/y hh:mm:ss' }}
                              </span>
                          <span class="input-group-btn">
                                  <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                              </span>
                        </div>
                        <div class="input-group" *ngIf="singleDate">
                          <input type="date" id="date" formControlName="date" class="form-control" required/>
                          <span class="input-group-btn">
                              <a type="button" class="btn btn-default" required><i class="glyphicon glyphicon-calendar"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label" for="name">Cutoff Period</label>
                    <select class="form-control" id="runtype" formControlName="cutoff" (change)="payrollPeriodChange($event.target.value)" value="0">
                      <option [selected]="0" value="0">First Cutoff</option>
                      <option value="1">Second Cutoff</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label" for="type">Run Type:</label>
                    <select class="form-control" id="runtype" formControlName="type_of_run" (change)="runtypeChange($event.target.value)" value="0">
                      <option [selected]="0" value="">All</option>
                      <option value="1">Company</option>
                      <option value="2">Department</option>
                      <option value="3">Position</option>
                    </select>
                  </div>
                </div>
                <ng-container>
                  <div class="col-md-4" *ngIf="company">
                    <div class="form-group">
                      <label class="control-label" for="type">Company</label>
                      <select class="form-control" id="company" formControlName="company" #company (change)="getCompany(company.value, $event)">
                        <option *ngFor="let company of company_rec" value="{{company.id}}">
                          {{ company.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4" *ngIf="branch">
                    <div class="form-group">
                      <label class="control-label" for="type">Branch</label>
                      <select class="form-control" id="branch" formControlName="branch" #branch (change)="getBranch(branch.value, $event)" [attr.disabled]="!enableBranch?'':null">
                        <option value="">-none-</option>
                        <option *ngFor="let branch of company_branch_rec" value="{{branch.id}}">
                          {{ branch.branch_name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="row" *ngIf="department || position">
                <div class="col-md-4" *ngIf="department">
                  <div class="form-group">
                    <label class="control-label" for="type">Department</label>
                    <select class="form-control" id="<department></department>" formControlName="department" #department (change)="getDepartment(department.value, $event)" [attr.disabled]="!enableDepartment?'':null">
                      <option *ngFor="let department of department_rec" value="{{department.id}}">
                        {{ department.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="position">
                  <div class="form-group">
                    <label class="control-label" for="type">Position</label>
                    <select class="form-control" id="position" formControlName="position" #position (change)="getPosition(position.value, $event)" [attr.disabled]="!enablePosition?'':null">
                      <option *ngFor="let position of position_rec" value="{{position.id}}">
                        {{ position.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-success pull-right" [disabled]="!createPayrollForm.valid" (click)="getPayrollEmployee()">Review Employee List</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="box">
          <div class="box-header">
            <div class="box-header">
              <h4>
                Employee List For Payroll 
              </h4>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">

                  <div class="row employee-list" *ngFor="let emp of employee_list"> 
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <a (click)="removeEmployeeFromPayrollGeneration(emp.id)"><i class="fa fa-minus-circle"></i></a>
                      {{emp.lastname}}, {{emp.firstname}} : 
                      <ng-container *ngIf="emp.attendance_null != 0"> 
                          <strong>{{ emp.attendance_count }}</strong> 
                          date entry with 
                          <span class="warning">
                            <strong>{{ emp.attendance_null }}</strong> incomplete entry
                          </span>
                      </ng-container>
                      <ng-container *ngIf="emp.attendance_null == 0"> 
                        <a (click)="goAttendance(emp.id)">
                          <strong>{{ emp.attendance_count }}</strong> date entry
                        </a>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <a class="btn btn-warning"  routerLink="/admin/attendance-list-default" target="_blank">Go to Attendance</a>
                  <button type="button" class="btn btn-success" [disabled]="employee_list_for_payroll" (click)="generatePayroll()">Generate Payroll</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
        <div class="box" >
          <div class="box-header">
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
              <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
              <p>{{error_message}}</p>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered hover table-condensed">
                <thead>
                  <tr class="top-head">
                    <th colspan="10"></th>
                    <th colspan="2">Late</th>
                    <th colspan="2">Undertime</th>
                    <th colspan="2">Overtime</th>
                    <th colspan="2">Restday</th>
                    <th colspan="2">OT Restday</th>
                    <th colspan="2">Special Holiday</th>
                    <th colspan="2">OT Special Holiday </th>
                    <th colspan="2">RD Special Holiday </th>
                    <th colspan="2">OT RD Special Holiday </th>
                    <th colspan="2">Regular/Legal Holiday</th>
                    <th colspan="2">OT Regular/Legal Holiday </th>
                    <th colspan="2">RD Regular/Legal Holiday </th>
                    <th colspan="2">OT RD Regular/Legal Holiday </th>
                    <th colspan="2">Double Holiday</th>
                    <th colspan="2">OT Double Holiday </th>
                    <th colspan="2">RD Double Holiday </th>
                    <th colspan="2">OT RD Double Holiday </th>
                    <th colspan="2">Regular Night Diff </th>
                    <th colspan="2">Restday Night Diff </th>
                    <th colspan="2">Special Holiday Night Diff </th>
                    <th colspan="2">RD Special Holiday Night Diff </th>
                    <th colspan="2">Regular Holiday Night Diff </th>
                    <th colspan="2">RD Regular Holiday Night Diff </th>
                    <th colspan="2">Double Holiday Night Diff </th>
                    <th colspan="2">RD Double Holiday Night Diff </th>
                    <th colspan="5"></th>
                    <th colspan="3">Govertment Deduction</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>13th Mo.</th>
                    <th>Ecola</th>
                    <th>Daily Rate</th>
                    <th>No. of Days</th>
                    <th>Allowance</th>
                    <th>Total Allowance</th>
                    <th>Basic Pay</th>
                    <!-- late  -->
                    <th>Mins.</th>
                    <th>Pay</th>
                    <!-- undertime -->
                    <th>Mins.</th>
                    <th>Pay</th>
                    <!-- regular OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- restday  -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- restday OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Special Holiday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Special Holiday OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Special Holiday & Restday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Special Holiday, Restday & OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Regular Holiday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Regular Holiday OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Regular Holiday & Restday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Regular Holiday, Restday & OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Double Holiday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Double Holiday OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Double Holiday & Restday -->
                    <th>Days</th>
                    <th>Pay</th>
                    <!-- Double Holiday, Restday & OT -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Regular Night Diff -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Restday Night Diff  -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Special Holiday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Special Holiday Restday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Regular Holiday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Regular Holiday Restday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Double Holiday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <!-- Double Holiday Restday Night Diff   -->
                    <th>Hrs.</th>
                    <th>Pay</th>
                    <th>Ecola</th>
                    <th>Total Adjustment</th>
                    <th>Total Deduction</th>
                    <th>Total Loan</th>
                    <th>Gross Pay</th>
                    <th>SSS</th>
                    <th>Philhealth</th>
                    <th>Pagibig</th>
                    <th>Net. Pay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payroll of payroll_rec">
                    <td>{{payroll.emp_id}}</td>
                    <td>{{payroll.firstname}}</td>
                    <td>{{payroll.lastname}}</td>
                    <td>{{payroll.thirteen_month | number : '1.2-2'}}</td>
                    <td>{{payroll.cola | number : '1.2-2'}}</td>
                    <td>{{payroll.daily_rate | number : '1.2-2'}}</td>
                    <td>{{payroll.no_of_days}}</td>
                    <td>
                      <a (click)="updateAllowance(payroll.emp_id)">
                        {{payroll.allowance | number : '1.2-2'}}
                      </a>
                    </td>
                    <td>{{payroll.total_allowance | number : '1.2-2'}}</td>
                    <td>{{payroll.ttl_basic_pay | number : '1.2-2'}}</td>
                    <td>{{payroll.total_late | number : '1.2-2'}}</td>
                    <td>({{payroll.late_amount}})</td>
                    <td>{{payroll.total_undertime | number : '1.2-2'}}</td>
                    <td>
                      <ng-container *ngIf="payroll.undertime_rule == 1">{{payroll.undertime_amount | number : '1.2-2' }}</ng-container>
                      <ng-container *ngIf="payroll.undertime_rule != 1">({{payroll.undertime_amount | number : '1.2-2' }})</ng-container>
                    </td>
                    <td>{{payroll.reg_ot}}</td>
                    <td>{{payroll.pay_reg_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.restday}}</td>
                    <td>{{payroll.pay_restday | number : '1.2-2' }}</td>
                    <td>{{payroll.rd_ot}}</td>
                    <td>{{payroll.pay_rd_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol}}</td>
                    <td>{{payroll.pay_special_hol | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol_ot}}</td>
                    <td>{{payroll.pay_special_hol_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol_rd}}</td>
                    <td>{{payroll.pay_special_hol_rd | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol_rd_ot}}</td>
                    <td>{{payroll.pay_special_hol_rd_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol}}</td>
                    <td>{{payroll.pay_legal_hol | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol_ot}}</td>
                    <td>{{payroll.pay_legal_hol_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol_restday}}</td>
                    <td>{{payroll.pay_legal_hol_restday | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol_rd_ot}}</td>
                    <td>{{payroll.pay_legal_hol_rd_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.double_hol}}</td>
                    <td>{{payroll.pay_double_hol | number : '1.2-2' }}</td>
                    <td>{{payroll.dbl_hol_ot}}</td>
                    <td>{{payroll.pay_dbl_hol_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.double_hol_rd}}</td>
                    <td>{{payroll.pay_double_hol_rd | number : '1.2-2' }}</td>
                    <td>{{payroll.dbl_hol_rd_ot}}</td>
                    <td>{{payroll.pay_dbl_hol_rd_ot | number : '1.2-2' }}</td>
                    <td>{{payroll.reg_nd}}</td>
                    <td>{{payroll.pay_reg_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.rd_nd}}</td>
                    <td>{{payroll.pay_rd_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol_nd}}</td>
                    <td>{{payroll.pay_special_hol_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.special_hol_rd_nd}}</td>
                    <td>{{payroll.pay_special_hol_rd_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol_nd}}</td>
                    <td>{{payroll.pay_legal_hol_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.legal_hol_rd_nd}}</td>
                    <td>{{payroll.pay_legal_hol_rd_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.dbl_hol_nd}}</td>
                    <td>{{payroll.pay_dbl_hol_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.dbl_hol_rd_nd}}</td>
                    <td>{{payroll.pay_dbl_hol_rd_nd | number : '1.2-2' }}</td>
                    <td>{{payroll.ecola | number : '1.2-2'}}</td>
                    <td><a (click)="viewAdjustment(payroll.emp_id, 'ADJUSTMENT', payroll.no_of_days)">{{payroll.total_adjustment | number : '1.2-2'}}</a></td>
                    <td><a (click)="viewAdjustment(payroll.emp_id, 'DEDUCTION', payroll.no_of_days)">{{payroll.total_deduction | number : '1.2-2'}}</a></td>
                    <td><a (click)="viewLoan(payroll.emp_id)">{{payroll.total_loan}}</a></td>
                    <td>{{payroll.gross_pay | number : '1.2-2'}}</td>
                    <td>{{payroll.total_sss | number : '1.2-2'}}</td>
                    <td>{{payroll.total_philhealth | number : '1.2-2'}}</td>
                    <td>{{payroll.total_pagibig | number : '1.2-2'}}</td>
                    <td>{{payroll.net_pay | number : '1.2-2'}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th>{{total_thirteen_m | number : '1.2-2' }}</th>
                    <th>{{total_d_cola | number : '1.2-2' }}</th>
                    <th>{{total_d_rate | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{allowance | number : '1.2-2' }}</th>
                    <th>{{total_allowance | number : '1.2-2' }}</th>
                    <th>{{total_basic_pay | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_late | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_undertime | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_reg_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_restday | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_rd_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol_rd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol_rd_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol_restday | number : '1.2-2'}}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol_rd_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_double_hol | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_dbl_hol_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_double_hol_rd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_dbl_hol_rd_ot | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_reg_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_rd_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_special_hol_rd_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_legal_hol_rd_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_dbl_hol_nd | number : '1.2-2' }}</th>
                    <th></th>
                    <th>{{total_pay_dbl_hol_rd_nd | number : '1.2-2' }}</th>
                    <th>{{total_ecola | number : '1.2-2' }}</th>
                    <th>{{total_adjustment | number : '1.2-2' }}</th>
                    <th>{{total_deduction | number : '1.2-2' }}</th>
                    <th>{{total_loan | number : '1.2-2' }}</th>
                    <th>{{total_gross_pay | number : '1.2-2' }}</th>
                    <th>{{total_sss | number : '1.2-2' }}</th>
                    <th>{{total_philhealth | number : '1.2-2' }}</th>
                    <th>{{total_pagibig | number : '1.2-2' }}</th>
                    <th>{{total_net_pay | number : '1.2-2' }}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="row" style="padding-top: 10px;">
              <div class="col-md-12">
                <div class="pull-right">
                  <button type="submit" class="btn btn-warning" [disabled]="!createPayrollForm.valid" (click)="generatePayroll()">Refresh</button>
                  <button type="submit" class="btn btn-success" [disabled]="!isGenerated" (click)="savePayroll()">Save Payroll</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!--  /.content-wrapper -->
