<div class="modal-dialog payroll-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Allowance</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateAllowanceForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="amount">Allowance Amount</label>
          <div class="input-group">
            <span class="input-group-addon">&#8369;</span>
            <input type="text" class="form-control text-right" id="amount" placeholder="Enter Allowance Amount" formControlName="amount" (keypress)="onlyDecimalNumberKey($event)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
