<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Payroll
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active"><a routerLink="/admin/payroll">Payroll</a></li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <button class="btn btn-info pull-left" (click)="generatePayroll()">Generate Payroll</button>
            </div>
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
              <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
              <p>{{error_message}}</p>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover table-condensed" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Payroll Period</th>
                  <th>Type Of Run</th>
                  <th>Prepared By</th>
                  <th>Approved</th>
                  <th>Approved By</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let payroll of payroll_id">
                  <tr (click)="clickRow(payroll.id)">
                    <td>{{payroll.name}}</td>
                    <td>{{payroll.payroll_period}}</td>
                    <td>{{payroll.type_of_run}}</td>
                    <td>{{payroll.prepared_by}}</td>
                    <td>
                      <ng-container *ngIf="payroll.approved == 1">YES</ng-container>
                      <ng-container *ngIf="payroll.approved != 1">NO</ng-container>
                    </td>
                    <td>{{payroll.approved_by}}</td>
                    <td>{{payroll.created_at}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
