.select2 {
  width: 100% !important;
}

.select2-container {
  display: block !important;
  width: 100%;
}

.select2 span {
  display: block !important;
}


/* Important part */

.content-wrapper {
  overflow-x: initial !important
}

.overflow {
  width: auto;
  overflow-x: auto !important;
}

.full-width {
  display: block;
}

.top-head th {
  text-align: center;
}

table.dataTable thead th {
  text-align: center !important;
}


table.dataTable thead th:last-child {}

table.dataTable tbody td,
table.dataTable tfoot th {
  text-align: center !important;
}

.dataTables_length,
#DataTables_Table_0_length,
.top {
  display: block !important;
  width: 100%;
}

th,
td {
  white-space: nowrap;
}

div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}


table {
  text-align: center !important;
}



/*.loading {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5); 
    color: white
}

.isLoading {
    position: absolute; 
    top:38%; 
    left: 50%; 
    font-size: 74pt;
    color: cornflowerblue ;
}*/

.loader {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;
}

.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.payroll.box-header {
  height: 32px;
}


/* payroll create */
.employee-list .fa-minus-circle {
  color: #a94442;
}

.employee-list .warning {
  color: #d44950;
}