<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Department List
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/department-list">Department</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
        <button class="btn btn-info pull-left" (click)="createDepartment()">Add Department</button>        
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
          </div>
          <div class="box-body">
            <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor="let x of department">
                      <td>{{x.name}}</td>
                      <td>{{x.description}}</td>
                      <td>
                          <span class="cur" (click)="editDepartment(x.id)"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
                          <span class="cur" (click)="archive(x.id)"><i class="fa fa-trash-o"></i></span>
                      </td>
                  </tr>
              </tbody>
            </table>

            <!-- <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            </table> -->
          </div>
        </div>
      </div>
    </div>
  </section>