<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-block">
                <ul>
                    <li *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}" style="position:relative; z-index: 10">
                        <a href="javascript:;" [style.color]="event.color.primary">
              {{ event.title }}
            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <!-- <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (eventTimesChanged)="eventDropped($event)">
    </mwl-calendar-month-view> -->
        <mwl-calendar-header [(view)]="view" [(viewDate)]="viewDate">
        </mwl-calendar-header>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="true" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>
