<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
     <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>
     <form [formGroup]="AttendanceForm" (ngSubmit)="createAttendance()">
        <div class="form-group"  *ngIf="multi">
          <label class="control-label" for="employee" >Employee:</label>
          <select2 [data]="employee"
          [options]="options"
           [width]="470"
           [value]="employee_value"
           (valueChanged)="changed($event)"
          required>
          </select2>
        </div>

        <div class="form-group" *ngIf="single">
          <div class="row">
            <div class="col-md-12"> 
            <label class="control-label" for="employee" >Employee:</label>
              <select2 [data]="employee" 
              [width]="470" 
              [value]="employee_value"
              (valueChanged)="changed($event)"  required></select2>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label class="control-label" for="employee" >Location:</label>
              <select2 id="branch" name="branch" 
                [data]="branch" 
                [width]="470"
                [value]="branch_value"
                (valueChanged)="changedBranch($event)" 
                required>
              </select2>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-12" *ngIf="default">
                <label class="control-label" for="date" >Date:</label><br>
                <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
                </div>
            </div>
            <div class="col-md-12" *ngIf="!default">
                <label class="control-label" for="date">Date:</label><br>
                <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                </div>
            </div>
          </div>  
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-12">

              <label class="control-label" for="company" >Schedule (Time In - Time Out | Lunch In - Lunch Out): </label>
              <select2 id="company" name="company" 
                [data]="working_schedule" 
                [width]="470"
                [value]="working_schedule_value"
                (valueChanged)="changedWorkingSchedule($event)" 
                required>
              </select2>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="default">
          <div class="row">
            <div class="col-md-6 pb-30">
                 <label>Start Time:</label>
                 <timepicker [(ngModel)]="start_time" [showMeridian]="ismeridian" formControlName="time_in"></timepicker>
            </div>
            <div class="col-md-6">
                  <label>End Time:</label>
                 <timepicker [(ngModel)]="end_time" [showMeridian]="ismeridian" formControlName="time_out"></timepicker>
            </div>
          </div> 
        </div>
        <div class="form-group hide" *ngIf="default">
          <div class="row">
            <div class="col-md-6">
                 <label>Lunch in:</label>
                 <timepicker [(ngModel)]="lunch_start_time" [showMeridian]="ismeridian" formControlName="lunch_in"></timepicker>
            </div>
            <div class="col-md-6">
                  <label>Lunch Out:</label>
                 <timepicker [(ngModel)]="lunch_end_time" [showMeridian]="ismeridian" formControlName="lunch_out"></timepicker>
            </div>
          </div> 
        </div>

        <ng-container  *ngIf="!default">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Total Days</label>
                <input type="number" min="0" formControlName="number_of_days" class="form-control" [(ngModel)]="number_of_days"/>
              </div>
              <div class="col-md-4">
                <label>Undertime(Minutes)</label>
                <input type="number" min="0" formControlName="late" class="form-control" [(ngModel)]="late"/>
              </div>
              <div class="col-md-4">
                <label>Overtime(Hours)</label>
                <input type="number" min="0" formControlName="overtime" class="form-control" [(ngModel)]="overtime"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label>Night Differential(Hours)</label>
                <input type="number" min="0" formControlName="night_differential" class="form-control" [(ngModel)]="night_differential"/>
              </div>
              <div class="col-md-6">
                <label>RestDay(Minutes)</label>
                <input type="number" min="0" formControlName="restday" class="form-control" [(ngModel)]="restday"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <span class="badge badge-primary cur" (click)="checklistOfHoliday()" *ngIf="holiday.length != 0"><i class="fa fa-calendar"></i>&nbsp; Holiday</span>
              </div>
            </div>
          </div>
        </ng-container>

      <div class="pull-right">
        <button type="button" class="btn btn-default" (click)="close()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="!validate" *ngIf="default">{{button}}</button>
        <button type="button" class="btn btn-primary" [disabled]="!validate" (click)="updateAttendanceNotDefault()" *ngIf="!default">Save</button> </div>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>
