<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()" >&times;</button>
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   </div>
   <div class="modal-body">
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>

     <form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="control-label" for="name">Category :</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" value="{{name}}" [(ngModel)]="name" required>
      </div>
      <div class="row">
      <div class="col-md-4">
      <div class="form-group">
        <label class="control-label" for="is_cat">Type:</label>
          <select2 id="is_cat" name="is_cat" 
          [data]="is_cat" 
          [width]="340"
          [value]="is_cat_value"
          (valueChanged)="changedIsCat($event)" 
          required></select2>
        </div>
      </div>
    </div>
       <div class="form-group">
        <label class="control-label" for="name">Description :</label>
        <input type="text" class="form-control" id="description" placeholder="Enter Description" formControlName="description" value="{{description}}" [(ngModel)]="description" required>
      </div>
      <button type="submit" [disabled]="!Form.valid || !validate" class="btn btn-primary pull-right">{{button}}</button>
      <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
     </form>
   </div>
   <div class="modal-footer">
   </div>
 </div>
</div>