<div class="modal-dialog payroll-modal modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Payroll Adjustment</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <section class="content">
        <div class="row">
          <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
              <div class="box-header">
                <!-- Single button -->
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Adjustment & Deduction<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a (click)="openAddModalEmployee()">By Employee</a></li>
                  </ul>
                </div> -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table datatable class="row-border hover" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Adjustment</th>
                      <th>Occurance</th>
                      <th>Type</th>
                      <th>Taxable</th>
                      <th>Billable</th>
                      <th>Amount</th>
                      <th>Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let adj of ad_rec">
                      <tr (click)="openEditModal(adj.id, adj.adjustment_type)" [class.alert-deduction]="checkAdjustmentType(adj.adjustment_type)" [class.alert-adjustment]="!checkAdjustmentType(adj.adjustment_type)">
                        <td>{{adj.firstname}}</td>
                        <td>{{adj.lastname}}</td>
                        <td>{{adj.display_name}}</td>
                        <td>{{adj.type}}</td>
                        <td>{{adj.adjustment_type}}</td>
                        <td>{{adj.taxable}}</td>
                        <td>{{adj.billable}}</td>
                        <td>{{adj.adjustment_amount}}</td>
                        <td>{{adj.created_at}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
