<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateAdjustmentForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Employee ID</label>
          <input type="text" class="form-control" id="employee_id" placeholder="" formControlName="employee_id" value="{{adjustment.employee_id}}" [(ngModel)]="adjustment.employee_id" [readonly]="!employee_id">
        </div>
        <div class="form-group">
          <label class="control-label" for="adjustment_type">Adjustment Type</label>
          <select class="form-control" id="adjustment_type" formControlName="adjustment_type" value="{{adjustment.adjustment_type}}" [(ngModel)]="adjustment.adjustment_type" #adjust (change)="getAdjustType(adjust.value, $event)">
            <option *ngFor="let adjust_type of adjust_type_rec" value="{{adjust_type.id}}">
              {{ adjust_type.display_name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Occurence</label>
          <select class="form-control" id="type" formControlName="type" formControlName="type" value="{{adjustment.type}}">
            <option value="REOCCURING">
              REOCCURING
            </option>
            <option value="ONCE">
              ONCE
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="adjustment_amount">Adjustment Amount</label>
          <div class="input-group">
            <span class="input-group-addon">&#8369;</span>
            <input type="text" class="form-control text-right" id="adjustment_amount" placeholder="Enter Adjustment Amount" formControlName="adjustment_amount" (keypress)="onlyDecimalNumberKey($event)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="date">Date:</label>
          <br>
          <div class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span> {{ date_in | date:'M/dd/y' }}</span> <b class="caret"></b>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
        <button class="btn btn-default" (click)="archiveAdjustment($event)"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
