table {
	width: 100% !important;
}

@media (min-width: 768px) {
	.payroll-modal {
	    width: 900px !important;
	    margin: 30px auto;
	}
}


.alert-deduction {
	color: #a94442;
    border-color: #ebccd1;
}

.alert-adjustment {
	color: #3c763d;
    border-color: #d6e9c6;
}


.columnList {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* PURE CSS solution for setting height of modal window according to screen size using CSS calc */
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}