<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createAdjustmentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Select Company</label>
          <select class="form-control" id="company" formControlName="company" #company (change)="getCompany(company.value, $event)">
            <option *ngFor="let company of company_rec" value="{{company.name}}">
              {{ company.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="adjustment_type">Adjustment Type</label>
          <select class="form-control" id="adjustment_type" formControlName="adjustment_type" #adjust (change)="getAdjustType(adjust.value, $event)">
            <option *ngFor="let adjust_type of adjust_type_rec" value="{{adjust_type.id}}">
              {{ adjust_type.display_name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Type</label>
          <select class="form-control" id="description" readonly>
            <option value="{{adjustment_type}}">{{adjustment_type}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">
            Occurence</label>
          <select class="form-control" id="type" formControlName="type">
            <option value="REOCCURING">
              REOCCURING
            </option>
            <option value="ONCE">
              ONCE
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="billable">
            Billable</label>
          <select class="form-control" id="billable" formControlName="billable">
            <option value="1">
              Yes
            </option>
            <option value="0">
              No
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="adjustment_amount">Adjustment Amount</label>
          <div class="input-group">
            <span class="input-group-addon">&#8369;</span>
            <input type="text" class="form-control text-right" id="adjustment_amount" placeholder="Enter Adjustment Amount" formControlName="adjustment_amount" (keypress)="onlyDecimalNumberKey($event)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="date">Date  :</label>
          <br>
          <div class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span> {{ date_in | date:'M/dd/y' }}</span> <b class="caret"></b>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!createAdjustmentForm.valid">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
