<div class="content-wrapper">
  <section class="content-header">
    <h1>
    Adjustment & Deduction List
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/adjustment-list">Adjustment & Deduction</a></li>
      <li class="breadcrumb-item active">List</li>
    </ol>
  
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <!-- Single button -->
            <div class="dropdown show">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Adjustments & Deductions 
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               <a class="dropdown-item" (click)="openAddModalCompany()">By Company</a>
               <a class="dropdown-item" (click)="openAddModalDepartment()">By Department</a>
               <a class="dropdown-item" (click)="openAddModalEmployee()">By Employee</a>
               <a class="dropdown-item" (click)="openAddModalPosition()">By Position</a>
              </div>
            </div>
          </div>
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Adjustment</th>
                  <th>Occurance</th>
                  <th>Type</th>
                  <th>Billable</th>
                  <th>Frequency</th>
                  <th>Amount</th>
                  <th>Date File</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let adj of ad_rec">
                  <tr (click)="clickRow(adj.id)" [class.alert-deduction]="checkAdjustmentType(adj.adjustment_type)" [class.alert-adjustment]="!checkAdjustmentType(adj.adjustment_type)">
                    <td>{{adj.firstname}}</td>
                    <td>{{adj.lastname}}</td>
                    <td>{{adj.display_name}}</td>
                    <td>{{adj.type}}</td>
                    <td>{{adj.adjustment_type}}</td>
                    <td>{{adj.billable}}</td>
                    <td>{{adj.frequency}}</td>
                    <td>{{adj.adjustment_amount | number : '1.2-2' }}</td>
                    <td>{{adj.date_file}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
