<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   	 <button type="button" class="close" (click)="close()" >&times;</button>
   </div>
   <div class="modal-body">
     <!-- success_title -->
     <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i>{{success_title}}</h4>
        <p>{{success_message}}</p>
     </div>
     <!-- error message -->
     <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i>{{error_title}}</h4>
        <p>{{error_message}}</p>
     </div>

    <ng-container *ngIf="user">
      <ng-container *ngFor= "let x of data;">
        <p>You file a <strong>{{x.total}} day/days leave</strong> but you only have <strong>{{x.credit}} leave credit.</strong></p>
        <p>Do still want to create this request?</p>
        <div class="form-group">
	      <div class="row">
	        <div class="col-md-12 overflow">
		        <table class="table table-hover table-bordered text-center">
		            <thead>
		              <tr class="text-area-color text-center text-white">
		                <th>Paid Leave</th>
		                <th>Unpaid Leave</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td>
		                  {{x.paid}}
		                </td>
		                <td>
		                  {{x.unpaid}}
		                </td>
		              </tr>
		            </tbody>
		        </table>
	        </div>
	      </div>
	    </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!user">
	    <p>Employee doesn't have enough leave credits.</p>
	    <div class="form-group">
	      <div class="row">
	        <div class="col-md-12 overflow">
	          <table class="table table-hover table-bordered text-center">
	            <thead>
	              <tr class="text-area-color text-center text-white">
	                <th>Name</th>
	                <th>Total Day Leave</th>
	                <th>Credit</th>
	                <th>Paid Leave</th>
	                <th>Unpaid Leave</th>
	                <th>Option</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr *ngFor= "let x of data;  let i = index">
	                <td>
	                  {{x.name}}
	                </td>
	                <td>
	                  {{x.total}}
	                </td>
	                <td>
	                  {{x.credit}}
	                </td>
	                <td>
	                  {{x.paid}}
	                </td>
	                <td>
	                  {{x.unpaid}}
	                </td>
	                <td>
	                  <span class="badge badge-success cur"  (click)="action(x.id,i,x.paid)"><i class="fa fa-send"></i>&nbsp; Send</span>
	                </td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </div>
	    </div>
    </ng-container>

   </div>
   <div class="modal-footer">
	   	<button type="button" class="btn btn-primary" (click)="submit()" *ngIf="user">OK</button>
	   	<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
   </div>
 </div>
</div>
