  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Action Center
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/action-center">Action Center</a></li>
      <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
               <div class="form-group">
                <label class="control-label">Choose Filter:</label>
                <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                  <option selected="selected" value =1 >All</option>
                  <option selected="selected" value =5 >By Employee</option>
                  <option selected="selected" value =2 >By Status</option>
                  <option selected="selected" value =3 >By Date</option>
                  <option selected="selected" value =4 >By Company</option>
                  <option selected="selected" value =6 >By Type</option>
                  <option selected="selected" value =0 >None</option>
                </select>
              </div>
            </div>

            <div class="col-md-4" *ngIf="byEmployee">
              <div class="form-group">
                <label class="control-label" for="employee" >Employee:</label>
                <select2 [data]="employee"
                [options]="options"
                [width]="340"
                [value]="employee_value"
                (valueChanged)="changedEmployee($event)"
                required>
              </select2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" *ngIf="byType">
              <div class="form-group">
              <label class="control-label" for="status">Type:</label>
                <select2 id="status" name="status" 
                [data]="type" 
                [options]="options"
                [width]="340"
                [value]="type_value"
                (valueChanged)="changedType($event)" 
                required></select2>
              </div>
            </div>

          </div>
          <div class="col-md-4" *ngIf="byStatus">
            <div class="form-group">
            <label class="control-label" for="status">Status Filter:</label>
              <select2 id="status" name="status" [data]="status" 
              [options]="options"
              [width]="340"
              [value]="status_value"
              (valueChanged)="changedStatus($event)" 
              required></select2>
            </div>
          </div>

          <div class="col-md-4" *ngIf="byDate">
            <div class="form-group">
            <label class="control-label" >Date Range:</label>
              <div class="input-group" daterangepicker (selected)="filterDate($event, mainInput)">
                <span class="form-control uneditable-input"  name="daterange">
                  {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}
                </span>
                <span class="input-group-btn">
                  <a type="button" class="btn btn-default" required><i class="fa fa-calendar"></i></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="byCompany">
            <div class="form-group">
            <label class="control-label" for="company">Company:</label>
              <select2 id="company" name="company" [data]="company" 
              [options]="options"
              [width]="340"
              [value]="company_value"
              (valueChanged)="changedCompany($event)" 
              required></select2>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table datatable [dtTrigger]="dtTrigger" class="row-border hover align-center" [dtOptions]="dtOptions">
              <thead>
                  <tr>
                      <th>Date Filed</th>
                      <th>Employee Name</th>
                      <th>Application Type</th>
                      <th width="30%">Reason</th>
                      <th width="20%">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let x of request">
                      <td>{{x.date_applied}}</td>
                      <td>{{x.name}}</td>
                      <th>{{x.type}}</th>
                      <td>{{x.reason}}</td>
                      <td *ngIf="x.status == 'REJECTED'">
                        <span class="badge badge-danger">
                        {{x.status}}
                        </span>
                        <span class="badge bg-aqua cur" (click)="viewDetails(x.id,x.url,x.type,x.status)"><i class="fa fa-info"></i>&nbsp; Info</span>
                      </td>
                      <td *ngIf="x.status == 'APPROVED'">
                        <span class="badge badge-success">
                        {{x.status}}
                        </span>
                        <span class="badge bg-aqua cur" (click)="viewDetails(x.id,x.url,x.type,x.status)"><i class="fa fa-info"></i>&nbsp; Info</span>
                      </td>
                      <td *ngIf="x.status == 'CANCELLED'">
                        <span class="badge bg-teal">
                        {{x.status}}
                        </span>
                        <span class="badge bg-aqua cur" (click)="viewDetails(x.id,x.url,x.type,x.status)"><i class="fa fa-info"></i>&nbsp; Info</span>
                      </td>
                      <td *ngIf="x.status == 'PENDING'">
                          <span class="badge badge-success cur" (click)="approved(x.id,x.url,x.type)"><i class="fa fa-check"></i>&nbsp; Approve</span>&nbsp;&nbsp;
                          <span class="badge badge-danger cur" (click)="rejected(x.id,x.url,x.type)"><i class="fa fa-remove"></i>&nbsp; Reject</span>&nbsp;&nbsp;
                          <span class="badge bg-aqua cur" (click)="viewDetails(x.id,x.url,x.type,x.status)"><i class="fa fa-info"></i>&nbsp; Info</span>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->



