<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">{{title || 'Confirm'}}</h4>
			<button type="button" class="close" (click)="close()" >&times;</button>
		</div>
		<div class="modal-body">
		<!-- success_title -->
		<div class="alert alert-success alert-dismissible" *ngIf="success_title">
			<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
			<p>{{success_message}}</p>
		</div>
		<!-- error message -->
		<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
			<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
			<p>{{error_message}}</p>
		</div>

		<ng-container *ngIf="!logs">
			<form [formGroup]="remarksForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<div class="row">
	            		<div class="col-md-12"> 
							<label for="name">Remarks:</label><br>
							<textarea class="form-control" id="remarks" placeholder="Enter Reason ..." formControlName="remarks" style="height: 120px" required></textarea>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-danger pull-right" [disabled]="!remarksForm.valid || !validate">{{button}}</button>
	   			<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
			</form>
		</ng-container>

		<ng-container *ngIf="logs">
			<form [formGroup]="logsRemarksForm" (ngSubmit)="onSubmitLogs()">
				<div class="form-group">
					<div class="row">
	            		<div class="col-md-12"> 
							<label for="name">{{message}}</label><br>
							<textarea class="form-control" id="remarks" placeholder="Enter Reason ..." formControlName="remarks" style="height: 120px" required></textarea>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary pull-right" [disabled]="!logsRemarksForm.valid || !validate">Save</button>
	   			<button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
			</form>
		</ng-container>

		</div>
		<div class="modal-footer hide">
		</div>
	</div>
</div>
