  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Attendance List
      </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/attendance-list-default">Attendance</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-10 col-lg-11 col-xs-11">
          <p>
              <i>
                  <b>Info:</b> 
                  Please download first the form to be fill up for the records of the attendances.
              </i>
          </p>
          <!-- <button type="button" class="btn btn-primary cur" (click)="downloadAttendanceForm()"><i class="fa fa-download"></i> Download</button>&nbsp; -->
          <button type="button" class="btn btn-success cur" (click)="importModal()"><i class="fa fa-upload"></i> Import</button>&nbsp;
          <button type="button" class="btn btn-info cur" routerLink="../attendance-create"><i class="fa fa-plus"></i> Add Attendance</button>&nbsp;
          <!-- <button type="button" class="btn bg-olive cur" (click)="bioManualUpload()"><i class="fa fa-cloud-upload"></i>&nbsp;Biometrics</button> -->
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-lg-12 col-lg-12">
          <div class="box">
            <div class="box-header">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                  <label class="control-label">Choose Filter:</label>
                    <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                      <option selected="selected" value =1 >All</option>
                      <option selected="selected" value =5 >By Employee</option>
                      <option selected="selected" value =2 >By Type</option>
                      <option selected="selected" value =3 >By Date</option>
                      <option selected="selected" value =4 >By Company</option>
                      <option selected="selected" value =0 >None</option>
                    </select>
                  </div>

                  <div class="col-lg-4" *ngIf="byDate">
                    <label>Date range:</label>
                      <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                      </div>
                  </div>

                  <div class="col-lg-4" *ngIf="byEmployee">
                    <label class="control-label" for="employee" >Employee:</label><br>
                    <select2 [data]="employee"
                    [options]="options"
                    [width]="336"
                    [value]="employee_value"
                    (valueChanged)="changedEmployee($event)"
                    required>
                  </select2>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4" *ngIf="byStatus">
                    <label for="status">Type:</label><br>
                    <select2 id="status" name="status" 
                    [data]="type" 
                    [options]="options"
                    [width]="336"
                    [value]="type_value"
                    (valueChanged)="changedType($event)" 
                    required>
                      
                    </select2>
                  </div>

                  <div class="col-lg-4" *ngIf="byCompany">
                    <label for="company">Company:</label><br>
                    <select2 id="company" name="company" 
                    [data]="company" 
                    [options]="options"
                    [width]="336"
                    [value]="company_value"
                    (valueChanged)="changedCompany($event)" 
                    required>
                    </select2>
                  </div>
                </div>
              </div>
          </div>
            <!-- /.box-header -->
          <div class="table-responsive">
            <div class="box-body">
              <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover align-center">
                <thead>
                  <tr>
                    <th>Employee Name</th>
                    <th>Company</th>
                    <th>Branch</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Late</th>
                    <th>Overtime</th>
                    <th width="15%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of att">
                    <td>{{x.name}}</td>
                    <td>{{x.company}}</td>
                    <td>{{x.branch}}</td>
                    <td>{{x.start_date}}</td>
                    <td>{{x.end_date}}</td>
                    <td>{{x.late}}</td>
                    <td>{{x.overtime}}</td>
                    <td>
                      <span class="badge badge-primary cur" (click)="editAttendance(x.id,x.employee_id)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
                      <span class="badge badge-danger cur" (click)="archiveAttendance(x.id)"><i class="fa fa-remove"></i>&nbsp; Delete</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->
