  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Official Business List
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/official-business-list">Official Business</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-10 col-md-11 col-xs-11">
          <button class="btn btn-info pull-left" (click)="createOfficialBusiness()" *ngIf="btnCreate">Add Official Business</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">
          <div class="box">
            <div class="box-header">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                  <label class="control-label">Choose Filter:</label>
                    <select class="form-control" #t id="filter" name="filter" (change)="choiceFilter(t.value)">
                      <option selected="selected" value =1 >All</option>
                      <option selected="selected" value =3 >By Date</option>
                      <option selected="selected" value =5 >By Employee</option>
                      <option selected="selected" value =2 >By Status</option>
                      <option selected="selected" value =4 >By Company</option>
                      <option selected="selected" value =0 >None</option>
                    </select>
                  </div>

                  <div class="col-md-4" *ngIf="byDate">
                    <label>Date range:</label>
                    <div id="reportrange" class="pickerdate" daterangepicker (selected)="filterDate($event, mainInput)">
                      <i class="fa fa-calendar"></i>&nbsp;
                      <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                    </div>
                  </div>

                  <div class="col-md-4" *ngIf="byEmployee">
                    <label class="control-label" for="employee" >Employee:</label><br>
                    <select2 [data]="employee"
                    [options]="options"
                    [width]="336"
                    [value]="employee_value"
                    (valueChanged)="changedEmployee($event)"
                    required>
                  </select2>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-4" *ngIf="byStatus">
                  <label for="status">Status:</label><br>
                  <select2 id="status" name="status" [data]="status" 
                  [options]="options"
                  [width]="336"
                  [value]="status_value"
                  (valueChanged)="changedStatus($event)" 
                  required></select2>
                </div>

                <div class="col-md-4" *ngIf="byCompany">
                  <label for="company">Company:</label><br>
                  <select2 id="company" name="company" [data]="company" 
                  [options]="options"
                  [width]="336"
                  [value]="company_value"
                  (valueChanged)="changedCompany($event)" 
                  required></select2>
                </div>
              </div>
            </div>
          </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table datatable [dtTrigger]="dtTrigger" class="row-border hover align-center">
                <thead>
                  <tr>
                    <th>Date Filed</th>
                    <th>Employee Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <!-- <th>Type</th> -->
                    <th>Remarks</th>
                    <th width="20%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let x of ob" class="cur" (dblclick)="viewDetails(x.id,x.status)">
                    <td>{{x.date | date }}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.start_date}}</td>
                    <td>{{x.end_date}}</td>
                    <!-- <td>{{x.type}}</td> -->
                    <td *ngIf="x.final_remarks != null">{{x.final_remarks}}...</td>
                    <td *ngIf="x.final_remarks == null">{{x.reason}}...</td>
                    <td *ngIf="x.status == 'REJECTED'"><span class="badge badge-danger">{{x.status}}</span></td>
                    <td *ngIf="x.status == 'APPROVED'"><span class="badge badge-success">{{x.status}}</span></td>
                    <td *ngIf="x.status == 'CANCELLED'"><span class="badge bg-teal">{{x.status}}</span></td>
                    <td *ngIf="x.status == 'PENDING'">
                       <span class="badge badge-primary cur" *ngIf="btnEdit" (click)="editOB(x.id,x.emp_id)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
                      <ng-container *ngIf="btnApproved">
                         <span class="badge badge-success"  (click)="approvedOB(x.id)"><i class="fa fa-check"></i>&nbsp; Approve</span>&nbsp;&nbsp;
                          <span class="badge badge-danger" (click)="rejectedOB(x.id)"><i class="fa fa-remove"></i>&nbsp; Reject</span>
                      </ng-container>

                      <ng-container *ngIf="btnAction">
                        <strong>{{x.status}}</strong>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->
