<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Menu List
  </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/menu-list">Menu</a></li>
      <li class="active">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!--   <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
         <a class="btn btn-info pull-left" (click)="openAddModal()">Add Permission</a>
      </div>
  </div> -->
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <button class="btn btn-info pull-left" (click)="openAddModal()">Add Menu</button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <!-- [dtOptions]="dtOptions" -->
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
