<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateBillingRateForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="salary">Salary</label>
          <input type="text" class="form-control" id="salary" placeholder="Enter salary" formControlName="salary" value="{{billingrate.salary}}" [(ngModel)]="billingrate.salary">
        </div>
        <div class="form-group">
          <label class="control-label" for="billing_rate">Billing Rate</label>
          <input type="text" class="form-control" id="billing_rate" placeholder="Enter billing rate" formControlName="billing_rate" value="{{billingrate.billing_rate}}" [(ngModel)]="billingrate.billing_rate">
        </div>
        <div class="form-group">
          <ul class="list-inline pull-right">
            <li>
              <button type="button" class="btn btn-danger" href="#" (click)="archivePermission($event)"> Archive </button>
            </li>
            <li>
              <button type="submit" class="btn btn-primary" data-dismiss="modal-dialog" [disabled]="!updateBillingRateForm.valid">Update</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
