<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createBillingRateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="salary">Salary</label>
          <input type="text" class="form-control" id="salary" placeholder="Enter salary rate" formControlName="salary">
        </div>
        <div class="form-group">
          <label class="control-label" for="billing_rate">Billing Rate </label>
          <input type="text" class="form-control" id="billing_rate" placeholder="Enter billing rate" formControlName="billing_rate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
