<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Billing Rate List
  </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/billing-rate-list">Billing Rate</a></li>
      <li class="active">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!--   <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
         <a class="btn btn-info pull-left" (click)="openAddModal()">Add Permission</a>
      </div>
  </div> -->
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <a class="btn btn-primary pull-left" (click)="openAddModal()">Add Billing Rate</a>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Salary</th>
                  <th>Billing Rate</th>

                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let bill of ad_bill">
                  <tr (click)="clickRow(bill.id)">
                    <td>{{bill.salary}}</td>
                    <td>{{bill.billing_rate}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
