<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
         Company List
      </h1>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="breadcrumb-item"><a routerLink="/admin/company-list">Company</a></li>
         <li class="breadcrumb-item active" aria-current="page">List</li>
      </ol>
   </section>
   <section class="content">
      <div class="row">
         <div class="col-lg-10 col-md-11 col-xs-11">
            <button class="btn btn-info pull-left" (click)="addModal()">Add Company</button>
         </div>
      </div><br/>
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
               </div>
               <div class="box-body">
                 <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Address</th>
                           <th>Email Address</th>
                           <th>Phone Number</th>
                           <th>Contact Person</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let x of com">
                           <td>{{x.name}}</td>
                           <td>{{x.address}}</td>
                           <td>{{x.email}}</td>
                           <td>{{x.phone_number}}</td>
                           <td>{{x.contact_person}}</td>
                           <td>
                              <span class="cur" (click)="editCompany(x.id)"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
                              <span class="cur" (click)="archiveCompany(x.id)"><i class="fa fa-trash-o"></i></span>
                          </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>