<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Edit Company Policy
        <small>Update of policy of Company</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../company-policy">Company List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Company Policy</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" *ngIf="message_success">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_title }}</h4> {{ message_success }}
                        </div>
                        <div class="alert alert-danger alert-dismissible" *ngIf="message_error">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_title }}</h4> {{ message_error }}
                        </div>
                        <small>Field with (*) are required fields.</small>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_company-name">*Company Name:</label>
                                <input disabled type="text" id="company-name" class="form-control" placeholder="Company Name" value="{{company.name}}" />
                            </div>
                        </div>
                        <br/>
                        <form #form_cp="ngForm" (ngSubmit)="UpdateCompanyPolicies(form_cp.value, form_cp.valid)" novalidate>
                            <h4 class="box-title">Employee Required Government Fields</h4>
                            <small>These fields are shown on the employee forms.</small>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <th>Field Name</th>
                                        <th>Process</th>
                                        <th class="th-100-px">Default Value</th>
                                        <th class="th-100-px">Use default value?</th>
                                        <th>First Cutoff</th>
                                        <th>Second Cutoff</th>
                                        <th>Days Minimum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let government_field of form_government_fields; let company_government_index = index">
                                        <td>
                                            <input type="checkbox" name="company_government_field[{{company_government_index}}][active]" [(ngModel)]="company_government_inputs.active[company_government_index]" [attr.checked]="(government_field.active == 1) ? true : ''" value="{{ (government_field.active == 1) ? 1 : 0}}" />
                                            <input type="hidden" name="company_government_field[{{company_government_index}}][id]" [(ngModel)]="company_government_inputs.id[company_government_index]" value="{{government_field.id}}" />
                                            <input type="hidden" name="company_government_field[{{company_government_index}}][code]" [(ngModel)]="company_government_inputs.code[company_government_index]" value="{{government_field.code}}" />
                                        </td>
                                        <td>
                                            {{government_field.code}}
                                        </td>
                                        <td>
                                            <select required class="form-control" name="company_government_field[{{company_government_index}}][tax_term]" [(ngModel)]="company_government_inputs.tax_term[company_government_index]" (change)="validateFieldRequirements($event.target.value, company_government_index)">
                                                <option *ngFor="let government_process of form_government_field_terms" value="{{government_process.code}}" [attr.selected]="(government_process.code == government_field.tax_term) ? 'true' : ''">
                                                    {{government_process.label}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="company_government_field[{{company_government_index}}][default_value]" [(ngModel)]="company_government_inputs.default_value[company_government_index]" />
                                        </td>
                                        <td>
                                            <input type="checkbox" name="company_government_field[{{company_government_index}}][is_default]" value="1" [(ngModel)]="company_government_inputs.is_default[company_government_index]" [attr.checked]="(company_government_inputs.is_default[company_government_index] == 1) ? true : ''" />
                                        </td>
                                        <td>
                                            <input *ngIf="company_government_inputs.tax_term[company_government_index] == 'DAILY'" type="checkbox" name="company_government_field[{{company_government_index}}][first_cutoff]" value="1" [(ngModel)]="company_government_inputs.first_cutoff[company_government_index]" [attr.checked]="(company_government_inputs.first_cutoff[company_government_index] == 1) ? true : '' " />
                                            <input *ngIf="company_government_inputs.tax_term[company_government_index] == 'MONTHLY'" type="checkbox" name="company_government_field[{{company_government_index}}][first_cutoff]" value="1" (click)="changeOptionGovernmentField(company_government_index, 'second_cutoff')" [(ngModel)]="company_government_inputs.first_cutoff[company_government_index]" [attr.checked]="(company_government_inputs.first_cutoff[company_government_index] == 1) ? true : '' " />
                                        </td>
                                        <td>
                                            <input *ngIf="company_government_inputs.tax_term[company_government_index] == 'DAILY'" type="checkbox" name="company_government_field[{{company_government_index}}][second_cutoff]" [(ngModel)]="company_government_inputs.second_cutoff[company_government_index]" [attr.checked]="(company_government_inputs.second_cutoff[company_government_index] == 1) ? true : '' " />
                                            <input *ngIf="company_government_inputs.tax_term[company_government_index] == 'MONTHLY'" type="checkbox" name="company_government_field[{{company_government_index}}][second_cutoff]" value="1" (click)="changeOptionGovernmentField(company_government_index, 'first_cutoff')" [(ngModel)]="company_government_inputs.second_cutoff[company_government_index]" [attr.checked]="(company_government_inputs.second_cutoff[company_government_index] == 1) ? true : '' " />
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="company_government_field[{{company_government_index}}][min_days]" [(ngModel)]="company_government_inputs.min_days[company_government_index]" value="{{government_field.min_days}}" (readonly)="company_government_inputs.tax_term[company_government_index] == 'DAILY' ? 'true' : null" [attr.disabled]="company_government_inputs.tax_term[company_government_index] == 'MONTHLY' ? 'true' : null" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="box-title hide">Company Cutoff Payroll Policy</h4>
                            <!-- <p>Help:</p>
                            <ul>
                                <li>The records below serves as the policies and rules for this company.(eg. Benefits, Memo, Violations & etc.)</li>
                            </ul> -->
                            <table class="table table-bordered hide">
                                <thead>
                                    <tr>
                                        <th>1st Cutoff (Date of the month)</th>
                                        <th>2nd Cutoff (Date of the month)</th>
                                        <th>Number of Days before Computation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <small>From:</small>
                                            <select required required class="form-control" name="company_cutoff_date[first_cutoff_first_day]" [(ngModel)]="company_cutoff_date.first_cutoff_first_date">
                                                <option *ngFor="let date_form_fc of form_select_date_options" value="{{ date_form_fc.index }}" [attr.selected]="company_cutoff_date.first_cutoff_first_date == date_form_fc.index ? 'true' : null">{{ date_form_fc.label }}</option>
                                            </select>
                                            <small>To:</small>
                                            <select required required class="form-control" name="company_cutoff_date[first_cutoff_second_day]" [(ngModel)]="company_cutoff_date.first_cutoff_second_date">
                                                <option *ngFor="let date_form_fc of form_select_date_options" value="{{ date_form_fc.index }}">{{ date_form_fc.label }}</option>
                                            </select>
                                            <!-- <input type="number" class="form-control" name="company_cutoff_date[first_cutoff_date]" [(ngModel)]="company_cutoff_date.first_cutoff_date" value="{{company_cutoff_date.first_cutoff_date}}" min="1" max="31"/> -->
                                        </td>
                                        <td>
                                            <small>From:</small>
                                            <select required required class="form-control" name="company_cutoff_date[second_cutoff_first_day]" [(ngModel)]="company_cutoff_date.second_cutoff_first_date">
                                                <option *ngFor="let date_form_sc of form_select_date_options" value="{{ date_form_sc.index }}">{{ date_form_sc.label }}</option>
                                            </select>
                                            <small>To:</small>
                                            <select required required class="form-control" name="company_cutoff_date[second_cutoff_second_day]" [(ngModel)]="company_cutoff_date.second_cutoff_second_date">
                                                <option *ngFor="let date_form_sc of form_select_date_options" value="{{ date_form_sc.index }}">{{ date_form_sc.label }}</option>
                                            </select>
                                            <!-- <input type="number" name="company_cutoff_date[second_cutoff_date]" [(ngModel)]="company_cutoff_date.second_cutoff_date" value="{{company_cutoff_date.second_cutoff_date}}" class="form-control" min="1" max="31"/> -->
                                        </td>
                                        <td>
                                            <input type="number" name="company_cutoff_date[days_before_notif]" [(ngModel)]="company_cutoff_date.days_before_notif" value="{{company_cutoff_date.days_before_notif}}" class="form-control" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="box-title">Payroll Computation Settings</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Holiday:</label>
                                    <select required class="form-control" name="holiday_rule" [(ngModel)]="company.holiday_rule">
                                        <option *ngFor="let holiday_yes_no of form_hd_yn" [attr.selected]="(company.holiday_rule == holiday_yes_no.value) ? true : null" value="{{holiday_yes_no.value}}">
                                            {{holiday_yes_no.label}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Overtime:</label>
                                    <select required class="form-control" name="overtime_rule" [(ngModel)]="company.overtime_rule">
                                        <option *ngFor="let overtime_yes_no of form_ot_yn" value="{{ overtime_yes_no.value }}" [attr.selected]="(company.overtime_rule == overtime_yes_no.value) ? true : null">{{ overtime_yes_no.label }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Night Shift:</label>
                                    <select required class="form-control" name="night_shift" [(ngModel)]="company.night_shift">
                                        <option *ngFor="let nightshift_yes_no of form_ns_yn" value="{{ nightshift_yes_no.value }}" [attr.selected]="(company.night_shift == nightshift_yes_no.value) ? true : null">{{ nightshift_yes_no.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Include Allowance in Holiday:</label>
                                    <select class="form-control" name="holiday_allowance" [(ngModel)]="company.holiday_allowance">
                                        <option *ngFor="let yes_no of form_de_yn" value="{{yes_no.value}}" [attr.selected]="(yes_no.value == company.holiday_allowance) ? true : null">{{yes_no.label}}</option>
                                    </select>
                                    
                                </div>
                                <div class="col-md-4">
                                    <label>Include Allowance in Over Time:</label>
                                    <select class="form-control" name="overtime_allowance" [(ngModel)]="company.overtime_allowance">
                                        <option *ngFor="let yes_no of form_de_yn" value="{{yes_no.value}}" [attr.selected]="(yes_no.value == company.overtime_allowance) ? true : null">{{yes_no.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label>Special Undertime Rule:</label>
                                    <select required class="form-control" name="undertime_rule" [(ngModel)]="company.undertime_rule">
                                        <option *ngFor="let yes_no of form_ut_yn" [attr.selected]="(yes_no.value == company.undertime_rule) ? true : null" value="{{yes_no.value}}">{{yes_no.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 hide">
                                    <label>Late per. Time Unit (Yes - Hour / No - Min.):</label>
                                    <select class="form-control" name="late_per_hour" [(ngModel)]="company_policy.late_per_hour" >
                                        <option *ngFor="let yes_no of form_de_yn" [attr.selected]="(company.late_per_hour == yes_no.value) ? true : null" value="{{yes_no.value}}">{{yes_no.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Company Trainee Rate (Default):</label>
                                    <input type="number" class="form-control" name="default_trainee_rate" [(ngModel)]="company.default_trainee_rate" />
                                </div>
                            </div>
                            <br/>
                            <h4 class="box-title">Attendance</h4>
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <label>Use Attendance By Time?</label>
                                    <select class="form-control" name="attendance_default" [(ngModel)]="company_policy.attendance_default">
                                        <option *ngFor="let def_yn of form_de_yn" [attr.selected]="(company.attendance_default == def_yn.value) ? true : null" value="{{def_yn.value}}">{{def_yn.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Late Convertion</label>
                                    <select class="form-control" name="late_convertion" [(ngModel)]="company_policy.late_convertion">
                                        <option *ngFor="let yes_no of form_de_yn" [attr.selected]="(company.late_convertion == yes_no.value) ? true : null" value="{{yes_no.value}}">{{yes_no.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Fixed Halfday</label>
                                    <select class="form-control" name="fixed_halfday" [(ngModel)]="company_policy.fixed_halfday">
                                        <option *ngFor="let yes_no of form_de_yn" [attr.selected]="(company.late_convertion == yes_no.value) ? true : null" value="{{yes_no.value}}">{{yes_no.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Flexible Lunch-In</label>
                                    <select class="form-control" name="flexi_late" [(ngModel)]="company_policy.flexi_late" >
                                        <option *ngFor="let yes_no of form_de_yn" [attr.selected]="(company.flexi_late == yes_no.value) ? true : null" value="{{yes_no.value}}">{{yes_no.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <h4 class="box-title">Billing Setup</h4>
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    <label>Billing Rate:</label>
                                    <input type="number" class="form-control" name="billing_rate" [(ngModel)]="company_policy.billing_rate" value="{{company.billing_rate}}" />
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Billing Breakdown:</label>
                                    <select class="form-control" name="billing_breakdown" [(ngModel)]="company_policy.billing_breakdown">
                                        <option *ngFor="let defaultyesno of form_de_yn" value="{{defaultyesno.value}}" [attr.selected]="(company.billing_breakdown == defaultyesno.value) ? true : null">{{defaultyesno.label}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Use Vat:</label>
                                    <select class="form-control" name="billing_vat" [(ngModel)]="company_policy.billing_vat">
                                        <option *ngFor="let yn of form_de_yn" value="{{ yn.value }}">{{ yn.label }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Include 13th Month:</label>
                                    <select class="form-control" name="billing_13th" [(ngModel)]="company_policy.billing_13th">
                                        <option *ngFor="let yn of form_de_yn" value="{{ yn.value }}">{{ yn.label }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-3 col-xs-12">
                                    <label>Billing ASF:</label>
                                    <select class="form-control" name="billing_asf" [(ngModel)]="company_policy.billing_asf">
                                        <option *ngFor="let billingyesno of form_bb_yn" value="{{billingyesno.value}}" [attr.selected]="(company.billing_asf == billingyesno.value) ? true : null">{{billingyesno.label}}</option>
                                    </select>
                                </div> -->
                                <div class="col-md-3 col-xs-12">
                                    <label>Admin Fee?</label>
                                    <select class="form-control" name="is_admin_fee" [(ngModel)]="company.is_admin_fee">
                                        <option *ngFor="let admin_fee_option of form_de_yn" [attr.selected]="(company.is_admin_fee == admin_fee_option.value) ? true : null" value="{{admin_fee_option.value}}">
                                            {{admin_fee_option.label}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Admin Fee Amount</label>
                                    <input type="number" class="form-control" name="admin_fee" [(ngModel)]="company.admin_fee" value="{{company.admin_fee}}" />
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label>Approver Name:</label>
                                    <input type="text" class="form-control" name="approver_name" [(ngModel)]="company.approver_name" value="{{ company.approver_name }}" placeholder="Approver Name..." />
                                </div>
                            </div>
                            <h4 class="box-title">Miscellenious</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>*Company COLA <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="Cost of Living Allowance" aria-describedby="tooltip3177">?</span>:</label>
                                    <input required type="number" class="form-control" name="cola_amount" [(ngModel)]="company_policy.cola_amount" value="{{ company.cola_amount }}" />
                                </div>
                                <div class="col-md-4">
                                    <label>*Cutoff Period:</label>
                                    <select required class="form-control" name="default_payroll_period" [(ngModel)]="company_policy.default_payroll_period">
                                        <option value=""></option>
                                        <option *ngFor="let payroll_period of form_payroll_periods" value="{{payroll_period}}" [attr.selected]="(company.default_payroll_period == payroll_period) ? true : null">{{payroll_period}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <!-- <div class="col-md-3"></div> -->
                            </div><br/>
                            <div class="row hide">
                                <div class="col-md-12 col-xs-12">
                                    <div class="panel box box-info">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      Company Policy Basic Units
                                    </a>
                                  </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="box-body">
                                                <p>Help:</p>
                                                <ul>
                                                    <li>The records below serves as the policies and rules for this company.(eg. Benefits, Memo, Violations & etc.)</li>
                                                </ul>
                                                <input type="hidden" class="form-control" value="{{company_id}}" name="company_id" [(ngModel)]="company_policy.company_id" />
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="th-200-px">Policy</th>
                                                            <th class="th-200-px">Policy Type</th>
                                                            <th class="th-110-px">Format</th>
                                                            <th class="th-50-px">Default Value</th>
                                                            <th class="th-50-px">Min/Start Value</th>
                                                            <th class="th-50-px">Max/End Value</th>
                                                            <th class="th-90-px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let form_company_policy of form_company_policies; let index_array = index">
                                                            <td>
                                                                <input type="hidden" value="{{form_company_policy.name}}" />
                                                                <input type="hidden" name="policies[{{index_array}}][id]" class="form-control" value="{{company_policy.id}}" [(ngModel)]="company_policy.policies.id[index_array]" />
                                                                <input type="text" class="form-control" name="policies[{{index_array}}][company_policy]" value="{{ form_company_policy.name }}" [(ngModel)]="company_policy.policies.company_policy[index_array]" required/>
                                                            </td>
                                                            <td>
                                                                <select required class="form-control" name="policies[{{index_array}}][company_policy_type_id]" [(ngModel)]="company_policy.policies.company_policy_type_id[index_array]">
                                                                    <option *ngFor="let policy_type of form_company_policy_types" value="{{ policy_type.id }}" [attr.selected]="(company_policy.policies.company_policy_type_id[index_array] == policy_type.id) ? 'true' : null">{{ policy_type.name }}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select required class="form-control" name="policies[{{index_array}}][format_value]" [(ngModel)]="company_policy.policies.format_value[index_array]">
                                                                    <option *ngFor="let policy_format of form_company_policy_formats" value="{{ policy_format.name }}" [attr.selected]="(policy_format.name == form_company_policy.format_value) ? 'selected' : null">{{ policy_format.label }}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" name="policies[{{index_array}}][default_value]" value="{{ form_company_policy.default_value }}" [(ngModel)]="company_policy.policies.default_value[index_array]" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" name="policies[{{index_array}}][start_value]" value="{{ form_company_policy.start_value }}" [(ngModel)]="company_policy.policies.start_value[index_array]" />
                                                            </td>
                                                            <td>
                                                                <input type="text" name="policies[{{index_array}}][end_value]" [(ngModel)]="company_policy.policies.end_value[index_array]" class="form-control" value="{{ form_company_policy.end_value }}" />
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-danger" (click)="removePolicyRow(index_array)">Remove</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="7"><a class="btn btn-success pull-right" (click)="addPolicyRow()">Add Policy</a></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="box-header with-border box-info">
                                            <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                      Company Policy Equivalent Units
                                    </a>
                                  </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in">
                                            <div class="box-body">
                                                <h4 class="box-title">Company Policy Equivalent Units</h4>
                                                <small>Equation units for this company policies, computations & misc.</small>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Title/Name</th>
                                                            <th>Description</th>
                                                            <th colspan="2">*Unit</th>
                                                            <th></th>
                                                            <th colspan="2">*Equivalent</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let company_policy_equation of form_company_policy_equations;let index_equation = index;">
                                                            <td>
                                                                <small>Name can an information:</small>
                                                                <input type="hidden" class="form-control" name="policy_equiation[{{index_equation}}][id]" value="{{ company_policy_equation.id }}" />
                                                                <input class="form-control" type="text" name="policy_equiation[{{index_equation}}][name]" value="{{ company_policy_equation.name }}" />
                                                            </td>
                                                            <td>
                                                                <small>Description of this equation:</small>
                                                                <input class="form-control" name="policy_equiation[{{index_equation}}][description]" type="text" value="{{ company_policy_equation.description }}" />
                                                            </td>
                                                            <td>
                                                                <small>Value:</small>
                                                                <input class="form-control" name="[policy_equiation[{{index_equation}}][value]" type="number" value="{{ company_policy_equation.value }}" />
                                                            </td>
                                                            <td>
                                                                <small>Unit:</small>
                                                                <select required class="form-control" name="policy_equiation[{{index_equation}}][value_unit]">
                                                                    <option *ngFor="let equivalent_unit_a of form_equivalent_units" value="{{ equivalent_unit_a.name }}" [attr.selected]="(equivalent_unit_a.name == company_policy_equation.value_unit) ? 'selected' : null">{{ equivalent_unit_a.label }}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <p></p>
                                                                <h2>=</h2></td>
                                                            <td>
                                                                <small>Value:</small>
                                                                <input class="form-control" name="policy_equiation[{{index_equation}}][equivalent_value]" type="number" value="{{ company_policy_equation.equivalent_value }}" />
                                                            </td>
                                                            <td>
                                                                <small>Unit:</small>
                                                                <select required class="form-control" name="policy_equiation[{{index_equation}}][equivalent_unit]">
                                                                    <option *ngFor="let equivalent_unit_b of form_equivalent_units" value="{{ equivalent_unit_b.name }}" [attr.selected]="(equivalent_unit_b.name == company_policy_equation.equivalent_unit) ? 'selected' : null">{{ equivalent_unit_b.label }}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-danger" (click)="removePolicyEquivalentRow(index_equation)">Remove</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="8"><a class="btn btn-success pull-right" (click)="addEquivalentUnitRow()">Add Equivalent Unit</a></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <legend></legend>
                            <button class="btn btn-success pull-right" type="submit">Update Company Policy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->