<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Edit Company Schedule
        <small>Update of schedule of Company</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../company-working-schedule">Company List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Company Schedule</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" *ngIf="message_success">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-check"></i> {{ message_title }}</h4> {{ message_success }}
                        </div>
                        <div class="alert alert-danger alert-dismissible" *ngIf="message_error">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_title }}</h4> {{ message_error }}
                        </div>
                        <h4 class="box-title">Company Information</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_company-name">Company Name:</label>
                                <input disabled type="text" id="company-name" class="form-control" placeholder="Company Name" value="{{company.name}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_company-description">Company Description</label>
                                <input disabled type="text" id="company-description" class="form-control" placeholder="Company Description" value="{{company.description}}" />
                            </div>
                        </div>
                        <h4 class="box-title">Company Contact Information</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="input_company-address">Company Address</label>
                                <input disabled type="text" id="company-address" class="form-control" placeholder="Company Address" value="{{company.address}}" />
                            </div>
                            <div class="col-md-6">
                                <label for="input_company-email">Company Email Address</label>
                                <input disabled type="text" id="company-email-address" class="form-control" placeholder="Company Email Address" value="{{company.email}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="input_company-phone-number">Company Phone Number</label>
                                <input disabled type="text" id="company-phone-number" class="form-control" placeholder="Company Phone Number" value="{{company.phone_number}}" />
                            </div>
                            <div class="col-md-6">
                                <label for="input_company-contact-person">Company Contact Person</label>
                                <input disabled type="text" id="company-contact-person" class="form-control" placeholder="Company Contact Person" value="{{company.contact_person}}" />
                            </div>
                        </div>
                        <br/>
                        <h4 class="box-title">Company Schedules</h4>
                        <p>Help:</p>
                        <ul>
                            <li>The records below serves as the schedules for this company.</li>
                            <li>Each schedule can be dedicated to certain divisions or employees.</li>
                        </ul>
                        <form #form_cp="ngForm" (ngSubmit)="updateCompanyWorkingSchedules(form_cp.value, form_cp.valid)" novalidate>
                            <input type="hidden" name="company_id" class="form-control" value="{{ company_id }}" [(ngModel)]="company_working_schedules.company_id" />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="min-width: 200px;">Name</th>
                                        <th style="min-width: 110px;">Days</th>
                                        <th>Flexi Time</th>
                                        <th style="min-width: 50px;">Grace Period (Mins.)</th>
                                        <th style="min-width: 50px;">Time-in</th>
                                        <th style="min-width: 50px;">Breaktime</th>
                                        <th style="min-width: 50px;">Break Duration (Mins.)</th>
                                        <th style="min-width: 50px;">Time-out</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let working_schedule of working_schedules; let index_array = index" id="row-company-schedule-{{ index_array }}">
                                        <td>
                                            <input type="hidden" required name="schedules[{{index_array}}][id]" class="form-control" value="{{working_schedule.id}}" [(ngModel)]="company_working_schedules.schedules.id[index_array]" />
                                            <input type="text" name="schedules[{{index_array}}][name]" class="form-control" value="{{ working_schedule.name }}" [(ngModel)]="company_working_schedules.schedules.name[index_array] " />
                                        </td>
                                        <td>
                                            <select class="form-control" required multiple name="schedules[{{index_array}}][days]" [(ngModel)]="company_working_schedules.schedules.days[index_array]">
                                                <option *ngFor="let day of form_days" value="{{day}}">{{day}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="checkbox" value="1" name="schedules[{{index_array}}][flexible_time]" [(ngModel)]="company_working_schedules.schedules.flexible_time[index_array]" [attr.checked]="working_schedule.flexi_time == 1" />
                                        </td>
                                        <td>
                                            <input type="number" required class="form-control" name="schedules[{{index_array}}][grace_period_mins]" value="{{ working_schedule.grace_period_mins }}" [(ngModel)]="company_working_schedules.schedules.grace_period_mins[index_array]" />
                                        </td>
                                        <td>
                                            <input type="text" required class="form-control" name="schedules[{{index_array}}][time_in]" [(ngModel)]="company_working_schedules.schedules.time_in[index_array]" value="{{ working_schedule.time_in }}" maxlength="8" />
                                        </td>
                                        <td>
                                            <input type="text" required class="form-control" name="schedules[{{index_array}}][lunch_break_time]" [(ngModel)]="company_working_schedules.schedules.lunch_break_time[index_array]" value="{{ working_schedule.lunch_break_time }}" maxlength="8" />
                                        </td>
                                        <td>
                                            <input type="number" required class="form-control" name="schedules[{{index_array}}][lunch_mins_break]" [(ngModel)]="company_working_schedules.schedules.lunch_mins_break[index_array]" value="{{ working_schedule.lunch_mins_break }}" />
                                        </td>
                                        <td>
                                            <input type="text" required class="form-control" name="schedules[{{index_array}}][time_out]" [(ngModel)]="company_working_schedules.schedules.time_out[index_array]" value="{{ working_schedule.time_out }}" maxlength="8" />
                                        </td>
                                        <td>
                                            <a class="btn btn-danger text-white" (click)="RemoveScheduleRow(index_array,(working_schedule.id) ? working_schedule.id : 0)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9"><a class="btn btn-info text-white pull-right" (click)="addCompanyScheduleRow()" [attr.disabled]="company_working_schedules.isValid">Add Schedule</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <legend></legend>
                            <button class="btn btn-success pull-right" type="submit">Update Company Schedule</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->