<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <section class="content-header">
      <h1>Company Policy <br/>
         <small>Edit policies by selecting a company from the company list.</small>
      </h1>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
         <li class="breadcrumb-item"><a routerLink="/admin/company-policy">Company</a></li>
         <li class="breadcrumb-item active" aria-current="page">List</li>
      </ol>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-xs-12 col-lg-12 col-md-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">Company List</h3>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  <table datatable class="row-border hover" [dtOptions]="dtOptions">
                     <!-- [dtOptions]="dtOptions" -->
                  </table>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </section>
   <!-- /.content -->
</div>