<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Company Branches
            <small>Update of branches of Company</small>
        </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../company-branch">Company List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Company Branches</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" *ngIf="message_success">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-check"></i> {{ message_title }}</h4>
                            {{ message_success }}
                        </div>
                        <div class="alert alert-danger alert-dismissible" *ngIf="message_error">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_error_title }}</h4>
                            {{ message_error }}
                        </div>
                        <small>Field with (*) are required fields.</small>
                        <h4 class="box-title">Company Information</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_company-name">*Company Name:</label>
                                <input readonly type="text" id="company-name" class="form-control" placeholder="Company Name" value="{{company.name}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_company-description">*Company Description</label>
                                <input readonly type="text" id="company-description" class="form-control" placeholder="Company Description" value="{{company.description}}"/>
                            </div>
                        </div>
                        <h4 class="box-title">Company Contact Information</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="input_company-address">*Company Address</label>
                                <input readonly type="text" id="company-address" class="form-control" placeholder="Company Address" value="{{company.address}}"/>
                            </div>
                            <div class="col-md-6">
                                <label for="input_company-email">*Company Email Address</label>
                                <input readonly type="text" id="company-email-address" class="form-control" placeholder="Company Email Address" value="{{company.email}}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="input_company-phone-number">*Company Phone Number</label>
                                <input readonly type="text" id="company-phone-number" class="form-control" placeholder="Company Phone Number" value="{{company.phone_number}}"/>
                            </div>
                            <div class="col-md-6">
                                <label for="input_company-contact-person">*Company Contact Person</label>
                                <input readonly type="text" id="company-contact-person" class="form-control" placeholder="Company Contact Person" value="{{company.contact_person}}"/>
                            </div>
                        </div>
                        <br/>
                        <h4 class="box-title">Company Branch List</h4>
                        
                        <div class="alert alert-warning alert-dismissible" *ngIf="form_company_branches?.length == 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            <p>This company record doesn't have a record of branches. Please add atleast one branch for this company or the existing company record as a <strong>main branch</strong> for this company record.</p>
                        </div>

                        <form #form_cb="ngForm" novalidate (ngSubmit)="UpdateCompanyBranches(form_cb.value, form_cb.valid)">
                        <small>Edit company branches in this form below for this company.</small>

                        <div *ngIf="success_update == true" class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            You have successfully updated the company branches for this company.
                        </div>

                        <div *ngIf="success_update == false" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Whooops!</h4>
                            Please fill up the fields. Make sure you don't leave a blank field.
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Branch Name</th>
                                    <th>Address</th>
                                    <th>Contact Number</th>
                                    <th>Contact Person</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let form_company_branch of form_company_branches; let index_array = index" id="row-company-branch-{{index_array}}">
                                    <td>
                                        <input required type="text" class="form-control" value="{{form_company_branch.branch_name}}" [(ngModel)]="company_branch.branch_name[index_array]" name="company_branch[{{index_array}}][branch_name]"/>
                                        <input type="hidden" value="{{form_company_branch.id}}" [(ngModel)]="company_branch.id[index_array]" name="company_branch[{{index_array}}][id]"/>
                                    </td>
                                    <td>
                                        <input type="text" required class="form-control" value="{{form_company_branch.branch_address}}" name="company_branch[{{index_array}}][branch_address]" [(ngModel)]="company_branch.branch_address[index_array]"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" required value="{{form_company_branch.contact_number}}" name="company_branch[{{index_array}}][contact_number]" [(ngModel)]="company_branch.contact_number[index_array]"/>
                                    </td>
                                    <td>
                                        <input required type="text" class="form-control" name="company_branch[{{index_array}}][contact_person]" value="{{form_company_branch.contact_person}}" [(ngModel)]="company_branch.contact_person[index_array]"/>
                                    </td>
                                    <td><a class="btn btn-danger" (click)="removeCompanyBranchRow(index_array)">Remove</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><a class="btn btn-success pull-right" (click)="addCompanyBranchRow()">Add Branch Row</a></td>
                                </tr>
                            </tfoot>
                        </table>
                        <button class="btn btn-success pull-right" type="submit">Update Company Branches</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->