<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">
       <div class="form-group">
          <label class="control-label" for="development">Development need</label>
          <input type="text" class="form-control" id="development" placeholder="Enter development" formControlName="development" value="{{development}}"/>
        </div>
        <div class="form-group">
          <label for="name">How are you going to meet this need?</label><br>
          Method e.g. classroom training, job shadow, conference etc<br>
          <textarea class="form-control" type="achieve_role" id="achieve_role"  value="{{achieve_role}}" formControlName="achieve_role"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="development_role">How is this going to help you in your role?</label>
          <input type="text" class="form-control" id="development_role" placeholder="Enter development_role" formControlName="development_role" value="{{development_role}}"/>
        </div>
          <label>Due by</label> <br> 
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <input id="checkbox-1" class="checkbox-custom" name="due" type="radio" (click)="due('1')" [checked]="first_month_check">
              <label for="checkbox-1" class="checkbox-custom-label">1 month</label>
              <input id="checkbox-2" class="checkbox-custom" name="due" type="radio" (click)="due('3')" [checked]="thrd_month_check">
              <label for="checkbox-2" class="checkbox-custom-label">3 months</label>
              <input id="checkbox-3" class="checkbox-custom" name="due" type="radio" (click)="due('6')" [checked]="six_months_check">
              <label for="checkbox-3"class="checkbox-custom-label">6 months</label> 
              <input id="checkbox-4" class="checkbox-custom" name="due" type="radio" (click)="due('12')" [checked]="one_year_check">
              <label for="checkbox-4"class="checkbox-custom-label">12 months</label> 
            </div>   
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-6">           
                <div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)">
                  <span class="form-control uneditable-input"  name="daterange" >
                    {{ mainInput.start | date:'M/dd/y' }} 
                  </span>
                  <span class="input-group-btn">
                    <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
                  </span>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <br>  
        <button type="submit" [disabled]="!Form.valid" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>