<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateCompanyForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Company</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Company Name" formControlName="name" value="{{name}}" />
        </div>
         <div class="form-group">
          <label class="control-label" for="name">Description</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Company Description" formControlName="description" value="{{description}}" />
        </div>
         <div class="form-group">
          <label class="control-label" for="name">Address</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Address" formControlName="address" value="{{address}}" />
        </div>
         <div class="form-group">
          <label class="control-label" for="name">Email Address</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Email Address" formControlName="email" value="{{email}}" />
        </div>
         <div class="form-group">
          <label class="control-label" for="name">Phone Number</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Phone Number" formControlName="phone_number" value="{{phone_number}}" />
        </div>
         <div class="form-group">
          <label class="control-label" for="name">Contact Person</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Company Name" formControlName="contact_person" value="{{contact_person}}" />
        </div>
        <button type="submit" [disabled]="(!updateCompanyForm.valid || on_processing == 1 )" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>