<div class="content-wrapper">    
  <section class="content-header">
    <h1>
      Holiday List <br/>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active"><a href="#">Holiday</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-10 col-md-11 col-xs-11">
        <button class="btn btn-info pull-left" (click)="add()">Add Holiday</button>        
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let x of holi">
                  <td>{{x.date}}</td>
                  <td>{{x.name}}</td>
                  <td>{{x.location}}</td>
                  <td>{{x.type}}</td>
                  <td>
                    <span class="badge badge-primary cur" (click)="edit(x.id)"><i class="fa fa-pencil"></i>&nbsp; Edit</span>&nbsp;&nbsp;
                    <span class="badge badge-danger cur"(click)="archive(x.id)"><i class="fa fa-remove"></i>&nbsp; Delete</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>     
      </div>
    </div>
  </section>
