<div class="content-wrapper">
	<div class="box-header">
		<div class="box-body content">
			<section class="content">
				<div class="box-header" style="margin-top: -25px;">
				</div>
					<div class="box-body evaluation">
					<div class="row" style="margin:25px" >
						<ng-container *ngFor="let x of evaluation_form; let i = index">
							<div class="row">
								<div class="col-md-4">
									<p style="font-size: 16pt">Name:<strong style="font-size: 16pt"> {{x.emp_name}}</strong></p>
								</div>
								<div class="col-md-4">
								</div>
								<div class="col-md-4">
									<p style="font-size: 16pt">Position:<strong style="font-size: 16pt">{{x.position}}</strong></p>
								</div>
							</div>
							<div class="row" *ngFor="let y of x.segments; let j = index">
								<div class="col-md-6 col-md-offset-5" style="font-size: 35pt; color: #3c8dbc;">{{ y.segment_name }}</div>
								<div *ngFor="let z of y.question_collection ; let o = index"  [@hideShowAnimator]="i == hideShowAnimator" >
									<br>
									<div class="row">
										<div class="col-md-11">
											<strong style="font-size: 16pt" >{{ z.question }}</strong>
										</div>

										<div>
										<div class="row" [@hideShowAnimator]="i == hideShowAnimator">
											<div class="col-md-11">
												<fieldset class="rating">
													<input type="radio"  id="star5-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="5" (change)="changeRatingValue(y,z,o,5)" /><label for="star5-{{z.q_id}}"></label>
													<input type="radio"  id="star4-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="4" (change)="changeRatingValue(y,z,o,4)" /><label for="star4-{{z.q_id}}"></label>
													<input type="radio"  id="star3-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="3" (change)="changeRatingValue(y,z,o,3)" /><label for="star3-{{z.q_id}}"></label>
													<input type="radio"  id="star2-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="2" (change)="changeRatingValue(y,z,o,2)" /><label for="star2-{{z.q_id}}"></label>
													<input type="radio"  id="star1-{{z.q_id}}" name="{{y.segment_name}}x{{z.q_id}}" value="1" (change)="changeRatingValue(y,z,o,1)" /><label for="star1-{{z.q_id}}"></label>
												</fieldset>
											</div>
										</div>
									</div>
									</div>

								</div>
							</div>
							<div class="row" (click)="hideShowAnimation(i)">
								<button class="button"><span>Next </span></button>
							</div>
						</ng-container>
					</div>
					<div class="col-md-12 text-center" > 
						<button class="send" (click)="onSubmit()">Send</button> 
					</div>
				</div>		
			</section>
		</div>
	</div>
</div>