
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Edit Schedule Master Schedule
        <small>Update of employee schedule on this specific date.</small>
      </h1>
        <ol class="breadcrumb">
            <li><a routerLink="admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="../../schedule-master-list">Company List</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Employee Schedule</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" *ngIf="message_success">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-check"></i> {{ message_title }}</h4> {{ message_success }}
                        </div>

                        <div class="alert alert-danger alert-dismissible" *ngIf="message_error">
                            <a type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearMsg()">×</a>
                            <h4><i class="icon fa fa-ban"></i> {{ message_title }}</h4> {{ message_error }}
                        </div>
                        <form [formGroup]="updateScheduleMasterForm" (ngSubmit)="updateEmployeeWorkingSchedule()" novalidate>
                            <input type="hidden" name="id" formControlName="id" />
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Employee:</label>
                                        <input type="text" class="form-control" name="employee_fullname" formControlName="employee_fullname" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Company:</label>
                                        <input type="text" class="form-control" name="company_name" formControlName="company_name" readonly/>
                                    </div>
                                    <input type="hidden" name="company_id" formControlName="company_id"/>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Schedule Date:</label>
                                        <input type="date" class="form-control" name="schedule_date" formControlName="schedule_date"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Time-In:</label>
                                        <input type="time" class="form-control" name="timein" formControlName="timein"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Time-Out:</label>
                                        <input type="time" class="form-control" name="timeout" formControlName="timeout"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Break-In:</label>
                                        <input type="time" class="form-control" name="breakin" formControlName="breakin"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Break Duration (Minute(s)):</label>
                                        <input type="number" class="form-control" name="lunch_min_break" formControlName="lunch_min_break"/>
                                    </div>
                                </div>
                            </div>
                            
                            <legend></legend>
                            <button class="btn btn-success pull-right" type="submit">Update Company Schedule</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
