<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Schedule Master</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active"><a routerLink="/admin/schedule-master-list">Schedule Master Creation</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Create Master Schedule</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div *ngIf="message_title">
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> {{message_title}}!</h4>
                                <p>{{message_success}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="createMasterSchduleForm" (ngSubmit)="renderScheduleCreationForms()">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="company">Company:</label>
                                    <select class="form-control" formControlName="company" (change)="primaryCompanyChanged()" required>
                                        <option *ngFor="let company of form_companies" value="{{company.id}}">{{company.name}}</option>
                                    </select>
                                    <small>
                                  *Please select first a company before choosing employee(s).
                                </small>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="employee">Employee:</label>
                                    <select class="form-control" formControlName="employees" multiple required>
                                        <option *ngFor="let company_employee of form_company_employees" value="{{company_employee.id}}">{{company_employee.data}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="date-range">Date Range:</label>
                                    <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                        <span>{{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                                    </div>
                                    <input type="hidden" formControlName="date_range" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" [attr.disabled]="(!createMasterSchduleForm.value) ? true : null">Generate Form</button>
                    </div>
                </form>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <form #form_schedule_master_create="ngForm" (ngSubmit)="updateCompanyWorkingSchedules(form_schedule_master_create.value, form_schedule_master_create.valid)" novalidate>
                    <div class="row" *ngFor="let form_schedule_company_per_date of form_schedule_creation_forms_array; let index_schedule_array = index">
                        <div class="col-md-12 col-xs-12">
                            <div class="box">
                                <div class="box-header text-center">
                                    <h3 class="box-title"><strong>{{form_schedule_company_per_date.schedule_date}}</strong></h3>
                                    <input type="hidden" name="schedule_master['schedule_date'][{{index_schedule_array}}]['schedule_date']" />
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Day</th>
                                                <th>Suggested Schedule</th>
                                                <th>Time In</th>
                                                <th>Time Out</th>
                                                <th>Lunch In</th>
                                                <th>Break Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let form_schedule_company_per_employee of form_schedule_company_per_date.employees; let index_date_employee = index">
                                                <td>
                                                    {{form_schedule_company_per_employee.data}}
                                                    <input type="hidden" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][company_id]" [(ngModel)]="company_working_schedules.employee_master_schedule.company_id[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                    <input type="hidden" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][schedule_date]" [(ngModel)]="company_working_schedules.employee_master_schedule.schedule_date[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                    <input type="hidden" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][employee_id]" [(ngModel)]="company_working_schedules.employee_master_schedule.employee_id[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                </td>
                                                <td>
                                                    {{form_schedule_company_per_date.day}}
                                                </td>
                                                <td>
                                                    <select2 name="work_sched" [data]="work_sched" [options]="options" [width]="106" [value]="ws_value" (valueChanged)="changedWorkingSchedule($event,form_schedule_company_per_date.schedule_date,index_date_employee)" required>
                                                    </select2>
                                                </td>
                                                <td>
                                                    <input type="time" class="form-control-xs" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][timein]" [(ngModel)]="company_working_schedules.employee_master_schedule.timein[form_schedule_company_per_date.schedule_date][index_date_employee]" required />
                                                </td>
                                                <td>
                                                    <input type="time" class="form-control-xs" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][timeout]" [(ngModel)]="company_working_schedules.employee_master_schedule.timeout[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                </td>
                                                <td>
                                                    <input type="time" class="form-control-xs" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][breakin]" [(ngModel)]="company_working_schedules.employee_master_schedule.breakin[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control-xs" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][lunch_mins_break]"  [(ngModel)]="company_working_schedules.employee_master_schedule.lunch_mins_break[form_schedule_company_per_date.schedule_date][index_date_employee]" required/>
                                                    <!-- <input type="time" class="form-control-xs" name="schedule_master[data][{{form_schedule_company_per_date.schedule_date}}][{{index_date_employee}}][breakout]" [(ngModel)]="company_working_schedules.employee_master_schedule.breakout[form_schedule_company_per_date.schedule_date][index_date_employee]" required/> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit" *ngIf="form_schedule_creation_forms_array">Save Schedule Master</button>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->