<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Schedule Master
  </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active"><a routerLink="/admin/schedule-master-list">Schedule Master List</a></li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <div class="">
              <button class="btn btn-primary pull-left" (click)="createSchedule()">Create Schedule</button>
            </div>
            <!-- success_title -->
            <div class="alert alert-success alert-dismissible" *ngIf="success_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
              <p>{{success_message}}</p>
            </div>
            <!-- error message -->
            <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
              <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
              <p>{{error_message}}</p>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="row-border hover" datatable [dtOptions]="dtOptions"></table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
