table {
	width: 100% !important;
}

@media (min-width: 768px) {
	.payroll-modal {
	    width: 900px !important;
	    margin: 30px auto;
	}
}

/* PURE CSS solution for setting height of modal window according to screen size using CSS calc */
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}