<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="updateLoanForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Employee ID</label>
          <input type="text" class="form-control" id="employee_id" placeholder="Enter your Employee ID" formControlName="employee_id" value="{{loan.employee_id}}" [(ngModel)]="loan.employee_id" [readonly]="!employee_id">
        </div>
        <div class="form-group">
          <label class="control-label" for="loan_type">Loan Type</label>
          <select class="form-control" id="loan_type" formControlName="loan_type" value="{{loan.loan_type}}" [(ngModel)]="loan.loan_type" #t (change)="getLoanType(t.value, $event)">
            <option *ngFor="let loan_type of loan_type_rec" value="{{loan_type.id}}">
              {{ loan_type.display_name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Occurence</label>
          <select class="form-control" id="type" formControlName="type" formControlName="type" value="{{loan.type}}" (change)="occurence($event.target.value)">
            <option value="REOCCURING">
              REOCCURING
            </option>
            <option value="ONCE">
              ONCE
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="loan_amount">Loan Amount</label>
          <div class="input-group">
            <span class="input-group-addon">&#8369;</span>
            <input type="text" class="form-control" id="loan_amount" placeholder="Enter loan amount" formControlName="loan_amount" value="{{loan.loan_amount}}" [(ngModel)]="loan.loan_amount">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <ng-container *ngIf="recurring">
          <div class="form-group">
            <label class="control-label" for="current_amount">Current Amount</label>
            <div class="input-group">
              <span class="input-group-addon">&#8369;</span>
              <input type="text" class="form-control" id="current_amount" placeholder="Enter your Current Loan Amount" formControlName="current_amount" value="{{loan.current_amount}}" [(ngModel)]="loan.current_amount" (keypress)="onlyDecimalNumberKey($event)">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="max_amount">Max Amount</label>
            <div class="input-group">
              <span class="input-group-addon">&#8369;</span>
              <input type="text" class="form-control" id="max_amount" placeholder="Enter your Max Loan Amount" formControlName="max_amount" value="{{loan.max_amount}}" [(ngModel)]="loan.max_amount" (keypress)="onlyDecimalNumberKey($event)">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
        </ng-container>
        <div class="form-group">
          <label class="control-label" for="date">Date:</label>
          <br>
          <div class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span> {{ date_in | date:'M/dd/y' }}</span> <b class="caret"></b>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Update</button>
        <ng-container *ngIf="deleteBtn">
          <button class="btn btn-default" (click)="archiveloan($event)"><i class="fa fa-trash" aria-hidden="true"></i>Archive Record</button>
        </ng-container>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
