<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>{{error_message}}</p>
      </div>
      <form [formGroup]="createLoanForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label" for="name">Select Employee</label>
          <!-- <input type="text" class="form-control" id="employee_id" placeholder="Enter your Employee ID" formControlName="employee_id"> -->
          <select2 [data]="LoanData" [options]="options" [width]="570" [value]="value" (valueChanged)="changed($event)"></select2>
        </div>
        <div class="form-group">
          <label class="control-label" for="loan_type">Loan Type</label>
          <select class="form-control" id="loan_type" formControlName="loan_type" #loan (change)="getLoanType(loan.value, $event)">
            <option *ngFor="let loan_type of loan_type_rec" value="{{loan_type.id}}">
              {{ loan_type.display_name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Type</label>
          <select class="form-control" id="description" readonly>
            <option value="{{loan_type}}">{{loan_type}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Occurence</label>
          <select class="form-control" id="type" formControlName="type" (change)="occurence($event.target.value)">
            <option value="REOCCURING">
              REOCCURING
            </option>
            <option value="ONCE">
              ONCE
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="loan_amount">Loan Amount</label>
          <input type="text" class="form-control text-right" id="loan_amount" placeholder="Ente Loan Amount" formControlName="loan_amount" (keypress)="onlyDecimalNumberKey($event)">
        </div>
        <ng-container *ngIf="recurring">
          <div class="form-group">
            <label class="control-label" for="max_amount">Max Amount</label>
            <input type="text" class="form-control text-right" id="max_amount" placeholder="Enter your loan Amount" formControlName="max_amount" (keypress)="onlyDecimalNumberKey($event)">
          </div>
        </ng-container>
        <div class="form-group">
          <label class="control-label" for="date">Date:</label>
          <br>
          <div class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span> {{ date_in | date:'M/dd/y' }}</span> <b class="caret"></b>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!createLoanForm.valid">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
