<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Loan List
  </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/adjustment-list">Loan</a></li>
      <li class="active">List</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!--   <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
         <a class="btn btn-info pull-left" (click)="openAddModal()">Add Permission</a>
      </div>
  </div> -->
    <div class="row">
      <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="box">
          <div class="box-header">
            <!-- Single button -->
            <div class="dropdown show">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Loan
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                 <a class="dropdown-item" (click)="openAddModalCompany()">By Company</a>
                 <a class="dropdown-item" (click)="openAddModalDepartment()">By Department</a>
                 <a class="dropdown-item" (click)="openAddModalEmployee()">By Employee</a>
                 <a class="dropdown-item" (click)="openAddModalPosition()">By Position</a>
              </div>
            </div>
        
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable class="row-border hover" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Loan Name</th>
                  <th>Type</th>
                  <th>Loan Type</th>
                  <th>Loan Amount</th>
                  <th>Current Amount</th>
                  <th>Max Amount</th>
                  <th>Date File</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let loan of ad_loan">
                  <tr (click)="clickRow(loan.id)">
                    <td>{{loan.firstname}}</td>
                    <td>{{loan.lastname}}</td>
                    <td>{{loan.display_name}}</td>
                    <td>{{loan.type}}</td>
                    <td>{{loan.loan_type}}</td>
                    <td>{{loan.loan_amount | number : '1.2-2' }}</td>
                    <td>{{loan.current_amount | number : '1.2-2' }}</td>
                    <td>{{loan.max_amount | number : '1.2-2' }}</td>
                    <td>{{loan.date_file}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>