<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <!-- success_title -->
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <!-- error message -->
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="updateLoanTypeForm.touched && !updateLoanTypeForm.controls['name'].valid">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <p>Only letters and underscore is allowed for name.</p>
      </div>
      <form [formGroup]="updateLoanTypeForm" (ngSubmit)="validateUpdate()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name" value="{{loan.name}}" [(ngModel)]="loan.name">
        </div>
        <div class="form-group">
          <label class="control-label" for="display_name">Display Name</label>
          <input type="text" class="form-control" id="display_name" placeholder="Enter your display name" formControlName="display_name" value="{{loan.display_name}}" [(ngModel)]="loan.display_name">
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Enter your description" formControlName="description" value="{{loan.description}}" [(ngModel)]="loan.description">
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Type</label>
          <select class="form-control" id="type" formControlName="type" value="{{loan.type}}" [(ngModel)]="loan.type">
            <option value="ADJUSTMENT">ADJUSTMENT</option>
            <option value="DEDUCTION">DEDUCTION</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="type">Include on Payslip?</label>
          <select class="form-control" id="include_payslip" formControlName="include_payslip">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!updateLoanTypeForm.controls['name'].valid">Update</button>
        <button class="btn btn-default" (click)="archiveLoanType($event)"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
