
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Attendance Type List
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a routerLink="/admin/attendance-type-list">Attendance Type</a></li>
    <li class="active">List</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="offset-lg-2 col-lg-10 col-md-11 col-xs-11">
        <a class="btn btn-info pull-left" (click)="addAttendanceType()">Add Attendance Type</a>
        
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of attendance">
                <td>{{x.name}}</td>
                <td>{{x.description}}</td>
                <td>
                 <i class="fa fa-pencil" style="font-size: 20px; cursor:pointer;color:#2386bf; " (click)="editAttendanceType(x.id)"></i>&nbsp;
                 <i class="fa fa-remove" style="font-size: 20px; cursor:pointer;color:#e43a3a; " (click)="archiveAttendanceType(x.id)"></i>
               </td>
             </tr>
           </tbody>
         </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->