<div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
        <h3 class="modal-title">{{title || 'Confirm'}}</h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <div class="alert alert-success alert-dismissible" *ngIf="success_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
        <p>{{success_message}}</p>
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
        <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
        <p>{{error_message}}</p>
      </div>

      <form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name" value="{{name}}" [(ngModel)]="name">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label for="name">Location:</label><br>
              <input type="text" class="form-control" id="location" placeholder="Enter Location" formControlName="location" value="{{location}}" [(ngModel)]="location">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label class="control-label" for="type" >Type:</label>
              <select2 
              [data]="type" 
              [width]="474" 
              [value]="type_value"
              (valueChanged)="changedType($event)" >
              </select2>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label>Select Date:</label>
              <div id="reportrange" class="pull-right pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)" *ngIf="!singleDate">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span> {{ mainInput.start | date:'M/dd/y' }}</span> <b class="caret"></b>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">{{button}}</button>
        <a class="btn btn-default" (click)="archive()" *ngIf="edit"><i class="fa fa-trash" aria-hidden="true"></i> Archive Record</a>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>