<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">{{title || 'Confirm'}}</h4>
			<button type="button" class="close" (click)="closes()" >&times;</button>
		</div>
		<div class="modal-body">
			<!-- success_title -->
			<div class="alert alert-success alert-dismissible" *ngIf="success_title">
				<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
				<p>{{success_message}}</p>
			</div>
			<!-- error message -->
			<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
				<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
				<p>{{error_message}}</p>
			</div>

			<div class="form-loader" *ngIf="loader">
		        <div class="row">
		          <div class="loader">
		            <div class="loading" >
		              <div class="loading-bar"></div>
		              <div class="loading-bar"></div>
		              <div class="loading-bar"></div>
		              <div class="loading-bar"></div>
		            </div>
		          </div>
		        </div>
	      	</div>

	      	<ng-container *ngIf="tableVal && !loader">

	      		<ng-container *ngIf="onboarding || clearance">
					<div *ngIf="!data">
						<h5 style="text-align: center; font-size: 12pt" ><em>"No Data Available."</em></h5>
					</div>
					<div class="form-group" *ngIf="data">
						<div class="row">
							<div class="col-md-12">
								<table class="table row-border hover">
									<thead>
										<tr>
											<th>Type</th>
											<th>Status</th>
											<th width="23%" *ngIf="checkAllVal">
											  	<input type="checkbox" id="checkAll" (click)="checkAll()" [checked]="checkAllValidation">
					  							<label for="checkAll">Check All</label>
											</th>
											<th>Remarks</th>
										</tr>
									</thead>
									<tbody *ngFor="let x of data; let i = index">
										<tr>
											<td>{{x.type}}</td>
											<td *ngIf="x.status == 'PENDING'"><span class="badge badge-primary">{{x.status}}</span></td>
											<td *ngIf="x.status == 'CHECKING'"><span class="badge badge-warning">{{x.status}}</span></td>
											<td *ngIf="x.status == 'DONE'"><span class="badge badge-success">{{x.status}}</span></td>
											<td *ngIf="x.status == 'PENDING' || x.status == 'CHECKING'">
												<input type="checkbox" (click)="checkbox(i)" [id]="i" [checked]="x.val">
												<label [for]="i">Done</label>
											</td>
											<td *ngIf="x.status == 'DONE' && checkAllVal"><span class="badge badge-success">{{x.status}}</span></td>
											<td *ngIf="x.status == 'PENDING' || x.status == 'CHECKING'">
												<ng-container *ngIf="x.val == true">
													<textarea class="form-control" name="remarks" id="remarks" rows="2" placeholder="Remarks ..." [(ngModel)]="x.remarks" required></textarea>
												</ng-container>
												<ng-container *ngIf="x.val == false">
													<i>check first the checkbox</i>
												</ng-container>
											</td>
											<td *ngIf="x.status == 'DONE'">
												<textarea class="form-control" name="remarks" id="remarks" rows="2" placeholder="Remarks ..." [(ngModel)]="x.remarks" readonly></textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</ng-container>

				<ng-container *ngIf="attend || attendModal">

					<div *ngIf="!data">
						<h5 style="text-align: center; font-size: 12pt" ><em>"No Data Available."</em></h5>
					</div>
					<div class="form-group" *ngIf="data">
						<div class="row">
							<div class="col-md-12">
								<table class="table row-border hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>Type</th>
											<th width="23%">
											  	<input type="checkbox" id="checkAll" (click)="checkAll()" [checked]="checkAllValidation">
					  							<label for="checkAll">Check All</label>
											</th>
										</tr>
									</thead>
									<tbody *ngFor="let x of data; let i = index">
										<tr>
											<td>{{x.name}}</td>
											<td>{{x.date}}</td>
											<td><i>{{x.holiday}}</i></td>
											<td>
												<input type="checkbox" (click)="checkbox(i)" id="{{i}}{{ id }}" [checked]="x.val">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</ng-container>


		    </ng-container>

		</div>
		<div class="modal-footer">
	      	<button type="button" class="btn btn-default" (click)="closes()">Close</button>
	      <ng-container *ngIf="tableVal && checkAllVal">
	        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!btnVal">OK</button>
	      </ng-container>
	      <ng-container *ngIf="attend || attendModal">
	        <button type="button" class="btn btn-primary" (click)="submit()">OK</button>
	      </ng-container>
	   	</div>
	</div>
</div>