    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title || 'Confirm'}}</h4>
          <button type="button" class="close" (click)="close()" >&times;</button>
        </div>
        <div class="modal-body">
          <div class="alert alert-success alert-dismissible" *ngIf="success_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-check"></i>{{success_title}}</h4>
            <p>{{success_message}}</p>
          </div>
          <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
            <h4><i class="icon fa fa-ban"></i>{{error_title}}</h4>
            <p>{{error_message}}</p>
          </div>
            <div class="form-group"  *ngIf="multi">
              <label class="control-label" for="employee" >Employee:</label>
              <select2 [data]="employee"
              [options]="options"
               [width]="469"
               [value]="employee_value"
               (valueChanged)="changed($event)"
              required>
              </select2>
            </div>

            <div class="form-group" *ngIf="single">
              <div class="row">
                <div class="col-md-12"> 
                <label class="control-label" for="employee" >Employee:</label><br>
                  <select2 [data]="employee" 
                  [width]="469" 
                  [value]="employee_value"
                  (valueChanged)="changed($event)"  required>
                  </select2>
                </div>
              </div>  
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-12"> 
                  <label class="control-label">Clearance:</label>&nbsp;&nbsp;
                  <input type="checkbox" id="checkAllClearance" (click)="checkAllClearance()" [checked]="checkAllValClearance">
                  <label for="checkAllClearance">Check All</label>
                  <table class="table table-bordered table-striped align-text">
                    <thead class="table-primary">
                      <tr>
                        <th>Types</th>
                        <th>Checker</th>
                      </tr>
                    </thead>
                    <tbody *ngFor= "let x of clearance; let i = index">
                      <tr *ngIf="x.status != 'DONE'">
                        <td>
                          <input type="checkbox" (change)="clearanceCheckbox(i)" [checked]="x.val" [id]="x.name">
                          <label [for]="x.name">{{x.name}}</label>
                        </td>
                        <td>
                          <ng-container *ngIf="x.val == true">
                            <select2 [data]="employeeIndiv" 
                            [width]="274" 
                            [value]="x.checker_id"
                            (valueChanged)="changedIndiv($event,i)"  required>
                            </select2>
                          </ng-container>
                          <ng-container *ngIf="x.val == false">
                            <i>check first the type</i>
                          </ng-container>
                        </td>
                      </tr>
                      <tr *ngIf="x.status == 'DONE'">
                        <td>
                          {{x.name}}
                        </td>
                        <td>
                          <span class="badge badge-success">{{x.status}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!validate">Submit</button>
        </div>
      </div>
    </div>
