.columnList {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.cur {
  cursor:pointer;
}

.align-center{
  text-align: center;
}