<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">{{title || 'Confirm'}}</h4>
			<button type="button" class="close" (click)="close()" >&times;</button>
		</div>
		<div class="modal-body">
			<div class="alert alert-success alert-dismissible" *ngIf="success_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
				<p>{{success_message}}</p>
			</div>
			<div class="alert alert-danger alert-dismissible" *ngIf="error_title">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
				<h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
				<p>{{error_message}}</p>
			</div>
			<ng-container *ngFor="let a of obj_rate">
				<div class="form-group">
					<label class="control-label">Implement:</label><br>{{a.implement}}					
				</div>
				<div class="form-group">
					<label class="control-label">Objective:</label><br>{{a.objective}}					
				</div>
				<div class="form-group">
					<label class="control-label">How to achieve it:</label><br>{{a.achieve_obj}}					
				</div>
				<div class="form-group">
					<label class="control-label">Due:</label><br>{{a.due}}					
				</div>
			</ng-container>
			<br>	
			<form [formGroup]="Form" novalidate (ngSubmit)="onSubmit()">
				<label class="control-label">Rate this Objective</label>
				<div class="form-group">	
					<input type="number" id="rate_value" value="{{rate_value}}" formControlName="rate_value" name="quantity" min="1" max="100"><strong style="font-size: 16pt;">&nbsp;%</strong>
				</div>
				<div class="form-group">	
					<textarea class="form-control" type="feedback" id="feedback" placeholder="Enter feedback/suggestion" value="{{feedback}}" formControlName="feedback" rows="6" cols="75" required></textarea>			
				</div>
				<button type="submit" [disabled]="!Form.valid" class="btn btn-primary pull-right">{{button}}</button>	
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>


