
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add Attendance
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/attendance-list">Attendance List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
  </section>



<!-- Main content -->
<section class="content">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="box">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">


          <wizard #wizard navBarLayout="large-empty-symbols">
            <wizard-step stepTitle="Search" navigationSymbol="&#xf002;" navigationSymbolFontFamily="FontAwesome">
              <div class="centered-content">
                <br><br>
                <form (submit)="FirstStep()">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="block"><b>Date range:</b></label>
                        <div id="reportrange" class="pickerdate" daterangepicker (selected)="selectedDate($event, mainInput)">
                          <i class="fa fa-calendar"></i>&nbsp;
                          <span> {{ mainInput.start | date:'M/dd/y' }} - {{ mainInput.end| date:'M/dd/y' }}</span> <b class="caret"></b>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <label class="block"><b>Company:</b></label>
                        <select2 id="company"
                        [data]="company" 
                        [options]="options"
                        [width]="330"
                        [value]="company_value"
                        (valueChanged)="changedCompany($event)" 
                        required></select2>
                      </div> 
                      <div class="col-lg-4" *ngIf="branchFil.length > 1">
                        <label class="block"><b>Branch:</b></label>
                        <select2
                          [data]="branchFil" 
                          [options]="options"
                          [width]="330"
                          [value]="branch_value"
                          (valueChanged)="changedBranchFilter($event)" 
                          required>
                        </select2>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="block"><b>Department:</b></label>
                        <select2 id="department"
                        [data]="department" 
                        [options]="options"
                        [width]="336"
                        [value]="department_value"
                        (valueChanged)="changedDepartment($event)"  required></select2>
                      </div>
                      <div class="col-lg-4">
                        <label class="block"><b>Position:</b></label>
                        <select2 id="department"
                        [data]="position" 
                        [options]="options"
                        [width]="330"
                        [value]="position_value"
                        (valueChanged)="changedPosition($event)"  required></select2>
                      </div>
                    </div>
                  </div>

                  <div class="btn-group list-inline pull-right">
                    <button type="submit" class="btn btn-primary" [disabled]="!firststep" nextStep>Search</button>
                  </div>
                </form>
              </div>
            </wizard-step>
            <wizard-step stepTitle="Choose" navigationSymbol="&#xf14a;" navigationSymbolFontFamily="FontAwesome">
              <div class="centered-content">
                <div class="form-loader" *ngIf="loader">
                    <div class="row">
                      <div class="loader">
                        <div class="loading" >
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                        </div>
                      </div>
                    </div>
                </div>

                <ng-container *ngIf="!loader">
                  <div class="form-loader" *ngIf="employeesList.length == 0">
                    <h5 align="center"><em>"No data available."</em></h5>
                  </div>
                  <ng-container *ngIf="employeesList.length != 0">
                    <br>
                    <div class="pull-right">
                      <label><b>Search:</b></label>
                      <input type="text" #myInput (keyup)="filterEmpInCheckBox(myInput.value)">
                    </div>
                    <br><br>
                    
                    <div class="form-group">

                      <ng-container *ngIf="employeesList.length != 0">
                        <label>Employee Name:</label>&nbsp;
                        <input type="checkbox" id="checkAll" (click)="checkAll()" [checked]="checkAllValidation">
                        <label for="checkAll" class="cur"><i>Check All</i></label>

                        <ul class="columnList list-unstyled">
                          <ng-container *ngFor= "let employee of employeesList;  let i = index" >
                            <li *ngIf="employee.show">
                              <input class="cur" type="checkbox" (change)="EmployeeCheckbox(i)" [checked]="employee.val" [id]="employee.name">
                              <label class="cur" [for]="employee.name">{{employee.name}}</label>
                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>

                    </div>

                  </ng-container>
                    <div class="btn-group list-inline pull-right">
                      <button type="button" class="btn btn-default" (click)="dateOption()" previousStep>Previous</button>
                      <button type="button" class="btn btn-primary" (click)="SecondStep()" [disabled]="!secondstep" nextStep>Next</button>
                    </div>
                </ng-container>
              </div>
            </wizard-step>
            <wizard-step stepTitle="Update" navigationSymbol="&#xf073;" navigationSymbolFontFamily="FontAwesome">
              <div class="centered-content">
                <div class="form-loader" *ngIf="loader">
                    <div class="row">
                      <div class="loader">
                        <div class="loading" >
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <div align="center" *ngIf="!loader && tableVal">
                  <br>
                  <button class="btn btn-info" (click)="secondStep('time')">Time View</button>
                  <button class="btn btn-success" (click)="secondStep('day')">Day View</button>
                  <br><br>
                  <h4 class="text-muted">{{start_date | date:"MMMM dd,yyyy"}} - {{end_date | date:"MMMM dd,yyyy"}}</h4>
                </div>

                <div class="form-group" *ngIf="!loader">
                  <ng-container *ngIf="timeView">
                    <br>
                    <h3 align="center" class="text-info">Time View</h3>
                    <div align="right" *ngIf="tableVal">
                      <label><b>Search:</b></label>
                      <input type="text" #myInput (keyup)="filterEmpInTimeView(myInput.value)">
                    </div>
                    <br>

                    <h5 align="center" *ngIf="sched.length == 0"><em>"No data available."</em></h5>

                    <div class="table-responsive" *ngIf="tableVal">
                      <table class="table table-active table-hover table-bordered text-center">
                        <thead>
                            <tr class="text-center location text-white">
                                <th width="17%">Employee</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th *ngIf="work_sched.length != 0">Schedule</th>
                                <th>Time In - Time Out / Lunch In - Lunch Out</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                       <tbody>
                          <ng-container *ngFor= "let sch of sched; let i = index ">
                            <ng-container *ngIf="sch.show">
                              <tr>
                               <td [rowSpan]="sch.details.length+1"> 
                                  <strong>{{sch.name}}</strong>
                               </td>
                              </tr>                   
                              <ng-container *ngFor= "let s of sch.details; let x = index">
                                  <tr>
                                    <td>
                                      <div class="branch">
                                      <select2
                                      [data]="branch" 
                                      [options]="options"
                                      [width]="100"
                                      [value]="s.branch_id"
                                      (valueChanged)="changedBranch($event,i,x)" 
                                      required>
                                      </select2>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="date">
                                        {{s.date | date:'MMM dd, yyyy'}}
                                      </div>
                                    </td>
                                    <td  *ngIf="work_sched.length != 0">
                                      <div class="branch">
                                        <select2 name="work_sched"
                                        [data]="work_sched" 
                                        [options]="options"
                                        [width]="127"
                                        [value]="ws_value"
                                        (valueChanged)="changedWorkingSchedule($event,i,x)" 
                                        required>
                                        </select2>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="sched">
                                        <input type="time" (change)="changeInputTime($event,'in',i,x)" [value]="s.start_time">
                                        &nbsp;<strong> - </strong>&nbsp;
                                        <input type="time" (change)="changeInputTime($event,'out',i,x)" [value]="s.end_time">
                                        &nbsp;<strong> / </strong>&nbsp;
                                        <input type="time" (change)="changeInputTime($event,'lunch_in',i,x)" [value]="s.break_start">
                                        &nbsp;<strong> - </strong>&nbsp;
                                        <input type="time" (change)="changeInputTime($event,'lunch_out',i,x)" [value]="s.break_end">
                                      </div>
                                    </td>
                                    <td>
                                      <div class="action">
                                        <span class="badge badge-danger cur" (click)="removeInListTimeView(i,x)"><i class="fa fa-remove"></i>&nbsp; Remove</span> <br>
                                      </div>
                                    </td>
                                  </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                      <!-- <nav aria-label="Page navigation" *ngIf="timeViewArrayId.length > 1">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="page-link">Previous</a></li>
                          <ng-container *ngFor= "let s of timeViewArrayId; let x = index">
                            <li class="page-item" (click)="paginate(x)" id="pagi{{ x }}"><a class="page-link">{{x + 1 }}</a></li>
                          </ng-container>
                          <li class="page-item"><a class="page-link">Next</a></li>
                        </ul>
                      </nav> -->
                    </div>
                  </ng-container>


                  <ng-container  *ngIf="dayView">
                    <br>
                    <h3 align="center" class="text-info">Day View</h3>
                    <div align="right" *ngIf="tableVal">
                      <label><b>Search:</b></label>
                      <input type="text" #myInput (keyup)="filterEmpInDayView(myInput.value)">
                    </div>
                    <br>

                    <h5 align="center" *ngIf="dataStorage.length == 0"><em>"No data available."</em></h5>

                    <div class="table-responsive" *ngIf="tableVal">
                      <table class="table table-hover table-bordered text-center">
                        <thead>
                          <tr class="text-center location text-white ">
                            <th width="20%">Employee</th>
                            <th>Branch</th>
                            <th>Daily Rate</th>
                            <th>Allowance</th>
                            <th>ECola</th>
                            <th>Total Days</th>
                            <th>Total Undertime (Minutes)</th>
                            <th>Total Overtime (Hours)</th>
                            <th>Total Night Diff (Hours)</th>
                            <th>Total RestDay (Minutes)</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor= "let x of dataStorage; let i = index">
                            <ng-container *ngIf="x.show">
                              <td>
                                <div class="form-group">
                                  <strong>{{x.name}}</strong>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <select2
                                  [data]="branch" 
                                  [options]="options"
                                  [width]="127"
                                  [value]="x.branch_id"
                                  (valueChanged)="changedBran($event,i)" 
                                  required>
                                  </select2>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [value]="x.daily_rate" (change)="changeInputDay(i,'dr',$event)" required>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [value]="x.allowance" (change)="changeInputDay(i,'allow',$event)" required>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [value]="x.e_cola" (change)="changeInputDay(i,'e_cola',$event)" required>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [placeholder]="x.days" (change)="changeInputDay(i,'day',$event)" required>
                                </div>
                              </td>
                               <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [placeholder]="x.undertime" (change)="changeInputDay(i,'ut',$event)"  required>
                                </div>
                               </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [placeholder]="x.overtime" (change)="changeInputDay(i,'ot',$event)" required>

                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [placeholder]="x.night_diff" (change)="changeInputDay(i,'night_diff',$event)" required>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input type="number" class="form-control input-sm controlHeight" min="0" [placeholder]="x.restday" (change)="changeInputDay(i,'restday',$event)" required>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <span class="badge badge-danger cur" (click)="removeInListDayView(i)"><i class="fa fa-remove"></i>&nbsp; Remove</span>
                                  <span class="badge badge-primary cur" (click)="checklistOfHoliday(i)" *ngIf="holiday"><i class="fa fa-calendar"></i>&nbsp; Holiday</span>
                                </div>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                </div>

                <div class="btn-group list-inline pull-right" *ngIf="!loader">
                  <ng-container *ngIf="tableVal || dataStorage.length == 0 || sched.length == 0">
                    <button type="button" class="btn btn-default"  previousStep>Previous</button>
                  </ng-container>
                  <ng-container *ngIf="tableVal">
                    <button type="button" class="btn btn-primary" [disabled]="!thirdstep" (click)="LastStep()" nextStep>Save</button>
                  </ng-container>
                </div>
              </div>
            </wizard-step>
            <wizard-step stepTitle="Complete" navigationSymbol="&#xf00c;" navigationSymbolFontFamily="FontAwesome">
              <div class="centered-content">

                  <div class="alert alert-success alert-dismissible" *ngIf="success_title">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                    <h4><i class="icon fa fa-check"></i> {{success_title}}</h4>
                    <p>{{success_message}}</p>
                  </div>
                  <div class="alert alert-danger alert-dismissible" *ngIf="error_title">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="clearErrorMsg()">×</button>
                    <h4><i class="icon fa fa-ban"></i> {{error_title}}</h4>
                    <p>{{error_message}}</p>
                  </div>

                  <div class="form-loader" *ngIf="loader">
                    <div class="row">
                      <div class="loader">
                        <div class="loading" >
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                          <div class="loading-bar"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="btn-group list-inline pull-right">
                  <button type="button" class="btn btn-default d-none"  id='back' previousStep>Previous</button>
                </div>
              </div>
            </wizard-step>
          </wizard>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

     
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
<!-- ./wrapper -->