<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()" >&times;</button>
     <h4 class="modal-title">{{title || 'Confirm'}}</h4>
   </div>
   
  
      <div class="form-group">
        <label class="control-label" for="name">Event</label>
        <input type="text" class="form-control" id="event" placeholder="Add Event" >
      </div>
       <div class="form-group">
        <label class="control-label" for="name">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Add Location" >
      </div>  
    
     
   </div>
   <div class="modal-footer">
   </div>
</div>


 