<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="small-box bg-aqua adj-right">
          <div class="inner">
            <h3>Attendance</h3>
            <p><strong>View all employees attendance</strong></p>
          </div>
          <div class="icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <a routerLink="../attendance-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small-box bg-red adj">
          <div class="inner">
            <h3>Requests</h3>
            <p><strong>Manage all the employees request</strong></p>
          </div>
          <div class="icon">
            <i class="fa fa-hourglass-half"></i>
          </div>
          <a routerLink="../action-center" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small-box bg-green adj-right">
          <div class="inner">
            <h3>Schedules</h3>
            <p><strong>Manage all the employees schedule</strong></p>
          </div>
          <div class="icon">
            <i class="fa fa-calendar-times-o"></i>
          </div>
          <a routerLink="../schedule-adjustments-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small-box bg-orange adj">
          <div class="inner">
            <h3>Payroll</h3>
            <p><strong>Generate payroll and payslip</strong></p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a routerLink="../payroll" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  <!--   <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="box box-info">
          <div class="box-header with-border"> 
          Performance Analysis         
          </div>
          <div class="box-body">
            <canvas baseChart width="892" height="221"
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"        
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>          
      </div>      
    </div>    -->   
    <!-- <div class="col-lg-4 col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Company Memo/Announcement</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-info btn-sm" (click)="addMemo()">Add Memo
            </button>
          </div>
        </div>
        <div class="box-body memo-body">
          <ul class="list-unstyled">
            <li *ngFor="let m of memo">
              <div class="row">
                <div class="col-md-2">
                  <img class="img-circle" src="../assets/img/user-placeholder.png" alt="User Avatar" width="56" height="58" />
                </div>
                <div class="col-md-10">
                  <p>- {{m.name}}</p>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="memo == 0">
            <h5 align="center"><em>"No Company Updates and Information for today. Click button below for more information."</em></h5></div>
          </div>
          <div class="box-footer clearfix">
            <a routerLink="../admin/memo-list" class="btn btn-sm btn-default btn-flat pull-right">View All</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-lg-6 ">
        <div class="box box-info request">
          <div class="box-header with-border">
            <h3 class="box-title">Upcoming Request</h3>
            <div class="box-tools pull-right">
            </div>
          </div>
          <div class="box-body request-body">
            <div class="table-responsive">
              <table class="table no-margin" *ngIf="emp_request.length != 0">
                <thead>
                  <tr style="text-align: center;">
                    <th>Date</th>
                    <th>Employee Name</th>
                    <th>Request</th>
                    <th width="50%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of emp_request">
                    <td>{{x.date | date:"MMMM dd,yyyy"}}</td>
                    <td>{{x.created_by}}</td>
                    <td>{{x.table_name}}</td>
                    <td>
                      <span class="badge badge-success cur"  (click)="approveRequest(x.id,x.url,x.type)"><i class="fa fa-check"></i>&nbsp; Approve</span>&nbsp;&nbsp;
                      <span class="badge badge-danger cur" (click)="rejectRequest(x.id,x.url,x.type)"><i class="fa fa-remove"></i>&nbsp; Reject</span>
                       <span class="badge bg-aqua cur" (click)="viewDetails(x.id,x.url,x.type,x.status)"><i class="fa fa-info"></i>&nbsp; Info</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="emp_request.length == 0">
                <h5 style="text-align: center; font-size: 12pt" ><em>"No Request Available."</em></h5>
              </div>
            </div>
          </div>
          <div class="box-footer clearfix">
            <a routerLink="../action-center" class="btn btn-sm btn-default btn-flat pull-right">View All Request</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box box-info" style="min-height: 475px">
          <div class="box-header">
            <h3 class="box-title">
              Event Calendar
            </h3>
          </div>
          <div class="box-body ">
            <div class="" style="min-height: 410px;">
              <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </section>
</div>