.hexagon {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #ffa4ff;
  margin: 17.32px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #ffa4ff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #ffa4ff;
}

/*hexagon-circle*/

.hexagon-circle {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #ff6f4a;
  margin: 17.32px 0;
}

.hexagon-circle:before,
.hexagon-circle:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon-circle:before {
  bottom: 100%;
  border-bottom: 17.32px solid #ff6f4a;
}

.hexagon-circle:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #ff6f4a;
}

/*hexagons*/
.hexagons {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #8080ff;
  margin: 17.32px 0;
}

.hexagons:before,
.hexagons:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagons:before {
  bottom: 100%;
  border-bottom: 17.32px solid #8080ff;
}

.hexagons:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #8080ff;
}

/*hexagonal*/

.hexagonal {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #80ff80;
  margin: 17.32px 0;
}

.hexagonal:before,
.hexagonal:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagonal:before {
  bottom: 100%;
  border-bottom: 17.32px solid #80ff80;
}

.hexagonal:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #80ff80;
}


/*.calendar_box {
  background-color: #81C784;
}
*/
.calendar_head {
  background-color: #00c0ef;
  background: #00c0ef;
}

.fc-center h2 {
  color: #fff;
}

/*.with-border {
  background-color: #E98F8F;
  background: #E98F8F;
}*/
.box.box-warning {
    border-top-color: #ff0000;
}

.fa-check-circle:before {
    font-size: 20px;
}

.fa-trash:before {
    font-size: 22px;
}

.fa-pencil-square:before {
    font-size: 22px;
}

.bg-color{
  background-color: #cc99ff;
}

.box.box-info{
  height: 276px;
}

.memo-body{
  height: 170px;
}

.request-body{
  height:380px;
}

.request-height{
  height: 473px;
}

.request{
  height: 473px !important;
}

.dashboard-report-container{
   grid-template-columns: repeat(3, 20px [col-start]) 5%;
}

.container-box{
  flex-direction: row;
  width: 50%; 
}

.dashboard-report-container > .adj-right  {
    width: 49%;
    margin-right: 10px;
    display: inline-block;
}

.dashboard-report-container > .adj  {
    width: 49%;
    display: inline-block;
}

.ul {
  list-style-type: none;
}


/*--loader---*/
.loader {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;  
    height: 100%;
    z-index: 9999;
}
.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;

}
.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.form-loader {
    position: relative;
    padding: 70px;
    left:-3%;
    top:56%;
}


.atabs{
    display: block;
    width: 899px;
    height: 300px;
}

.cur{
  cursor: pointer;
}


.loader {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9998;
  color: white;
}

.loading-bar {
  display: inline-block;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #03c0f0;
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #dd4c3a;
  animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #00a65a;
  animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #ff851b;
  animation-delay: .27s;
}