  <div class="loader" >
    <div class="loading">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
  </div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
</div>
<!-- /.content-wrapper -->
